<html>
	<body>
		<book class="book">
			<page class="page page--generic page--attack-rarity" data-header-icon="daggers">
				<h1 id="attack-rarity">Attack Rarity</h1>
				<p>Not all attacks have equal power and utility—some attacks are simple and have a minor impact, while other attacks are showstoppers that can completely change the course of battle.</p>
				<p>This chapter introduces attack rarities and how you can use them to vary your monster's attack patterns.</p>

				<h2>Rarities</h2>
				<p>Freeform attacks, by default, focus on achieving just <i>one</i> thing per attack—draining health, applying a condition, moving targets around, etc. But if you want to add some more variety to your monster's attacks, use rarities to adjust your attack damage and effects.</p>
				<p>There are three rarities of increasing power and threat—common, uncommon, and rare. When creating an attack, pick one—the rarer the attack, the more devastation it can cause when it hits.</p>

				<h3><span class="h3__highlight">A</span>Common Attacks</h3>
				<p>Common attacks can be performed without any significant limitation—slashing with a sword, lashing out with a tail, casting a magical cantrip, etc. These are basic actions that focus on achieving <i>one</i> thing, such as:</p>

				<ul>
					<li>Deal some damage.</li>
					<li>Apply a status condition.</li>
					<li>Apply ongoing damage.</li>
					<li>Move targets around.</li>
				</ul>

				<p>Give your monster one or two common attacks to start with, and add/improvise additional freeform attacks during play whenever they come up.</p>
				<p>For a more in-depth exploration of possible attack types and effects you can use, read <i>Making Attacks</i> (<span class="page-detail--page-number" data-target="making-attacks"></span>).</p>

				<col-break></col-break>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM wants to build an orc berserker, and—for some variety—creates two common starting attacks: <strong>Slash</strong> (deals damage on a hit vs AC) and <strong>Rend</strong> (deals ongoing damage vs Constitution saving throw).</p>
					</section>
				</example>

				<h3><span class="h3__highlight">B</span>Uncommon Attacks</h3>
				<p>Uncommon attacks are limited in use, often because they depend on a restricted resource—such as stamina, rage, focus, mana, spell slots, or ammunition—or because they need time to recharge power and strength.</p>
				<p>Because of their limitations, uncommon attacks are more powerful and can achieve <i>two</i> things—for example:</p>

				<ul>
					<li>Deal <i>double</i> damage.</li>
					<li>Deal damage <i>and</i> a status condition.</li>
					<li>Apply ongoing damage <i>and</i> a status condition.</li>
					<li>Move targets around <i>and</i> apply ongoing damage.</li>
				</ul>

				<p>There are three main forms of uncommon attack: limited charges, recharge, and cooldown. Pick the type that best suits your monster and their style of attack.</p>

				<h4>Limited Charges</h4>
				<p>Charge attacks can be used a set number of times before they are exhausted—usually 2, 3, or 5. Charges reset after the monster completes a short rest <i>or</i> completes an action that could reasonably restore some charges.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>A kobold slinger is given a <strong>Stink Pot <i>(limited 3)</i></strong> ranged attack that deals damage and applies the <i>Poisoned</i> condition. It can be used 3 times per short rest (if the kobold has access to new stink pots).</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--attack-rarity">
				<h4>Recharge</h4>
				<p>Recharge attacks can only be used again after a specific number (or range of numbers) is rolled on a d6. At the start of your monster's turn, roll to see if their attack recharges—if it does, you can use it again as normal.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>A tiefling pyromancer uses her <strong>Scorch <i>(recharge 5/6)</i></strong> attack against a player. At the start of the monster's next turn, the GM rolls a d6—they roll a 4, meaning the attack has not recharged yet and can't be used.</p>
					</section>
				</example>

				<h4>Cooldown</h4>
				<p>Cooldown attacks can only be used again after a specific number of rounds have passed. Whenever you use a cooldown attack, start a countdown timer. At the end of the monster's following turns, reduce the timer by 1—once it reaches 0, the attack has recharged.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>An aberrant scourge spits a cone of acid with its <strong>Acid Spray <i>(cooldown 2)</i></strong> attack, and the GM sets a new countdown timer to 2 (using a d6 to track the time).</p>
						<p>At the end of the scourge's following turns, the timer is reduced by 1 until—at the end of the second round—the timer reaches 0.</p>
					</section>
				</example>

				<h3><span class="h3__highlight">C</span>Rare Attacks</h3>
				<p>Rare attacks are one-use abilities that take a significant time to recover, recharging at the end of a long rest (or longer, depending on your monster). These are some of your monster's most powerful attacks—their limit breaks, overdrive techniques, masterwork magic, etc.</p>
				<p>Because they can only be used once, rare attacks can achieve <i>three</i> things—for example:</p>

				<ul>
					<li>Deal <i>triple</i> damage.</li>
					<li>Deal double damage <i>and</i> a status condition.</li>
					<li>Apply ongoing damage <i>and</i> two status conditions.</li>
					<li>Move targets around <i>and</i> apply double ongoing damage.</li>
				</ul>

				<p>Give your rare attack plenty of flavor and description—these are some of your monster's most dangerous and <i>exciting</i> abilities, so put on a good show.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM is building a greatsword-wielding soldier NPC. As a damage-dealing <i>striker</i>, the soldier is given an <strong>Omnislash (rare)</strong> attack which deals triple damage on a successful hit—devastating if it hits.</p>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Keep Freeforming</h4>
					</header>
					<section class="panel__body">
						<p>Attacks listed in a stat block aren't an exhaustive list of <i>everything</i> your monster can do—your monster can always try something new. Treat written attacks as suggestions and keep improvising new actions when necessary.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h2>Your Monster Profile</h2>
				<p>Below is an example monster profile with some premade attacks—a <i>Herald of Corruption</i>. This aberrant, barely humanoid figure spreads corruption and sickness across the land in the name of its eldritch master.</p>
				<p>Heralds sing a discordant song that deals psychic damage to any nearby creature. Their most dangerous attack secrets a burrowing parasite which can infect and corrupt living flesh, turning victims into new heralds.</p>

				<monster data-name="Herald of Corruption" data-description="Medium aberration, neutral" data-level=7 data-role="Striker" data-type="elite" data-traits="Aura (Damaging)" data-powers="execute" data-priorities="CON|INT|CHA|DEX|WIS|STR">
					<div class="monster__actions">
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Touch of Decay</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 5 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] necrotic damage.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Acid Spit</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Ranged 30 ft:</i> DC [dc-secondary] vs Dexterity. <i>Hit:</i> [damage] ongoing acid damage, save ends (Constitution vs DC [dc-primary]).</p>
						</div>
						<div class="monster__action monster__action--limited">
							<p class="monster__action__title"><strong>Poison Breath</strong> <i>(recharge 5/6)</i></p>
							<p class="monster__action__description"><i>30 ft Cone:</i> DC [dc-primary] vs Constitution. <i>Hit:</i> [damage] poison damage and the target is <i>Poisoned</i>, save ends (Constitution vs DC [dc-primary]).</p>
						</div>
						<div class="monster__action monster__action--limited">
							<p class="monster__action__title"><strong>Lifesteal</strong> <i>(limited 3)</i></p>
							<p class="monster__action__description"><i>Melee 5ft:</i> DC [dc-primary] vs Constitution. <i>Hit:</i> [damage] necrotic damage and the target loses one unspent hit die.</p>
						</div>
						<div class="monster__action monster__action--rare">
							<p class="monster__action__title"><strong>Burrowing Parasite</strong> <i>(rare)</i></p>
							<div class="monster__action__description">
								<p><i>Melee 5ft:</i> [attack] vs AC. <i>Hit:</i> the target is <i>Stunned</i> and takes [damage] ongoing necrotic damage, save ends both (Constitution vs DC [dc-primary]). The target also gains a level of exhaustion.</p>
								<p>If a creature falls to 0 hit points whilst still infected with a burrowing parasite, it becomes a <i>Lesser Herald of Corruption</i>.</p>
							</div>
						</div>
					</div>
				</monster>
			</page>
		</book>
	</body>
</html>
