<html>
	<body>
		<book class="book">
			<page class="page page--generic page--building-an-encounter" data-header-icon="skull-dragon">
				<h1 id="building-an-encounter">Building an Encounter</h1>
				<p>Once you have some monsters, it's time to start a fight. Monsters typically don't act alone, preferring instead to work with monstrous allies to surround and overcome their enemies—unless they're independent solos on a wild, destructive rampage.</p>
				<p>This chapter provides some basic guidelines on how to build quickstart encounters with varying types of monster for your players to battle.</p>

				<h2>The Basic Encounter</h2>
				<p>Building a basic encounter using quickstart monsters is very simple, requiring three steps:</p>

				<ol>
					<li><strong>Get some Monster Points:</strong> Decide how dangerous the encounter should be for your players. The more dangerous your encounter, the more <i>monster points</i> (MP) you'll have to spend on monsters.</li>
					<li><strong>Add monsters:</strong> Spend your MP to add monsters to the encounter until you reach the limit.</li>
					<li><strong>Build the monsters:</strong> Create your monster profiles as normal with an eye for interesting synergies.</li>
				</ol>

				<h3><span class="h3__highlight">1</span>Get some Monster Points</h3>
				<p>First, decide the difficulty of the encounter to see how many <i>monster points</i> (MP) you get to spend.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Encounter Difficulty</h4>
					</header>
					<section class="panel__body">
						<table class="table table--monster-encounter-difficulty">
							<thead>
								<tr>
									<th>Difficulty</th>
									<th>Total Monster Points (MP)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Easy</td>
									<td>Number of players x 0.5</td>
								</tr>
								<tr>
									<td>Normal</td>
									<td>Number of players</td>
								</tr>
								<tr>
									<td>Hard</td>
									<td>Number of players x 1.5</td>
								</tr>
								<tr>
									<td>Extreme</td>
									<td>Number of players x 2</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<col-break></col-break>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM wants to create a normal encounter for 4 players. As shown in the <i>Encounter Difficulty</i> table, this gives the GM 4 monster points with which to spend on monsters and build their encounter.</p>
					</section>
				</example>

				<h3><span class="h3__highlight">2</span>Add Monsters</h3>
				<p>Now it's time to start adding monsters to your encounter. Each monster type costs a certain number of <i>monster points</i>—the bigger the threat, the bigger the cost. Keep adding monsters until you've spent all of your MP.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Monster Value</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--monster-value">
							<table class="table">
								<thead>
									<tr>
										<th>Type</th>
										<th>MP Cost</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Minion</td>
										<td>0.25</td>
									</tr>
									<tr>
										<td>Standard</td>
										<td>1</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Type</th>
										<th>MP Cost</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Elite</td>
										<td>2</td>
									</tr>
									<tr>
										<td>Solo</td>
										<td>1 per player</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<h4>Monster Levels</h4>
				<p>Values listed in the <i>Monster Value</i> table assume you're using monsters within -3/+3 levels of the average player character—but this may not always be the case. If your monster is under or over-leveled, adjust its MP cost.</p>
				<p>For every 4 levels higher than the players, double the monster's MP cost. For every 4 levels lower, halve it.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM wants to create a horde-style normal encounter for 4 players. They add one elite monster worth 2 points, leaving 2 points for assorted minions.</p>
						<p>Normally, 2 points can buy 8 minions. By using minions 4 levels lower than the players, however, the GM is able to add 16 minions instead.</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--building-an-encounter">
				<h3><span class="h3__highlight">3</span>Build your Monsters</h3>
				<p>Once you've decided on your encounter monsters, it's time to start building them. Use the normal quickstart rules to help you generate these stat-blocks.</p>
				<p>Look for interesting synergies between your monsters based on their type and role—defenders protecting snipers, supporters buffing strikers, controllers enabling lurkers—but try to limit the number of monster roles to three per encounter to avoid overcomplicating things.</p>

				<h2>Encounter Outlines</h2>
				<p>Here are some encounter outlines you might use to help construct your own encounters. Each assumes a 4-player party with a budget of 4 <i>monster points</i> to spend—change this to suit your own game as and when needed.</p>

				<h3><span class="h3__highlight">A</span>Basic Encounters</h3>
				<p>Basic encounters focus on using standard and minion monsters, usually in equal numbers to the players for simple one-on-one battles. Use these to give your players a straightforward combat challenge against a relatively few opponents.</p>

				<encounter class="panel panel--encounter">
					<header class="panel__header">
						<h4 class="panel__title">Basic Brawl</h4>
						<ul class="panel__tags">
							<li>Two defenders protect two damage-dealers.</li>
							<li>4 MP</li>
						</ul>
						<span class="encounter__level">Normal vs 4</span>
					</header>
					<section class="panel__body">
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Monster</th>
									<th>Level</th>
									<th>MP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Standard Sniper</td>
									<td>+0</td>
									<td>1</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Standard Striker</td>
									<td>+0</td>
									<td>1</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Standard Defender</td>
									<td>+0</td>
									<td>2</td>
								</tr>
							</tbody>
						</table>
					</section>
				</encounter>

				<encounter class="panel panel--encounter">
					<header class="panel__header">
						<h4 class="panel__title">Sneak Attack</h4>
						<ul class="panel__tags">
							<li>A defender and controller cover two lurkers.</li>
							<li>4 MP</li>
						</ul>
						<span class="encounter__level">Normal vs 4</span>
					</header>
					<section class="panel__body">
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Monster</th>
									<th>Level</th>
									<th>MP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Standard Controller</td>
									<td>+0</td>
									<td>1</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Standard Defender</td>
									<td>+0</td>
									<td>1</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Standard Lurker</td>
									<td>+0</td>
									<td>2</td>
								</tr>
							</tbody>
						</table>
					</section>
				</encounter>

				<encounter class="panel panel--encounter">
					<header class="panel__header">
						<h4 class="panel__title">Sharpshooter</h4>
						<ul class="panel__tags">
							<li>Snipers supported for maximum damage.</li>
							<li>6 MP</li>
						</ul>
						<span class="encounter__level">Hard vs 4</span>
					</header>
					<section class="panel__body">
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Monster</th>
									<th>Level</th>
									<th>MP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2</td>
									<td>Standard Support</td>
									<td>+0</td>
									<td>2</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Standard Sniper</td>
									<td>+0</td>
									<td>3</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Minion Defender</td>
									<td>+0</td>
									<td>1</td>
								</tr>
							</tbody>
						</table>
					</section>
				</encounter>

				<encounter class="panel panel--encounter">
					<header class="panel__header">
						<h4 class="panel__title">Wild Mob</h4>
						<ul class="panel__tags">
							<li>A mob of wild attackers out for blood.</li>
							<li>8 MP</li>
						</ul>
						<span class="encounter__level">Extreme vs 4</span>
					</header>
					<section class="panel__body">
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Monster</th>
									<th>Level</th>
									<th>MP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>6</td>
									<td>Standard Striker</td>
									<td>+0</td>
									<td>6</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Minion Sniper</td>
									<td>−4</td>
									<td>1</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Minion Supporter</td>
									<td>+0</td>
									<td>1</td>
								</tr>
							</tbody>
						</table>
					</section>
				</encounter>

				<col-break></col-break>

				<h3><span class="h3__highlight">B</span>Horde Encounters</h3>
				<p>Horde encounters swarm your players with huge numbers of weak minions to overwhelm and overrun them. Use these to pit your players against mobs, hordes, and armies.</p>

				<encounter class="panel panel--encounter">
					<header class="panel__header">
						<h4 class="panel__title">Vast Minion Horde</h4>
						<ul class="panel__tags">
							<li>An overwhelming horde of minions.</li>
							<li>6 MP</li>
						</ul>
						<span class="encounter__level">Hard vs 4</span>
					</header>
					<section class="panel__body">
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Monster</th>
									<th>Level</th>
									<th>MP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>16</td>
									<td>Minion Defender</td>
									<td>−8</td>
									<td>1</td>
								</tr>
								<tr>
									<td>16</td>
									<td>Minion Lurker</td>
									<td>−8</td>
									<td>1</td>
								</tr>
								<tr>
									<td>32</td>
									<td>Minion Sniper</td>
									<td>−8</td>
									<td>2</td>
								</tr>
								<tr>
									<td>32</td>
									<td>Minion Striker</td>
									<td>−8</td>
									<td>2</td>
								</tr>
							</tbody>
						</table>
					</section>
				</encounter>

				<h3><span class="h3__highlight">C</span>Elite Encounters</h3>
				<p>Elite encounters feature powerful leaders and champions leading—or supporting—a troupe of other monsters. Use these for your mid-boss encounters or scenes involving named monsters.</p>

				<encounter class="panel panel--encounter">
					<header class="panel__header">
						<h4 class="panel__title">Elite Force</h4>
						<ul class="panel__tags">
							<li>An elite monster commands a band of monsters.</li>
							<li>6 MP</li>
						</ul>
						<span class="encounter__level">Hard vs 4</span>
					</header>
					<section class="panel__body">
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Monster</th>
									<th>Level</th>
									<th>MP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Elite Controller</td>
									<td>+0</td>
									<td>2</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Standard Defender</td>
									<td>+0</td>
									<td>1</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Standard Supporter</td>
									<td>+0</td>
									<td>1</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Minion Striker</td>
									<td>+0</td>
									<td>1</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Minion Sniper</td>
									<td>+0</td>
									<td>1</td>
								</tr>
							</tbody>
						</table>
					</section>
				</encounter>

				<encounter class="panel panel--encounter">
					<header class="panel__header">
						<h4 class="panel__title">Twin Terrors</h4>
						<ul class="panel__tags">
							<li>Two strong champions are ready to fight.</li>
							<li>4 MP</li>
						</ul>
						<span class="encounter__level">Normal vs 4</span>
					</header>
					<section class="panel__body">
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Monster</th>
									<th>Level</th>
									<th>MP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Elite Defender</td>
									<td>+0</td>
									<td>2</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Elite Striker</td>
									<td>+0</td>
									<td>2</td>
								</tr>
							</tbody>
						</table>
					</section>
				</encounter>

				<h3><span class="h3__highlight">D</span>Solo Encounters</h3>
				<p>Solo encounters put the party against a single, overwhelming monster. Use these for your major bosses and villains, and to capstone an adventure with a climatic boss battle.</p>

				<encounter class="panel panel--encounter">
					<header class="panel__header">
						<h4 class="panel__title">Single Combat</h4>
						<ul class="panel__tags">
							<li>A solo monster with one stat block.</li>
							<li>4 MP</li>
						</ul>
						<span class="encounter__level">Normal vs 4</span>
					</header>
					<section class="panel__body">
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Monster</th>
									<th>Level</th>
									<th>MP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Solo Striker</td>
									<td>+0</td>
									<td>4</td>
								</tr>
							</tbody>
						</table>
					</section>
				</encounter>

				<encounter class="panel panel--encounter">
					<header class="panel__header">
						<h4 class="panel__title">This Isn't Even My Final Form</h4>
						<ul class="panel__tags">
							<li>A solo monster with three distinct phases.</li>
							<li>4 MP</li>
						</ul>
						<span class="encounter__level">Normal vs 4</span>
					</header>
					<section class="panel__body">
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Monster</th>
									<th>Level</th>
									<th>MP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Solo Defender/Controller/Striker</td>
									<td>+0</td>
									<td>4</td>
								</tr>
							</tbody>
						</table>
					</section>
				</encounter>
			</page>
		</book>
	</body>
</html>
