<html>
	<body>
		<book class="book">
			<page class="page page--generic page--faq" data-header-icon="faq">
				<h1 id="faq">FAQ</h1>
				<p>This section lists at some of the frequently asked questions regarding <i>Monster Maker</i>. If your question isn't answered here, do contact me.</p>

				<h3 data-toc-ignore-book="true"><span class="h3__highlight">A</span>Is this official material?</h3>
				<p>No. This an unofficial compilation of house-rules for D&D 5e—rules that can be used to supplement material found in the PHB and DMG.</p>

				<h3 data-toc-ignore-book="true"><span class="h3__highlight">B</span>Why make this?</h3>
				<p>As a DM, I tend to improvise a lot—this generally means I need a quick, reliable way of generating combat-ready monsters for my players to fight. But even after running 5e for some years now, I still find the <i>challenge rating</i> system needlessly complicated and confusing.</p>
				<p>I'm a big fan of D&D 4e's encounter-building system and standardized monster math—and monster roles were an <i>exceptionally</i> clever means of adding some very quick variety to a combat. I've been using these mechanics as the basis for my 5e combats for a while now, and it's made encounters much easier for me to improvise as a result.</p>

				<h3 data-toc-ignore-book="true"><span class="h3__highlight">C</span>Are the numbers accurate?</h3>
				<p>The stats listed in the <i>Monster Stats by Level</i> table (<span class="page-detail--page-number" data-target="monster-stats-by-level"></span>) are rough guidelines to follow, but every adventuring party is different. Use these stats as a starting guide and tweak them if needed to best suit your players.</p>

				<h3 data-toc-ignore-book="true"><span class="h3__highlight">D</span>And the Monster Manual?</h3>
				<p>Quickstart monsters are designed to supplement any other material you choose. Quickstart profiles are not as fleshed out as officially-listed monsters, so mix-and-match both types as you see fit.</p>

				<col-break></col-break>

				<h3 data-toc-ignore-book="true"><span class="h3__highlight">E</span>Can I copy bits of this?</h3>
				<p>Feel free to reference parts of this supplement in your own free homebrew, with appropriate credit. However, please don't replicate it wholesale nor include my work in <i>any</i> for-sale variant.</p>

				<h3 data-toc-ignore-book="true"><span class="h3__highlight">F</span>Can I buy a printed version?</h3>
				<p>Not at the moment, no. I'm currently looking into this as a few people have requested a print copy. In the meantime, this project (and most of my other work) is released on <i>Pay-What-You-Want</i> terms.</p>
				<p>If this supplement has helped out your game and you'd like to support my work:</p>
				<ul>
					<li><strong>Patreon:</strong> <a href="https://patreon.com/giffyglyph">Become a Patron</a> (patreon.com/giffyglyph) to support this and my other projects.</li>
					<li><strong>Ko-fi:</strong> My <a href="https://ko-fi.com/giffyglyph">Ko-fi page</a> (ko-fi.com/giffyglyph) is always open to kind, one-off donations.</li>
					<li><strong>Spread the Word:</strong> If you've enjoyed my work, a tweet/like/review/etc would be much appreciated.</li>
				</ul>

				<div class="button-group button-group--links">
					<a class="button button--lg" href="https://www.patreon.com/bePatron?u=12684623">
						<span class="button__icon"><i class="fab fa-patreon fa-fw"></i></span>
						<span class="button__text">Become a Patron</span>
					</a>
					<a class="button button--lg" href="https://www.twitch.tv/giffyglyph">
						<span class="button__icon"><i class="fab fa-twitch fa-fw"></i></span>
						<span class="button__text">Talk on Twitch</span>
					</a>
				</div>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Contact Me</h4>
					</header>
					<section class="panel__body">
						<p>Thanks for reading this! If you have any questions or feedback, you can DM me at <a href="https://www.reddit.com/user/giffyglyph/">/u/giffyglyph</a> or <a href="https://twitter.com/giffyglyph">@giffyglyph</a>, email me at <a href="mailto:giffyglyph+dd@gmail.com">giffyglyph@gmail.com</a>, or follow my other assorted works at <a href="http://giffyglyph.com">www.giffyglyph.com</a>.</p>
					</section>
				</aside>
			</page>
		</book>
	</body>
</html>
