<html>
	<body>
		<book class="book">
			<page class="page page--generic page--making-monsters" data-header-icon="wolf">
				<h1 id="making-monsters">Making Monsters</h1>
				<p>Once you have an idea for a monster, it's time to start building a profile. Maybe you need a high level goblin king protected by an elite entourage? Or a drunken giant with some tiefling friends looking to cause chaos? Or a pack of fierce dire-wolves hungry for fresh flesh?</p>
				<p>Whatever your situation, this chapter will help you to create quickstart monster profiles and get your combat encounters up and running in seconds.</p>

				<monster data-name="Dragonborn Warden" data-description="Medium humanoid" data-level=5 data-role="Defender" data-traits="Indomitable, Reliable Attacker" data-powers="you can't leave" data-priorities="CON|STR|WIS|CHA|INT|DEX"></monster>

				<col-break></col-break>

				<h2>The Monster Profile</h2>
				<p>A quickstart monster profile is deliberately more vague than a standard monster profile, allowing you greater flexibility to improvise. A quickstart stat block includes:</p>

				<ul>
					<li><strong>Level:</strong> Quickstart monsters use <i>monster levels</i>, a one-to-one match for player <i>character levels</i>.</li>
					<li><strong>Role:</strong> Every monster has a combat role which describes their particular focus on the battlefield.</li>
					<li><strong>Armor Class:</strong> This represents how hard the monster is to hit with an attack, whether due to armor, agility, magic, training, or some other significant feature.</li>
					<li><strong>Hit Points:</strong> This is the amount of damage that the monster can endure before it dies.</li>
					<li><strong>Speed:</strong> Your monster's movement speed.</li>
					<li><strong>Attack Bonus:</strong> This represents your monster's ability to make successful attacks—melee, ranged, or magic.</li>
					<li><strong>Damage:</strong> This is the amount of damage the monster can cause with a successful attack action.</li>
					<li><strong>Spell DCs:</strong> This shows the primary ("I'm good at this") and secondary ("I'm not so good at this") DCs of any spells or effects the monster might use.</li>
					<li><strong>Ability Modifiers:</strong> These are your monster's ability modifiers—arrange them however you like. Unlike player characters, monster modifiers can go beyond 5.</li>
					<li><strong>Saving Throws:</strong> These come in three grades—best, ok, and bad. Use the highest bonus for your monster's best stat, the second bonus for it's 2nd and 3rd best stats, and the worst bonus for the 3 worst stats.</li>
					<li><strong>Initiative:</strong> Your monster's combat reaction speed.</li>
					<li><strong>Perception:</strong> Your monster's ability to notice things.</li>
					<li><strong>Stealth:</strong> Your monster's ability to hide.</li>
					<li><strong>Traits & Powers:</strong> These are special abilities and passive perks that the monster has gained from their race, class, faction, role, or some other feature.</li>
				</ul>
			</page>
			<page class="page page--generic page--making-monsters">
				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Quickstart Monsters</h4>
					</header>
					<section class="panel__body">
						<p>Quickstart monsters are bare-bones templates useful for combat and improvisation. To keep the process quick and simple, they don't obey the same rules as player characters when calculating AC, HP, attack bonuses, damage, etc.</p>
					</section>
				</aside>

				<h2>Build your Monster</h2>
				<p>Once you're ready to start building your monster, there are five basic steps to consider:</p>

				<ol>
					<li><strong>Pick a Level:</strong> Decide how dangerous your monster should be—the higher the level, the bigger the threat it will be to your players.</li>
					<li><strong>Assign a Role:</strong> Choose how your monster will function in combat—different roles confer different benefits, such as a higher AC or attack bonus.</li>
					<li><strong>Add some Traits:</strong> Give your monster some quick racial or class-based flavor with a few basic traits.</li>
					<li><strong>Choose some Powers:</strong> Add some special combat powers to make your monster stand out in their role.</li>
					<li><strong>Personalization:</strong> Tweak the default monster stats if necessary to better suit your group of players.</li>
				</ol>

				<h3><span class="h3__highlight">1</span>Pick a Level</h3>
				<p>Your first step is to assign a level to your new monster. Quickstart monsters don't use <i>challenge ratings</i>—instead, they use <i>monster levels</i> to determine their base strength. Monster levels are a one-to-one match for character levels—one 4th-level monster should be a decent contest for one 4th-level player character.</p>
				<p>For a medium challenge, use the same level as your average player character. Add +2 levels to make it a more dangerous encounter, or -2 levels for an easier time.</p>
				<p>Once you've decided on a level, check the <i>Monster Statistics by Level</i> table (<span class="page-detail--page-number" data-target="monster-stats-by-level"></span>) to find your monster's basic attributes—AC, hit points, attack bonuses, damage, etc.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Valiant, Clanda and Chansi have been unexpectedly waylaid by some bandits and a combat begins. The PCs are level 3, so the GM decides to create three 3rd-level bandits for a medium-challenge encounter.</p>
						<p>From the table, the GM can see that each bandit has (as a base) 14 AC, 33 HP, and deals 5 damage on a +3 attack roll (melee or ranged).</p>
					</section>
				</example>

				<h3><span class="h3__highlight">2</span>Apply a Role</h3>
				<p>Monsters, like player characters, have roles to play. Some charge in to fight in the front-line, some fire away from the back, some devastate and destroy their enemies with wild abandon, and some lend support to their allies.</p>
				<p>There are seven core roles that you can apply to your quickstart monsters, each with its own strengths and weaknesses: controller, defender, lurker, scout, sniper, striker, and support.</p>

				<col-break></col-break>

				<ul>
					<li><strong>Controller:</strong> Controllers disorientate their enemies, moving them around the battlefield and applying conditions. Controllers deal little direct damage themselves, preferring to weaken their enemies and allow their allies to attack with advantage.</li>
					<li><strong>Defender:</strong> Defenders shield their allies and block enemy attacks. They are harder to hit thanks to their thicker armor, but often move slower as a result.</li>
					<li><strong>Lurker:</strong> Lurkers hide out of sight until they see a weak point, then attack for massive damage. They are glass cannons, capable of dealing a lot of damage yet easily defeated if cornered.</li>
					<li><strong>Scout:</strong> Scouts like to move around, using their speed and high perception to outmaneuver their enemies. They tend to be lightly armored and carry smaller weapons to keep their weight low and speed high.</li>
					<li><strong>Sniper:</strong> Snipers stay out of harm's way, firing at enemies from a distance. They are good at ranged attacks, but fall quickly if attacked.</li>
					<li><strong>Striker:</strong> Strikers forgo defense and focus on hitting the enemy hard. Strikers are easier to hit but deal more damage with their attacks.</li>
					<li><strong>Supporter:</strong> Supporters provide aid to their allies, keeping them in peak condition. Supporters deal little damage and are relatively frail—they need protection to survive long on the battlefield.</li>
				</ul>

				<p>Each role changes the default monster statistics in some fashion—granting more AC, or reducing damage, or inflating health. Try to use a variety of roles to create interesting encounters for your players.</p>
				<p>Once you've picked a role, check the <i>Monster Roles</i> table (<span class="page-detail--page-number" data-target="monster-roles"></span>) to see how it affects your monsters attributes.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>With 3 bandits, the GM decides to have one striker to deal heavy damage, one defender to shield the striker, and one sniper to support them both.</p>
						<ul>
							<li><strong>Defender:</strong> 16 AC, 33 HP, +3 attack, 5 damage</li>
							<li><strong>Striker:</strong> 10 AC, 42 HP, +5 attack, 7 damage</li>
							<li><strong>Sniper:</strong> 14 AC, 25 HP, +3 attack, 7 damage</li>
						</ul>
					</section>
				</example>

				<h3><span class="h3__highlight">3</span>Add some Traits</h3>
				<p>To give your monster some flavor, add one or two passive traits based on its race, class, or faction. Traits help your monsters feel more unique, but try to keep them simple—avoid overly complicated mechanics.</p>
				<p>See the <i>Monster Traits</i> table (<span class="page-detail--page-number" data-target="monster-traits"></span>) for a list of example traits you can apply to your monsters—make your own if the examples don't suit your new creation.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Because the bandits work together to overpower their victims, the GM gives all three a common trait:</p>
						<ul>
							<li><strong>Teamwork:</strong> You have advantage on attack rolls when your target is within 5ft of an unrestrained ally.</li>
						</ul>
					</section>
				</example>
			</page>
			<page class="page page--generic page--making-monsters">
				<h3><span class="h3__highlight">4</span>Choose some Powers</h3>
				<p>Now it's time to add some combat powers to your monster based on their role. Powers are a good way to distinguish monsters from each other and highlight their roles—they allow defenders to defend and strikers to strike.</p>
				<p>See the <i>Monster Powers</i> tables (<span class="page-detail--page-number" data-target="monster-powers"></span>) for a list of example powers you can apply to your monsters.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>In addition to their normal attacks, the GM allocates a power to each bandit according to their combat role:</p>
						<ul>
							<li><strong>Got your Back:</strong> If you are unrestrained and standing next to a creature that is the target of an attack (which doesn't already include you), you can spend your reaction to redirect the attack onto yourself.</li>
							<li><strong>Cleave:</strong> Once per turn, when you deal damage to a creature, you can deal half-as-much damage to a target that is (a) within 5 ft of your target and (b) within your reach.</li>
							<li><strong>Close Quarters:</strong> You don't suffer disadvantage when making ranged attacks within 5 ft of a hostile creature.</li>
						</ul>
					</section>
				</example>

				<h3><span class="h3__highlight">5</span>Personalization</h3>
				<p>Finally, compare the monster template to your player characters and consider tweaking any values that seem a little over or under-powered. Lower the AC or HP if your players have trouble dealing damage, or reduce the attack bonus or damage if their defenses are a little low.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Valiant and Chansi are low on hit points thanks to an earlier encounter, so the GM considers reducing the overall damage of each bandit by 2.</p>
						<p>The party is carrying some unused healing potions, however—the GM decides to leave the challenge as-is.</p>
					</section>
				</example>

				<h3><span class="h3__highlight">6</span>Start Playing</h3>
				<p>Your quickstart monsters are now ready. Start your encounter and improvise any extra details as you go.</p>

				<h4>Refining as you Play</h4>
				<p>During an encounter, you might discover that your monster is too weak or too strong for your party. That's ok—it's hard to predict how powerful some abilities can be.</p>
				<p>If you find you need to update a monster during live play, try to do so naturally. Avoid telling players explicitly what you're doing—instead, fold it into the fiction.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>During an encounter, the GM notices that the party are having a hard time reliably hitting the defender's AC of 16. On the next successful hit, the GM says:</p>
						<p>"You hear a crack as the bandit's shield splits apart from the force of your attack, and he throws it aside."</p>
					</section>
				</example>

				<col-break></col-break>

				<monster data-name="Bandit, Shield" data-description="Medium humanoid" data-level=3 data-role="Defender" data-traits="Teamwork" data-powers="got your back" data-priorities="CON|STR|WIS|CHA|DEX|INT" data-class="minimum"></monster>

				<monster data-name="Bandit, Greatsword" data-description="Medium humanoid" data-level=3 data-role="Striker" data-traits="Teamwork" data-powers="Cleave" data-priorities="STR|CON|CHA|WIS|DEX|INT" data-class="minimum"></monster>

				<monster data-name="Bandit, Crossbow" data-description="Medium humanoid" data-level=3 data-role="Sniper" data-traits="Teamwork" data-powers="close quarters" data-priorities="DEX|WIS|INT|STR|CON|CHA" data-class="minimum"></monster>
			</page>
			<page class="page page--generic page--making-monsters page--columns-1">
				<list class="panel panel--list" data-resize=30>
					<header class="panel__header">
						<h4 class="panel__title" id="monster-stats-by-level">Monster Statistics by Level</h4>
					</header>
					<section class="panel__body">
						<table id="table-monster-statistics" class="table table--monster-statistics">
							<thead>
								<tr>
									<th>Monster Level</th>
									<th>Armor Class</th>
									<th>Hit Points</th>
									<th>Attack Bonus</th>
									<th>Damage per Action</th>
									<th>Spell DCs</th>
									<th>Percep., Init. & Stealth</th>
									<th>Prof. Bonus</th>
									<th>Saving Throws</th>
									<th>Ability Modifiers</th>
									<th>XP</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title" id="monster-roles">Monster Roles</h4>
					</header>
					<section class="panel__body">
						<table id="table-monster-roles" class="table table--monster-roles">
							<thead>
								<tr>
									<th>Role</th>
									<th>Armor Class</th>
									<th>Saving Throws</th>
									<th>Hit Points</th>
									<th>Attack Bonus</th>
									<th>Damage per Action</th>
									<th>Speed</th>
									<th>Perception</th>
									<th>Stealth</th>
									<th>Initiative</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</section>
				</list>
			</page>
			<page class="page page--generic page--making-monsters page--columns-1">
				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title" id="monster-traits">Monster Traits (1/2)</h4>
					</header>
					<section class="panel__body">
						<table class="table table--monster-traits" data-end-at=35>
							<thead>
								<tr>
									<th>d100</th>
									<th>Name</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</section>
				</list>
			</page>
			<page class="page page--generic page--making-monsters page--columns-1">
				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Monster Traits (2/2)</h4>
					</header>
					<section class="panel__body">
						<table class="table table--monster-traits" data-start-from=36>
							<thead>
								<tr>
									<th>d100</th>
									<th>Name</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</section>
				</list>
			</page>
			<page class="page page--generic page--making-monsters page--columns-1">
				<list class="panel panel--list" data-resize=30>
					<header class="panel__header">
						<h4 class="panel__title" id="monster-powers">Monster Powers (1/2)</h4>
					</header>
					<section class="panel__body">
						<table id="table-monster-powers" class="table table--monster-powers" data-start-from=1 data-end-at=26>
							<thead>
								<tr>
									<th>d100</th>
									<th>Name</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</section>
				</list>
			</page>
			<page class="page page--generic page--making-monsters page--columns-1">
				<list class="panel panel--list" data-resize=45>
					<header class="panel__header">
						<h4 class="panel__title">Monster Powers (2/2)</h4>
					</header>
					<section class="panel__body">
						<table id="table-monster-powers" class="table table--monster-powers" data-start-from=27>
							<thead>
								<tr>
									<th>d100</th>
									<th>Name</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</section>
				</list>
			</page>
		</book>
	</body>
</html>
