<html>
	<body>
		<book class="book">
			<page class="page page--generic page--making-attacks" data-header-icon="broad-dagger">
				<h1 id="making-attacks">Making Attacks</h1>
				<p>Once you have a monster, it's time to unleash it on your players. All monsters need some form of attack for them to be a true threat—a sword to slash with, huge jaws to bite down with, dark magics to cast dangerous spells with.</p>
				<p>This chapter describes how to use your quickstart monsters to attack the party in a variety of interesting ways, introducing freeform attacks and magic.</p>

				<h2>Freeform Attacks</h2>
				<p>Quickstart monsters don't start with any specific attacks listed as part of their stat-block—instead, they can use <i>freeform</i> attacks for speed, simplicity, and flexibility.</p>
				<p>When you are making an attack, describe an action that feels appropriate for the monster and it's weaponry:</p>
				<ul>
					<li>Is the dragon slashing wildly with huge claws? Then it's making a <i>slashing</i> melee attack.</li>
					<li>Is it leaning forward to take a lethal bite? Then the melee attack is <i>piercing</i>.</li>
					<li>Is the beast swiping its massive tail at you? Then it's a <i>bludgeoning</i> melee attack.</li>
					<li>Is the dragon breathing searing flame at you? Then you'll take <i>fire</i> damage from the close attack.</li>
				</ul>
				<p>Once you have described how the monster is attacking, make an attack roll using the monster's attack bonus and damage as normal.</p>

				<h4>Keep it Simple</h4>
				<p>Keep your attacks simple and straightforward, and try to avoid giving a monster more than 3 different methods of attacking—unless they are particularly notable, such as an elite leader or solo boss character. Whenever possible, use iconic and flavorsome attacks.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">A</span>Multiattacks</h3>
				<p>Once your monsters start dealing over 10 points of damage per round, consider splitting their single attack into a multiattack—this helps to prevent players being overwhelmed with massive damage from a single hit.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p><strong>Multiattack (X):</strong> The monster makes X attacks against its enemies, dealing [damage / X] damage per attack.</p>
					</section>
				</example>

				<p>The <i>Monster Multiattacks</i> table demonstrates how to create a multiattack based on a monster's damage per action—the higher the damage, the more attacks.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Monster Multiattacks</h4>
					</header>
					<section class="panel__body">
						<table class="table table--monster-multiattacks">
							<thead>
								<tr>
									<th>Total Damage<br/>per Action</th>
									<th>Attacks<br/>per Action</th>
									<th>Damage<br/>per Attack</th>
									<th>Damage (%)<br/>per Attack</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>0-9</td>
									<td>1</td>
									<td>0-9</td>
									<td>100</td>
								</tr>
								<tr>
									<td>10-29</td>
									<td>2</td>
									<td>5-15</td>
									<td>50</td>
								</tr>
								<tr>
									<td>30-59</td>
									<td>3</td>
									<td>10-20</td>
									<td>33</td>
								</tr>
								<tr>
									<td>60-99</td>
									<td>4</td>
									<td>10-25</td>
									<td>25</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h4>Minions & Multiattacks</h4>
				<p>Minions don't make multiattacks—they either hit hard with a single attack, or miss.</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Fiction First</h4>
					</header>
					<section class="panel__body">
						<p>Monsters have a lot of flexibility with freeform attacks—but try to keep things fun and fair for your players. Make sure to use attacks that make sense for your monster's type, equipment, and personality.</p>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--making-attacks">
				<h3><span class="h3__highlight">B</span>Condition Attacks</h3>
				<p>Attacks don't always have to deal direct damage to the enemy—instead, your monster can attempt to inflict a condition on its target, such as blinded, poisoned, or restrained. This is called a <i>condition attack.</i></p>
				<p>Before you make a condition attack, describe what your monster is trying to achieve and how:</p>
				<ul>
					<li>The hobgoblin snarls as it throws dust into your face, attempting to <i>blind</i> you.</li>
					<li>The giant frog's neck convulses fiercely as it spits a jet of <i>poisonous</i> fluid at you.</li>
					<li>The giant reaches down towards your weapon and tries to pull it from your grasp, <i>disarming</i> you.</li>
				</ul>
				<p>Once you've described the condition attack, make an attack as normal using the attack bonus or spell DC. If successful, the monster deals no damage and inflicts the condition on the target.</p>

				<h4>Recovering from a Condition</h4>
				<p>When you use a condition attack, try to consider how a player will recover from it. There are three methods of condition recovery:</p>
				<ul>
					<li><strong>Take an action:</strong> The player can do something on their turn to end the effect—wipe mud off their face, pick up their sword, get up from the floor. This usually requires a full action to complete, though some effects may be simple enough to need only a bonus action.</li>
					<li><strong>Make a saving throw:</strong> The player can make a saving throw at the end of their turn to shrug off the effect—strength to resist being pushed back by the wind, constitution to resist the vile poison, intelligence to overcome the terrifying illusions.</li>
					<li><strong>Wait X rounds:</strong> The effect ends naturally after a set number of rounds (usually within 2-4).</li>
				</ul>

				<p>Pick the recovery type that makes the most sense for your particular attack, and be consistent with it.</p>

				<h4>Multiattacks</h4>
				<p>If your monster has a multiattack, you can use one of the attacks to make a condition attack instead.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Whilst travelling through the Elsewood, Valiant is ambushed by a 7th-level orc. The orc has <i>Multiattack (2)</i> and, during a round of combat, uses one of the attacks to perform a <i>condition attack</i> on Valiant.</p>
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>As its first attack, the orc tries to kick your legs out from under you, Valiant, and knock you <i>prone</i>. Make a Strength saving throw to resist being knocked down—DC 15.</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>Ok... <span class="chat__action">(rolls 8)</span> ...damn it, my legs buckle.</span></li>
							<li><span class="chat__speaker">GM:</span><span>You fall painfully onto the ground. The orc roars victoriously as it follows up with a second attack, raising its mighty axe to hack down at you.</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>This can't be good...</span></li>
						</ul>
					</section>
				</example>

				<col-break></col-break>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Avoid Repetition</h4>
					</header>
					<section class="panel__body">
						<p>When using condition attacks, try to avoid doing the same thing each turn. As a general rule of thumb, leave a minimum of 1 turn between each use of a condition type.</p>
					</section>
				</aside>

				<h4>Worsening Conditions</h4>
				<p>Some special condition attacks become increasingly more severe over time, often when a player fails to make a saving throw at the end of their turn—these are <i>worsening condition attacks</i>.</p>
				<p>To make a worsening condition attack, pick three conditions of increasing severity—when the player fails a saving throw, the condition advances to the next stage.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul>
							<li><strong>Gorgon's Glare:</strong> The target's body turns to stone. First it's <i>blinded</i>, then <i>restrained</i>, then <i>petrified</i>.</li>
							<li><strong>Basilisk's Bite:</strong> Toxic venom is injected painfully into the target's body. First it is <i>poisoned</i>, then <i>paralyzed</i>, then it falls <i>unconscious</i>.</li>
						</ul>
					</section>
				</example>

				<p>If the player makes a successful recovery attempt, whether by a saving throw or other relevant action, the conditions end as per normal.</p>
				<p>Use the <i>Conditions</i> table below to help create an interesting combination for your worsening attack.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Conditions</h4>
					</header>
					<section class="panel__body">
						<table class="table table--monster-conditions">
							<thead>
								<tr>
									<th>Condition</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Blinded</td>
									<td>You can't see anything.</td>
								</tr>
								<tr>
									<td>Charmed</td>
									<td>You can't attack your charmer.</td>
								</tr>
								<tr>
									<td>Deafened</td>
									<td>You can't hear anything.</td>
								</tr>
								<tr>
									<td>Frightened</td>
									<td>You can't move towards your terror.</td>
								</tr>
								<tr>
									<td>Grappled</td>
									<td>You can't move.</td>
								</tr>
								<tr>
									<td>Incapacitated</td>
									<td>You can't take actions or reactions.</td>
								</tr>
								<tr>
									<td>Paralyzed</td>
									<td>You can't move or speak.</td>
								</tr>
								<tr>
									<td>Petrified</td>
									<td>You are turned to stone (or other material).</td>
								</tr>
								<tr>
									<td>Poisoned</td>
									<td>You have disadvantage on attacks/checks.</td>
								</tr>
								<tr>
									<td>Prone</td>
									<td>You are lying on the ground.</td>
								</tr>
								<tr>
									<td>Restrained</td>
									<td>You can't move.</td>
								</tr>
								<tr>
									<td>Stunned</td>
									<td>You can't move, act, or speak properly.</td>
								</tr>
								<tr>
									<td>Unconscious</td>
									<td>You fall unconscious.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Deep within the <i>Sunken Temple</i>, Viridian is fighting a dangerous 10th-level gorgon. The gorgon has <i>Multiattack (2)</i> and the <i>Gorgon's Glare</i> ability—a worsening condition that turns victims into stone.</p>
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The gorgon turns to you, Viridian, with eyes glowing bright. Something about them draws your attention. Make a DC 17 Wisdom saving throw.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Ok... <span class="chat__action">(rolls 14)</span> ...augh, no luck.</span></li>
							<li><span class="chat__speaker">GM:</span><span>You can't resist locking eyes with the gorgon, Viridian—you are <i>blinded</i> by her gaze.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span><i>Son of a...</i></span></li>
						</ul>
					</section>
				</example>
			</page>
			<page class="page page--generic page--making-attacks">
				<h3><span class="h3__highlight">C</span>Ongoing Damage</h3>
				<p>Sometimes a monster's attack lingers, causing harm long after the initial hit—burning acid, a bleeding wound, painful frostbite. This is <i>ongoing damage</i>, and a monster can inflict this instead of dealing direct damage.</p>
				<p>Before you make an <i>ongoing damage</i> attack, describe what your monster is trying to do:</p>

				<ul>
					<li>The mage tries to immolate your robe with a searing, magical enchantment.</li>
					<li>The orc slashes at your leg with its hooked blade.</li>
					<li>The kobold throws a vial of bubbling acid at you.</li>
				</ul>

				<p>Then make an attack as normal. If successful, the monster deals no direct damage but instead inflicts <i>ongoing</i> damage—the damage is equal to the monster's normal attack damage.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Clanda is hunting a 3rd-level giant lizard. The lizard has one attack per round, and deals 5 damage on a normal hit. During the battle, the lizard tries to spit acid and cause <i>ongoing damage</i>.</p>
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The giant lizard spits a jet of hissing acid at you, Clanda. It... <span class="chat__action">(rolls 24)</span> ...hits your AC.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Augh, these lizards are <i>the worst</i>.</span></li>
							<li><span class="chat__speaker">GM:</span><span>The acid splashes over you, and you see it quickly eat into your robes. It's going to start burning through into your skin very soon—take ongoing 5 acid damage.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Oh great, <i>I can't wait</i>. Who's turn is it now?</span></li>
							<li><span class="chat__speaker">GM:</span><span>Yours. Take 5 points of acid damage.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Damn it, I'm going to <i>skin</i> this lizard...</span></li>
						</ul>
					</section>
				</example>

				<h4>Recovering from Ongoing Damage</h4>
				<p>As with conditions, there are three primary ways in which player can attempt to recover from ongoing damage:</p>

				<ul>
					<li>
						<p><strong>Take an action:</strong> The player can do something on their turn to end the effect—pour water on the fire, tear off the bloodsucking tentacle, patch up a wound.</p>
						<p>Depending on the action taken and the nature of the effect, this may require an ability check of some kind.</p>
					</li>
					<li><strong>Make a saving throw:</strong> The player can make a saving throw at the end of their turn to try and end the effect—strength to crack through burning ice, dexterity to remove a tiny poisoned barb, charisma to sever the bond with a soul-sucking demon.</li>
					<li><strong>Wait X rounds:</strong> The effect ends naturally after a set number of rounds (usually within 2-4).</li>
				</ul>

				<p>When you create your ongoing damage attack, choose one or more recovery actions—whichever make the most sense for your particular type of damage.</p>

				<h4>Multiattacks</h4>
				<p>If your monster has a multiattack action, you can use one of the attacks within that action to make an ongoing damage attack instead.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">D</span>Area Attacks</h3>
				<p>Some monster attacks affect everyone within a wide area—explosive ammunition, frenzied whirlwinds, clouds of poison. These are <i>area attacks</i>, and a monster can make these if they have the right tools or abilities.</p>
				<p>Before you make an area attack, first describe what your monster is trying to do and how they're doing it:</p>
				<ul>
					<li>The giant swings a huge axe around in a deadly whirlwind of destruction.</li>
					<li>The goblin fires an explosive arrow towards the middle of your adventuring party.</li>
					<li>The dragon tries to burn you to cinders with an arc of scorching dragonbreath.</li>
				</ul>

				<p>Once you've described what the attack looks like, decide on it's <i>point of origin</i>—this is usually either the monster itself or the point where the attack lands.</p>
				<p>Next, choose the size of the area affected by the attack. Pick an area template, and then decide its range. Try to keep the size of your area attacks within 5ft to 20ft—unless your monster is particularly large or dangerous.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Area Templates</h4>
					</header>
					<section class="panel__body">
						<table class="table table--monster-area-templates">
							<thead>
								<tr>
									<th>Type</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Cone</td>
									<td>A cone radiating out from the origin.</td>
								</tr>
								<tr>
									<td>Cube</td>
									<td>A cube with one side on the origin</td>
								</tr>
								<tr>
									<td>Cylinder</td>
									<td>A cylinder centered on the origin.</td>
								</tr>
								<tr>
									<td>Line</td>
									<td>A straight line from the origin.</td>
								</tr>
								<tr>
									<td>Ring</td>
									<td>Everything <i>outside</i> of a designated safe range.</td>
								</tr>
								<tr>
									<td>Sphere</td>
									<td>A sphere centered on the origin.</td>
								</tr>
								<tr>
									<td>Zone</td>
									<td>An arbitrary area of influence.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<p>Finally, decide on whether the attack will deal damage on a miss to determine the final damage value.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Area Damage</h4>
					</header>
					<section class="panel__body">
						<table class="table table--monster-area-damage">
							<thead>
								<tr>
									<th>Type</th>
									<th>Damage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>No Damage on a Miss</td>
									<td>Damage per Action x0.75</td>
								</tr>
								<tr>
									<td>Half Damage on a Miss</td>
									<td>Damage per Action x0.5</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM is creating an area attack for a 4th-level artificer with a thunder cannon that deals 8 damage on a hit. The attack fires a blast of lightning energy—you can't dodge the lightning, but a resilient body might fend off some of the pain.</p>
						<ul>
							<li><strong>Thunderlance:</strong> Attacks everyone in a 20ft line for 4 points of lightning damage. Save vs Constitution, half damage (2) on a miss.</li>
						</ul>
					</section>
				</example>

				<h4>Multiattacks</h4>
				<p>An area attack requires a measure of dedicated effort and attention—you can't use an area attack as part of a standard multiattack.</p>
			</page>
			<page class="page page--generic page--making-attacks">
				<h3><span class="h3__highlight">E</span>Movement Attacks</h3>
				<p>Some monsters use attacks to move you around the battlefield—pushing, pulling, or sliding you into disadvantageous positions. These are <i>movement attacks</i>, and a monster can make these in place of doing damage.</p>
				<p>To perform a movement attack, first describe what your monster is trying to do:</p>
				<ul>
					<li>The sorcerer casts a powerful thunderwave blast to try and push you backwards into the spiked wall.</li>
					<li>The giant frog tries to hit you with its sticky tongue and pull you into its hungry mouth.</li>
					<li>The warrior tries to use a distracting feint to swap places with you.</li>
				</ul>

				<p>Once you've described the attack, decide on the type of movement you want to happen to your target—is it a pull, push, slide, or direct movement?</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Movement Types</h4>
					</header>
					<section class="panel__body">
						<table class="table table--monster-movement-types">
							<thead>
								<tr>
									<th>Type</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Direct</td>
									<td>The target is moved instantly to a spot (such as by a teleport or magical effect).</td>
								</tr>
								<tr>
									<td>Pull</td>
									<td>The target is pulled towards you in a straight line (or as close as possible).</td>
								</tr>
								<tr>
									<td>Push</td>
									<td>The target is pushed away from you in a straight line (or as close as possible).</td>
								</tr>
								<tr>
									<td>Slide</td>
									<td>The target is moved in a general direction.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<p>Finally, decide on the distance your target should be moved if hit. Try to keep this within 10 ft to 30 ft—unless your monster is particularly large or dangerous.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Chansi is fighting a 6th-level giant who—in a drunken rage—is trying to destroy her forest home.</p>
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The giant kicks out at you with a swing of its huge leg, Chansi. It... <span class="chat__action">(rolls 17)</span> ...hits your AC.</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>Damn, for how much damage?</i></span></li>
							<li><span class="chat__speaker">GM:</span><span>No damage, but the blunt force of the impact sends you flying backwards 30 ft.</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>Right into the mud? You <i>bastard</i>, these are my new boots!</span></li>
						</ul>
					</section>
				</example>

				<h4>Avoid Cheapshots</h4>
				<p>Although movement attacks can move players into or onto dangerous terrain—boiling lava, sharp spikes, cliff edges, etc—take care when doing so.</p>
				<p>Avoid moving your player characters into obviously fatal situations if they don't have any reasonable means of defense, escape, or survival. When in doubt, grant them a saving throw to fall prone or grab hold of an edge.</p>

				<h4>Multiattacks</h4>
				<p>If your monster has a multiattack action, you can use one of the attacks within that action to make an movement attack instead.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">F</span>Resource Attacks</h3>
				<p>Some attacks don't seek to harm you directly, but instead try to leech precious resources from you—stamina, mana, gold, etc. These are called <i>resource attacks</i>, and they can be very dangerous to an unsuspecting party.</p>
				<p>To make a resource attack, first decide what type of resource your monster is trying to drain. Pick one from the list below, or choose your own if no option fits.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Resource Types</h4>
					</header>
					<section class="panel__body">
						<table class="table table--monster-resource-types">
							<thead>
								<tr>
									<th>Type</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Death Saves</td>
									<td>The target gains a failed death save.</td>
								</tr>
								<tr>
									<td>Exhaustion</td>
									<td>The target gains a level of exhaustion.</td>
								</tr>
								<tr>
									<td>Gold</td>
									<td>The target is drained of some gold (or other form of wealth).</td>
								</tr>
								<tr>
									<td>Hit Dice</td>
									<td>The target is drained of one (or more) of their unspent hit die.</td>
								</tr>
								<tr>
									<td>Spell Slots</td>
									<td>The target is drained of one unspent spell slot (either their lowest or highest slot level).</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<p>Once you've picked a resource, decide how much is drained per hit (1 exhaustion, 1 hit die, 50 gp, etc). Then describe how your monster is performing the attack:</p>
				<ul>
					<li>The master thief pickpockets you (drain <i>gold</i>).</li>
					<li>The spectral wraith wraps around you and starts to feed on your soul (drain <i>hit dice</i>).</li>
					<li>The void sorcerer grabs hold of your arm and steals a portion of your magical energy (drain spell slots).</li>
				</ul>

				<p>Finally, roll an attack as normal. If successful, the monster deals no direct damage but instead drains their target of the desired resource.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridian is fighting <i>Eldris Brune</i>, a 4th-level warlock who has been commanded by her patron—for unknowable reasons—to destroy all gold in the region.</p>
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>"I'm really sorry about this, but I can't disobey my patron!" says Eldris as she raises a hand towards you, Viridian. Make a DC 12 Dexterity saving throw.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Ok... <span class="chat__action">(rolls 7)</span> ...augh, that's <i>typical</i>.</span></li>
							<li><span class="chat__speaker">GM:</span><span>A yellow beam strikes you in the chest, but you feel no pain. In fact, you feel lighter. Your hand moves down to your belt purse. Your <i>now-empty</i> purse.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>... My <i>what</i>? I had 50 gp in that purse!</span></li>
							<li><span class="chat__speaker">GM:</span><span>"Oh dear, I'm terribly sorry about that!" winces Eldris. "My patron recommends that you switch to silver pieces in future!"</span></li>
							<li><span class="chat__speaker">Viridian:</span><span></span> Ok that does it—I'm not taking investment advice from an eldritch horror.</li>
						</ul>
					</section>
				</example>

				<h4>Multiattacks</h4>
				<p>If your monster has a multiattack action, you can use one of the attacks within that action to make a resource attack instead.</p>
			</page>
			<page class="page page--generic page--making-attacks">
				<h3><span class="h3__highlight">G</span>Example Attack Actions</h3>
				<p>To get you started with freeform attacks, here are some basic attack actions you might give your monster. Use these as a starting point to create your own attacks.</p>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Slash</h4>
						<ul class="panel__tags">
							<li>Melee Attack</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You slash at one target within reach.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> AC.</li>
							<li><strong class="feature__title">Hit</strong> Deal 100% damage.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Twin Strike</h4>
						<ul class="panel__tags">
							<li>Ranged Attack</li>
							<li>Multiattack (2)</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You shoot at two targets within range of your weapon.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> AC.</li>
							<li><strong class="feature__title">Hit</strong> Deal 50% damage.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Explosive Jar</h4>
						<ul class="panel__tags">
							<li>Ranged Attack</li>
							<li>Area</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You throw a small jar of explosive gas, igniting everyone—friend or foe—within a small area.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> Dexterity.</li>
							<li><strong class="feature__title">Hit</strong> Deal 50% damage.</li>
							<li><strong class="feature__title">Miss</strong> Deal 25% damage.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Scorpid Sting</h4>
						<ul class="panel__tags">
							<li>Melee Attack</li>
							<li>Condition (Worsening)</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You stab at your target with a poisoned dagger that—if not treated properly—quickly renders your target unconscious.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> AC.</li>
							<li>
								<p><strong class="feature__title">Hit</strong> The target is <i>Poisoned</i>, save ends (Constitution vs your spell DC). If the target fails their saving throw, their condition worsens.</p>
								<ul>
									<li><strong class="feature__title">First Failed Save</strong> The target is also <i>Paralyzed</i>.</li>
									<li><strong class="feature__title">Second Failed Save</strong> The target falls <i>Unconscious</i> and—while unconscious—automatically fails any Constitution saving throw it makes. This effect ends once the poison is treated or otherwise removed.</li>
								</ul>
							</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Rend</h4>
						<ul class="panel__tags">
							<li>Melee Attack</li>
							<li>Ongoing</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You tear open a painful wound on one target.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> AC.</li>
							<li><strong class="feature__title">Hit</strong> Deal ongoing damage equal to 100% of your normal damage, save ends (Constitution vs your spell DC).</li>
						</ul>
					</section>
				</attack>

				<col-break></col-break>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Whirlwind</h4>
						<ul class="panel__tags">
							<li>Melee Attack</li>
							<li>Area</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You swing your blades in a whirlwind of destruction and attack everyone within reach of your weapons.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> AC.</li>
							<li><strong class="feature__title">Hit</strong> Deal 75% damage.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Sword Feint</h4>
						<ul class="panel__tags">
							<li>Melee Attack</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You distract your target with a sly flourish, then stab out with your weapon at an exposed weak spot.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> Intelligence.</li>
							<li><strong class="feature__title">Hit</strong> Deal 100% damage.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Cross-slash</h4>
						<ul class="panel__tags">
							<li>Melee Attack</li>
							<li>Multiattack (3)</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You slash wildly at three targets within reach.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> AC.</li>
							<li><strong class="feature__title">Hit</strong> Deal 33% damage.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Doom</h4>
						<ul class="panel__tags">
							<li>Ranged Attack</li>
							<li>Condition (Worsening)</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You create a vision of your targets deepest fears.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> Wisdom.</li>
							<li>
								<p><strong class="feature__title">Hit</strong> The target is <i>Frightened</i>, save ends (Wisdom vs your spell DC). if the target fails their saving throw, their condition worsens.</p>
								<ul>
									<li><strong class="feature__title">First Failed Save</strong> The target is also <i>Stunned</i>.</li>
								</ul>
							</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Arrow of Spell Drain</h4>
						<ul class="panel__tags">
							<li>Ranged Attack</li>
							<li>Resource</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You shoot a spell-draining arrow at a single target.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> AC.</li>
							<li><strong class="feature__title">Hit</strong> The target is drained of their lowest-level unspent spell slot.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Beguiling Voice</h4>
						<ul class="panel__tags">
							<li>Ranged Attack</li>
							<li>Condition</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You speak mystic words to beguile the mind of your target and sway them to your cause.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> Charisma.</li>
							<li><strong class="feature__title">Hit</strong> The target is <i>Charmed</i>, save ends (Charisma vs your spell DC).</li>
						</ul>
					</section>
				</attack>
			</page>
			<page class="page page--generic page--making-attacks">
				<h2>Using Magic</h2>
				<p>Quickstart monsters don't use the same vancian magic system as characters—it requires too much time to set up. Instead of spell-slots and predefined spells, quickstart monsters use a simple freeform magic system.</p>
				<p>Pick a narrow one-word theme for your monster—such as fire, water, shadow, decay, etc. Now your monster can make freeform attacks using that theme, just as they could if they were using any mundane weapon.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM creates a 3rd-level tiefling sorceress with a "fire" magic theme, leading a host of goblins. In a fierce battle against the party, the sorceress can do any simple magical action on her turn, such as:</p>
						<ul>
							<li><strong>Ranged Attack:</strong> Shoot a scorching-hot jet of fire at a single target (Attack vs AC).</li>
							<li><strong>Area Attack:</strong> Launch an explosive fireball at a cluster of people (Spell DC vs Dexterity).</li>
							<li><strong>Restrain:</strong> Create a cage of fire to imprison an enemy (Spell DC vs Constitution).</li>
							<li><strong>Create Cover:</strong> Create a wall of fire to block movement or provide cover (Concentration).</li>
							<li><strong>Force Movement:</strong> Force an enemy to move back 5ft from extreme heat (Spell DC vs Constitution).</li>
							<li><strong>Burn Stamina:</strong> Burn away an enemy's hit die (Spell DC vs Constitution).</li>
							<li><strong>Enchant Allies:</strong> Imbue her allies with fire magic so that their attacks deal fire damage (Concentration).</li>
						</ul>
					</section>
				</example>

				<h3>Concentration</h3>
				<p>Any significant and long-lasting magical effects that a monster might cast require some form of concentration—enchantments, ongoing effects, summons, etc. A monster can only maintain one concentration effect at a time, unless they are especially powerful creatures.</p>

				<h4>Ending Concentration</h4>
				<p>Monsters can end their concentration spells at will. Unlike player characters, monsters don't have to roll to maintain their concentration spells when they take damage—the spell automatically persists. Spells end naturally if the monster is killed or knocked unconscious.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>When her goblin horde flees the battlefield, the enraged tiefling sorceress summons 8 fire elemental minions. This particular spell is a <i>Concentration</i> effect—she must drop her <i>Flame Wall</i> spell to do so.</p>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Keep Things Simple</h4>
					</header>
					<section class="panel__body">
						<p>Don't over complicate your freeform magic spells—keep your spells focused on one specific goal. Are you trying to hurt someone, help someone, or hinder someone?</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Healing Magic</h3>
				<p>Monsters rarely have access to healing magic—unless they are <i>exceptional</i> creatures with rare powers, items, or equipment. If your monster has access to any healing abilities or restorative powers, restrict their ability to just 3 uses per encounter.</p>
				<p>A basic healing spell restores 30% of the target's maximum hit points per casting. This can be divided evenly across multiple targets to create an area healing spell—healing two people for 15%, three for 10%, etc.</p>

				<h4>Multiattacks</h4>
				<p>Healing magic requires significant attention and can't be performed as part of a multiattack action unless your monster is specially trained to do so.</p>

				<h3>Magic Themes</h3>
				<p>If you want a starting theme for your monster's magic, choose one from the table below. Use this theme to build flavorful attacks for your new creation.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Magic Themes</h4>
					</header>
					<section class="panel__body">
						<table class="table table--monster-magic-themes">
							<thead>
								<tr>
									<th>Theme</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Restoration</td>
									<td>Heal and mend.</td>
								</tr>
								<tr>
									<td>Decay</td>
									<td>Erode, poison, and corrupt.</td>
								</tr>
								<tr>
									<td>Shadow</td>
									<td>Create darkness and manipulate shadows.</td>
								</tr>
								<tr>
									<td>Light</td>
									<td>Create light and illusions.</td>
								</tr>
								<tr>
									<td>Death</td>
									<td>Sever souls from bodies, talk to the dead, animate dead.</td>
								</tr>
								<tr>
									<td>Life</td>
									<td>Restore a soul to a body, tie souls to inanimate objects, modify spiritwebs.</td>
								</tr>
								<tr>
									<td>Destruction</td>
									<td>Destroy and obliterate.</td>
								</tr>
								<tr>
									<td>Protection</td>
									<td>Shield and defend.</td>
								</tr>
								<tr>
									<td>War</td>
									<td>Incite emotions, and cause rage or passion.</td>
								</tr>
								<tr>
									<td>Peace</td>
									<td>Dampen emotions, cause calm.</td>
								</tr>
								<tr>
									<td>Earth</td>
									<td>Control over earth and rock.</td>
								</tr>
								<tr>
									<td>Air</td>
									<td>Control over air and wind.</td>
								</tr>
								<tr>
									<td>Fire</td>
									<td>Control over fire and heat.</td>
								</tr>
								<tr>
									<td>Water</td>
									<td>Control over water and ice.</td>
								</tr>
								<tr>
									<td>Strength</td>
									<td>Control physical power, muscle mass, and endurance.</td>
								</tr>
								<tr>
									<td>Knowledge</td>
									<td>Divination, detect alignment, learn secrets.</td>
								</tr>
								<tr>
									<td>Body</td>
									<td>Transmute flesh, change physical appearance, polymorph, and petrify.</td>
								</tr>
								<tr>
									<td>Mind</td>
									<td>Telepathy, domination, read thoughts, and sense truth.</td>
								</tr>
								<tr>
									<td>Metal</td>
									<td>Detect, shape, create, and move metal.</td>
								</tr>
								<tr>
									<td>Lightning</td>
									<td>Create and channel lightning, electricity.</td>
								</tr>
								<tr>
									<td>Sound</td>
									<td>Create sounds, silence, long range communication, change voice.</td>
								</tr>
								<tr>
									<td>Sight</td>
									<td>Truesight, perception, alter vision, sight-beyond-sight, scrying.</td>
								</tr>
								<tr>
									<td>Plants</td>
									<td>Control and communicate with plants.</td>
								</tr>
								<tr>
									<td>Beasts</td>
									<td>Control and communicate with animals.</td>
								</tr>
								<tr>
									<td>Fear</td>
									<td>Create fear and nightmares.</td>
								</tr>
								<tr>
									<td>Resolve</td>
									<td>Reinforce willpower and create geas.</td>
								</tr>
								<tr>
									<td>Time</td>
									<td>Alter the flow of time.</td>
								</tr>
								<tr>
									<td>Space</td>
									<td>Teleportation, size, and pocket dimensions.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>
			</page>
			<page class="page page--generic page--making-attacks">
				<h3>Counterspell</h3>
				<p>Your monsters might face a party wielding <i>Counterspell</i>. This is easy to accommodate—any non-cantrip magic cast by your monster has a spell level equal to half their monster level, rounded up (to a maximum of 5th-level).</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Counterspell</h4>
					</header>
					<section class="panel__body">
						<p><strong>Spell Level: </strong> Monster Level / 2 (max. 5th-level)</p>
					</section>
				</mechanic>

				<p>For a particularly notable or signature magic spell cast by your monster, use a spell level of your choosing.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Atop the <i>Hellfire Pinnacle</i>, Clanda battles against a ferocious tiefling sorceress (a 5th-level monster).</p>
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>Arcane sigils spiral around the sorceress' hands as she unleashes—</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>I cast <i>Counterspell</i>.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Of <i>course</i> you do. She's casting a 3rd-level spell (5th-level monster / 2)—the sigils shatter with arcane power. "You'll pay for that, witch," she hisses.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>I'm sure I will. Why don't I start by teaching you how to cast fireball properly...?</span></li>
						</ul>
					</section>
				</example>

				<h4>Monstrous Counterspell</h4>
				<p>Your monsters can also wield their own <i>Counterspell</i> magics in battle. Sorcerers, eldritch horrors, martial spellbreakers—whatever their form, they may have an option to disrupt spellcasting.</p>
				<p>Use this sparingly—a standard monster should only be able to cast <i>Counterspell</i> once per encounter, if at all. Elite and Solo monsters may be able to use this power multiple times, depending on their nature.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">Clanda:</span><span>See, first you say the words "I cast fireball, you wretched tiefling", and then—</span></li>
							<li><span class="chat__speaker">GM:</span><span>The tiefling casts <i>Counterspell</i>.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>...Of <i>course</i> she does.</span></li>
						</ul>
					</section>
				</example>

				<p>The maximum spell level a monster can <i>Counterspell</i>—without needing to make a confirmation ability check—is equal to half their monster level, rounded up (to a maximum of 5th-level).</p>
				<p>If your monster has multiple charges of <i>Counterspell</i>, you can combine them—you gain +1 maximum spell level for each additional charge of <i>Counterspell</i> you spend.</p>

				<h3>Summoning</h3>
				<p>Some powerful spellcasters have the ability to summon new monsters into battle—conjured familiars, risen undead, planar elementals, etc. A single summoner can quickly turn the odds against an unsuspecting party.</p>
				<p>To start adding summoners to your game, all you need is some <i>Monster Points (MP)</i> and a little freeform magic.</p>

				<col-break></col-break>

				<h4>Monster Points</h4>
				<p><i>Monster Points (MP)</i> reflect the amount of summoning power your monster has—more power means more MP to spend on summoning spells.</p>
				<p>Each monster rank (minion, standard, elite, and solo) is worth a set amount of MP—the higher the rank, the higher the cost. Whenever you perform a summoning spell, simply subtract the total MP cost of your summoned monsters from your summoner.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Summoning Costs</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--monster-summoning-costs">
							<table class="table">
								<thead>
									<tr>
										<th>Type</th>
										<th>MP</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>4 x minion</td>
										<td>1</td>
									</tr>
									<tr>
										<td>1 x standard</td>
										<td>1</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Type</th>
										<th>MP</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1 x elite</td>
										<td>2</td>
									</tr>
									<tr>
										<td>1 x solo</td>
										<td>1 per player</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<h4>Creating a Summoner</h4>
				<p>To create a summoner, simply give them a budget of MP for the encounter. That's it—your summoner can now summon any combination of monsters so long as they have enough MP. Use this flexibility to surprise your players and keep your combat exciting.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM wants to create a low-level necromancer that can summon undead skeletons to fight the party. With freeform summoning, the necromancer is given a small budget of <i>Monster Points</i>—2 MP.</p>
						<p>During combat, the necromancer can spend these MP in any combination it wishes. With 2 MP the necromancer can, for example:</p>
						<ul>
							<li>Summon 8 minions.</li>
							<li>Summon 1 standard and 4 minions.</li>
							<li>Summon 2 standards.</li>
							<li>Summon 1 elite.</li>
						</ul>
					</section>
				</example>

				<h4>Initiative</h4>
				<p>Summoned creatures can act immediately after the end of their summoner's turn.</p>

				<h4>Monster Level</h4>
				<p>A summoned creature has (by default) the same monster level as its summoner. A 9th-level monster, for example, will summon 9th-level creatures.</p>
				<p>But if you want to change the level of your summoned creatures, read <i>Building an Encounter</i> (<span class="page-detail--page-number" data-target="building-an-encounter"></span>) for guidelines on how this will affect your MP costs.</p>

				<h4>Duration</h4>
				<p>Summoned creatures (by default) last for up to 1 hour—at which point the magic fueling them fades and they return to their previous state. In addition, summoned creatures will also fade/evaporate/collapse if their summoner is killed, stunned, or otherwise knocked unconscious.</p>

				<h4>Multiattacks</h4>
				<p>Summoning requires significant attention and can't be performed as part of a multiattack action unless your monster is specially trained.</p>
			</page>
			<page class="page page--generic page--making-attacks">
				<h3>Example Freeform Spells</h3>
				<p>To get you started with freeform magic and spell actions, here are some basic spells you might give to your monster. Use these as a starting point and create your own monstrous spell attacks.</p>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Firebolt</h4>
						<ul class="panel__tags">
							<li>Ranged Attack</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You cast a bolt of fire at a target.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> AC.</li>
							<li><strong class="feature__title">Hit</strong> Deal 100% damage.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Acid Touch</h4>
						<ul class="panel__tags">
							<li>Melee Attack</li>
							<li>Ongoing</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You smear the target with sticky, burning acid that eats through their armor.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> AC.</li>
							<li><strong class="feature__title">Hit</strong> Deal ongoing damage equal to 100% of your normal damage, save ends (Constitution vs your spell DC).</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Solar Flare</h4>
						<ul class="panel__tags">
							<li>Ranged Attack</li>
							<li>Area</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You create a burst of dazzling white light, blinding everyone within 10 ft of you.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> Constitution.</li>
							<li><strong class="feature__title">Hit</strong> The target is <i>Blinded</i>, save ends (Constitution vs your spell DC).</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Crystalize Flesh</h4>
						<ul class="panel__tags">
							<li>Melee Attack</li>
							<li>Condition (Worsening)</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You infect a target with a virulent corruption, transforming their flesh into black crystal.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> Constitution.</li>
							<li>
								<strong class="feature__title">Hit</strong> The target is <i>Poisoned</i>, save ends (Constitution vs your spell DC). If the target fails their saving throw, their condition worsens.
								<ul>
									<li><strong class="feature__title">First Failed Save</strong> The target is also <i>Restrained</i>.</li>
									<li><strong class="feature__title">Second Failed Save</strong> The target is fully <i>Petrified</i>.</li>
								</ul>
							</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Strangle</h4>
						<ul class="panel__tags">
							<li>Melee Attack</li>
							<li>Resource</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You draw air out of the lungs of your target, causing them to suffocate for a few painful seconds.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> AC.</li>
							<li><strong class="feature__title">Hit</strong> Gain 1 level of exhaustion.</li>
						</ul>
					</section>
				</attack>

				<col-break></col-break>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Frost Nova</h4>
						<ul class="panel__tags">
							<li>Ranged Attack</li>
							<li>Area</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You create a frozen orb that travels up to 30 ft before it explode and slices everyone within 15 ft of it.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> Dexterity.</li>
							<li><strong class="feature__title">Hit</strong> Deal 75% damage.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Lightning Spear</h4>
						<ul class="panel__tags">
							<li>Ranged Attack</li>
							<li>Area</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You cast a bolt of lightning from your hands that strikes everyone in a 20 ft line.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> Constitution.</li>
							<li><strong class="feature__title">Hit</strong> Deal 50% damage.</li>
							<li><strong class="feature__title">Miss</strong> Deal 25% damage.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Time Stop</h4>
						<ul class="panel__tags">
							<li>Ranged Attack</li>
							<li>Condition (Worsening)</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You trap a target in a sliver of frozen time.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> Charisma.</li>
							<li>
								<p><strong class="feature__title">Hit</strong> The target is <i>Grappled</i>, save ends (Charisma vs your spell DC). If the target fails their saving throw, their condition worsens.</p>
								<ul>
									<li><strong class="feature__title">First Failed Save</strong> The target is <i>Stunned</i>.</li>
								</ul>
							</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Beguile</h4>
						<ul class="panel__tags">
							<li>Ranged Attack</li>
							<li>Condition</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You fill the mind of one target with strange illusions and turn—in their eyes—foes into friends.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Defense</strong> Intelligence.</li>
							<li><strong class="feature__title">Hit</strong> The target is <i>Charmed</i>, save ends (Intelligence vs your spell DC).</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Summon Greater Fire Elementals</h4>
						<ul class="panel__tags">
							<li>Summon</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You summon a number of fire elementals into this plane to do your bidding.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Cost</strong> 2 MP.</li>
							<li><strong class="feature__title">Duration</strong> Up to 1 hour.</li>
							<li>
								<p><strong class="feature__title">Summon</strong> Choose one of the summoning options below. Your summoned creatures have the same level as you and can act immediately after your turn ends.</p>
								<ul>
									<li><strong class="feature__title">Wildfire Storm</strong> 8 minions.</li>
									<li><strong class="feature__title">Flame Incarnate</strong> 1 standard and 4 minions.</li>
									<li><strong class="feature__title">Searing Sentinels</strong> 2 standards.</li>
									<li><strong class="feature__title">Burning Champion</strong> 1 elite.</li>
								</ul>
							</li>
						</ul>
					</section>
				</attack>
			</page>
		</book>
	</body>
</html>
