<html>
	<body>
		<book class="book">
			<page class="page page--generic page--minions-elites-solos" data-header-icon="pick-destiny">
				<h1 id="minions-elites-solos">Minions, Elites, & Solos</h1>
				<p>All monsters are equal on the battlefield—but some are more equal than others, proving to be a much bigger threat in combat. Some monsters are standard rank-and-file troops, while others are expendable fodder controlled by great leaders and commanders. Some exceptional monsters are even capable of taking on an entire party single-handed.</p>
				<p>This chapter will help you turn your standard quickstart monster into a minion, elite, or solo creature to pit against your players.</p>

				<h2>Minions</h2>
				<p>A minion is weaker than other monsters, having very few hit points—they fall quickly in combat, often in one hit, if not protected by a strong defender. These are your lackeys, underlings, and lesser henchmen.</p>
				<p>Minions rely on large numbers to overwhelm the enemy—four minions are the equal of one standard quickstart monster—and are a great option if you want to pit your players against mobs, gangs, and hordes.</p>
				<p>To build a minion, apply the <i>Minion</i> template below to any existing quickstart monster. When creating minion groups, keep things simple for yourself and use the same role, traits, and powers for each group of 4—4 defender minions, 4 striker minions, etc.</p>

				<monster class="panel panel--monster premade">
					<header class="panel__header">
						<h4 class="panel__title">Minion Monster</h4>
						<p>Apply to any quickstart monster template</p>
					</header>
					<section class="panel__body">
						<ul class="monster__attributes">
							<li><strong>Armor Class</strong>−2</li>
							<li><strong>Attack Bonus</strong>−2</li>
							<li><strong>Hit Points</strong>x0.2</li>
							<li><strong>Damage</strong>x0.75</li>
							<li><strong>Saving Throws</strong>−2</li>
							<li><strong>Spell DC</strong>−2</li>
							<li><strong>Initiative</strong>−2</li>
							<li><strong>Perception</strong>−2</li>
							<li><strong>XP</strong>x0.25</li>
							<li><strong>Stealth</strong>−2</li>
						</ul>
					</section>
				</monster>

				<col-break></col-break>

				<h2>Elites</h2>
				<p>Elites are formidable champions, commanders, and leaders. They are a far greater threat than their underlings, able to withstand more damage while hitting back harder and more reliably—one elite is the equal of two standard monsters, and can act twice a round. Elites are a great option for mid-boss encounters, as direct underlings of the adventure's primary threat.</p>
				<p>To build an elite, apply the following template to any existing quickstart monster:</p>

				<monster class="panel panel--monster premade">
					<header class="panel__header">
						<h4 class="panel__title">Elite Monster</h4>
						<p>Apply to any quickstart monster template</p>
					</header>
					<section class="panel__body">
						<ul class="monster__attributes">
							<li><strong>Armor Class</strong>+2</li>
							<li><strong>Attack Bonus</strong>+2</li>
							<li><strong>Hit Points</strong>x2</li>
							<li><strong>Damage</strong>x1.1</li>
							<li><strong>Saving Throws</strong>+2</li>
							<li><strong>Spell DC</strong>+2</li>
							<li><strong>Initiative</strong>+2</li>
							<li><strong>Perception</strong>+2</li>
							<li><strong>XP</strong>x2</li>
							<li><strong>Stealth</strong>+2</li>
						</ul>
						<div class="monster__traits">
							<div class="monster__trait">
								<p class="monster__trait__title"><strong>Paragon Action</strong></p>
								<p class="monster__trait__description">You may take one Paragon Action per round to either move or take an action.</p>
							</div>
						</div>
					</section>
				</monster>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridian, Sarien, Clanda, and Chansi are battling through the dangerous <i>Dreadvault</i> and the undead guardians within.</p>
						<p>At the Infernal Gallery they find Mortanius, an elite necromancer seeking to resurrect the Skeleton Queen. As battle begins, Mortanius summons 8 skeletal minions to shield him from the attacking adventurers.</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--minions-elites-solos">
				<h2>Solos</h2>
				<p>A solo monster is a force to be reckoned with, capable of taking on the entire party single-handed. These are your boss monsters, the big-bad fought at the end of an adventure—a mighty red dragon, a dominating elder brain, a chilling skeleton queen. Solo monsters hit hard, have high defenses, and act multiple times each round.</p>
				<p>To build a solo, apply the following template to any existing quickstart monster:</p>

				<monster class="panel panel--monster premade">
					<header class="panel__header">
						<h4 class="panel__title">Solo Monster</h4>
						<p>Apply to any quickstart monster template</p>
					</header>
					<section class="panel__body">
						<ul class="monster__attributes">
							<li><strong>Armor Class</strong>+2</li>
							<li><strong>Attack Bonus</strong>+2</li>
							<li><strong>Hit Points</strong>x Players</li>
							<li><strong>Damage</strong>x1.2</li>
							<li><strong>Saving Throws</strong>+2</li>
							<li><strong>Spell DC</strong>+2</li>
							<li><strong>Initiative</strong>+4</li>
							<li><strong>Perception</strong>+4</li>
							<li><strong>XP</strong>x Players</li>
							<li><strong>Stealth</strong>+2</li>
						</ul>
						<div class="monster__traits">
							<div class="monster__trait">
								<p class="monster__trait__title"><strong>Paragon Actions</strong></p>
								<p class="monster__trait__description">You may take one Paragon Action per player (minus 1) per round to either move or act.</p>
							</div>
							<div class="monster__trait">
								<p class="monster__trait__title"><strong>Phase Transition</strong></p>
								<p class="monster__trait__description">At 66% and 33% hit points, you may remove all on-going effects on yourself and trigger a new phase transition.</p>
							</div>
						</div>
					</section>
				</monster>

				<p>Like elite monsters, solo monsters have the ability to act outside of their normal turn with <i>Paragon Actions</i>. Solo monsters gain 1 <i>Paragon Action</i> per player minus 1—allowing the monster to act after each player's turn.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>"All things end", proclaims the Skeleton Queen, rising to face the four adventurers. "Only death is eternal."</p>
						<p>As a 4th-level solo monster fighting four players, the Skeleton Queen has one full turn and three extra <i>Paragon Actions</i> per round.</p>
					</section>
				</example>

				<h3>Phased Combat</h3>
				<p>Fights with a solo monster are a big event—they should be a worthy capstone to your adventure, full of drama and excitement. Solo monsters fight hard, changing as the battle progresses and they start to take damage.</p>
				<p>When the solo monster takes enough damage (66% and 33% hit points), it immediately removes any on-going effects and triggers a transition to a new phase of battle:</p>

				<ul>
					<li>The dragon roars angrily and—in its rage—slams down fiercely on the ground, collapsing it and sending everyone falling into the volcanic lair beneath.</li>
					<li>The golem's metal body cracks, and wild arcane lighting lances out around it to strike at anyone wearing or wielding metal.</li>
					<li>The necromancer absorbs the souls of his fallen minions to become a huge, powerful beast.</li>
				</ul>

				<col-break></col-break>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>At 66% hit points, the Skeleton Queen's rage cracks the Dreadvault, causing a huge chunk of the ceiling to collapse and change the battlefield layout .</p>
						<p>At 33% hit points, the Skeleton Queen roars in a cold rage and unleashes a burst of frost magic. The battlefield is covered in ice and a dangerous, frozen vortex surrounds the enraged Queen.</p>
					</section>
				</example>

				<h4>Transition Immunity</h4>
				<p>A phase transition is, in essence, a brief scene wherein your monster does something to change itself or the environment—the more cinematic, the better.</p>
				<p>During a transition, player characters are immune to any damage they might otherwise suffer as things change around them—but neither can they take any actions. These are moments of dramatic escalation—so be dramatic.</p>

				<h4>Healing Surge</h4>
				<p>During a phase transition, any player character that is conscious and bloodied may recover some hit points by spending one hit dice—a temporary respite while your monster is transforming.</p>

				<h3>Transformations</h3>
				<p>Some monsters transform during battle—gaining new powers, changing how they fight, and (sometimes) even changing their form. You can represent transformations with multiple stat blocks—one for each phase transition.</p>
				<p>To create a transforming solo monster, first replace your solo's <i>"Phase Transition"</i> trait with the following <i>"Phase Transition (Transformation)"</i> trait:</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p><strong>Phase Transition (Transformation):</strong> When reduced to 0 hit points, remove all on-going effects on yourself as you transform and start a new phase transition.</p>
					</section>
				</example>

				<p>Next, create a new stat block as per normal for each of your monster's forms. Finally, divide the HP on each form by the total number of transitions.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM wants the Skeleton Queen to have three forms during the final boss encounter.</p>
						<p>First, the Queen starts as a defender with thick ice armor. Next, the Skeleton Queen creates bone avatars from her own body and becomes a controller. Then finally, once the Queen is nearing defeat, her rage freezes the battlefield and she becomes a wild striker.</p>
						<p>The GM creates 3 different stat blocks per the normal process, and then—because there are 3 forms—divides the HP on each stat block by 3.</p>
					</section>
				</example>

				<p>A monster can have as many transformations as you like, but try to keep it to 2/3 forms unless your monster is <i>particularly</i> exceptional—each form should be distinct and exciting for your players to encounter.</p>

				<!-- <h4>Multiple Stat Blocks</h4>
				<p>Some of the greatest
				<p>You may wish to use a different stat block for your monster during each phase of battle, representing a big change in your monster's behavior. This can be an effective means of revitalizing combat after a few rounds.</p>
				<p>Build two or three profiles, each using a different monster role to differentiate. Divide the normal HP for that stat block by the number of </p> -->

				<!-- <example class="panel panel--example">
					<p>When building the Skeleton Queen solo, the DM decides to use three different stat blocks.</p>
					<p>First, the Queen starts as a defender. At 66% hit points, the Skeleton Queen creates bone avatars from her own body and becomes a controller. Then finally, once the Queen reaches 33% hit points and her rage freezes the battlefield, it becomes a wild striker.</p>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4>Solo Hit Points</h4>
					</header>
					<section class="panel__body">
						<p>If you are using a multi-phase solo monster, split the total hit points (according to type and role) across each phase.</p>
						<p>For example, the Skeleton Queen—in her final phase—is a level 3 striker. To get the number of hit points in this phase, simply take the full amount of hp for a level 3 solo striker (207) and divide it by the number of phases (3) to get the final amount (69).</p>
					</section>
				</aside> -->

				<!-- <h3 id="environmental-hazards">Environmental Hazards</h3>
				<p>Add some interesting environmental hazards to your solo encounter to add another layer to your scene—rising water, rotating floors, falling debris, collapsing pillars.</p>
				<p>The environment is an important part of your solo battle, providing variety and—hopefully—another threat for the players to worry about. Use the environment to draw their attention and to prevent your players from swarming the solo for the entire combat.</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4>Solo Encounter Length</h4>
					</header>
					<section class="panel__body">
						<p>A single encounter with a solo monster should last for 8-10 rounds of combat (3-5 rounds per individual phase)—this may vary depending on your party's combat abilities.</p>
					</section>
				</aside> -->
			</page>
			<!-- <page>
				<h2 id="paragon-actions">Paragon Actions</h2>
				<p>In addition to their normal turn, elite and solo monsters gain <i>Paragon Actions</i> each round. These actions can be spent at the end of any other creature's turn to do one of the following:</p>

				<ul>
					<li><strong>Move:</strong> The monster can move up to it's speed if it is free to do so. This movement may trigger opportunity actions and reactions as per normal.</li>
					<li><strong>Perform an Action:</strong> The monster performs a single action, such as attack, dodge, or help an ally.</li>
				</ul>

				<p>A <i>Paragon Action</i> can only be used after another creature has acted. Monsters regain their spent <i>Paragon Actions</i> at the start of their turn.</p>

				<example class="panel panel--example">
					<p>Mortanius, an elite 3rd-level necromancer, takes his turn. He fires a bolt of foul necrotic energy at Chansi, hitting her for 6 points of damage, and then moves back 20ft behind his horde of skeleton minions.</p>
					<p>On Chansi's turn, she fires an arrow back at the necromancer—but misses. At the end of her turn, Mortanius opts to use his <i>Paragon Action</i>.</p>
					<p>"The grave summons you, ranger," cackles the necromancer as he uses his single action to attack, firing another bolt of energy at Chansi to strike her for 6 additional points of damage.</p>
				</example>

				<h4>Paragon Recovery</h4>
				<p>Whenever a monster uses a <i>Paragon Action</i>, they regain their reaction and may also make saving throws against any ongoing effects as if it were the end of their turn.</p>

				<h4>Dashing & Disengaging</h4>
				<p>A monster can't dash using their <i>Paragon Action</i>, nor can they disengage <i>and</i> move using one <i>Paragon Action</i>—these require taking both an action and movement option, which is not allowed.</p>

				<h4>Ongoing Effects</h4>
				<p>A <i>Paragon Action</i> does not count as a full turn. If a monster would normally suffer an effect at the start or end of its normal turn (such as ongoing damage, status effects, etc), these effects do not trigger during an <i>Paragon Action</i>.</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4>Action Variety</h4>
					</header>
					<section class="panel__body">
						<p>It can be tempting to use <i>Paragon Actions</i> to relentlessly attack the nearest character for a whole round. However, this can lead to 	some very dull combat.</p>
						<p>Avoid repeating the same action too often in quick succession, and try to keep the combat dynamic. Use your extra actions to move across the battlefield, push characters around, change the environment, apply conditions, and put pressure on unsuspecting players.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h2 id="type-examples">The Court of Bone</h2>
				<p>To get you started, here are some basic examples of elite, minion, and solo monsters built for a 4-player 3rd-level adventure—the <i>Court of Bone</i>. Try fleshing these out with some attacks—see <i>Making Attacks (<span class="page-detail--page-number" data-target="making-attacks"></span>)</i>.</p>

				<h3 id="the-necromancer-mortanius">The Necromancer Mortanius</h3>
				<p>A foul necromancer in service to dark gods, Mortanius commands the unliving and bends them to his will.</p>
				<p>In battle, the necromancer surrounds himself with skeletal guardians while skeletal warriors swarm the enemy and explode in a burst of painful, necrotic energy.</p>

				<monster data-name="Mortanius" data-description="Medium humanoid" data-level=3 data-role="Controller" data-traits="Aura: Damaging" data-powers="knockback" data-type="elite" data-priorities="INT|CHA|CON|DEX|WIS|STR"></monster>

				<monster data-name="Skeletal Guardian" data-description="Medium humanoid, undead" data-level=3 data-role="Defender" data-powers="you can't leave" data-type="minion" data-priorities="STR|CON|DEX|WIS|INT|CHA"></monster>
			</page>
			<page>

				<monster data-name="Skeletal Warrior" data-description="Medium humanoid, undead" data-level=3 data-role="Striker" data-traits="explosive" data-powers="savage assault" data-type="minion" data-priorities="DEX|WIS|STR|CON|INT|CHA"></monster>

				<h3 id="the-skeleton-king">The Skeleton King</h3>
				<p>A composite monster formed from the bones of several skeletons, the Skeleton King is a very dangerous opponent. With high damage and multiple actions, it can quickly overcome the unprepared party.</p>
				<p>An encounter with the Skeleton King has three phases. When reduced to 0 hit points during the first and second phases, the Skeleton King changes form and switches to a new stat block with different abilities.</p>

				<monster data-name="The Skeleton King (1/3)" data-description="Large humanoid, undead" data-level=3 data-role="Defender" data-powers="you can't leave" data-type="solo" data-priorities="STR|CHA|CON|DEX|INT|WIS" data-phase=1></monster>

				<col-break></col-break>

				<monster data-name="The Skeleton King (2/3)" data-description="Large humanoid, undead" data-level=3 data-role="Controller" data-powers="knockback" data-type="solo" data-priorities="DEX|CHA|CON|STR|INT|WIS" data-phase=2></monster>

				<monster data-name="The Skeleton King (3/3)" data-description="Large humanoid, undead" data-level=3 data-role="Striker" data-traits="relentless, aura: damaging" data-powers="press the attack" data-type="solo" data-priorities="CHA|STR|CON|DEX|INT|WIS" data-phase=3></monster>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4>Solo Hit Points</h4>
					</header>
					<section class="panel__body">
						<p>If you are using a multi-phase solo monster, split the total hit points (according to type and role) across each phase.</p>
						<p>For example, the Skeleton King—in its final phase—is a level 3 striker. To get the number of hit points in this phase, simply take the full amount of hp for a level 3 solo striker (207) and divide it by the number of phases (3) to get the final amount (69).</p>
					</section>
				</aside>
			</page> -->
		</book>
	</body>
</html>
