<html>
	<body>
		<book class="book">
			<page class="page page--generic page--monster-templates" data-header-icon="reptile">
				<h1 id="monster-templates">Monster Templates</h1>
				<p>To help you get your quickstart monsters up and running fast, this chapter features complete stat templates for every monster role and rank across levels −3 to 30 (CR 0 to 30).</p>
				<p>Use these templates to get some baseline stats for your monster before adding traits, powers, and attacks.</p>

				<h2>Applying a Template</h2>
				<p>Quickstart templates are flexible, allowing you to create any type of monster for your adventures. Once you've found the right stats for your desired level, check the guidelines below for advice on how to apply them.</p>

				<h3 data-toc-ignore-book="true"><span class="h3__highlight">1</span>Rank</h3>
				<p>Monsters come in four ranks: minions, standards, elites, and solos. For quick reference, three varieties of solo monster (vs 3, vs 4, and vs 5) are included with hit point values already calculated to suit 3/4/5 players—if you need other varieties, read <i>Minions, Elites & Solos</i> (<span class="page-detail--page-number" data-target="minions-elites-solos"></span>).</p>

				<h3 data-toc-ignore-book="true"><span class="h3__highlight">2</span>Hit Points</h3>
				<p>Hit points have been divided into quick-reference pools to help you determine when your monster is about to be bloodied (50% or fewer HP) or—in the case of solo monsters—trigger a new phase transition.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>A ML 3 Standard Controller has 33 (2 x 17) hit points—it is bloodied while at 17 HP or lower.</p>
						<p>A ML 7 Solo (vs 4) Striker has 425 (3 x 142) hit points—it triggers a new phase transition every 142 points of damage.</p>
					</section>
				</example>

				<col-break></col-break>

				<h3 data-toc-ignore-book="true"><span class="h3__highlight">3</span>Damage per Action</h3>
				<p>This is the amount of damage your monster should be dealing per attacking action. This is per <i>action</i>, not necessarily per attack—if your monster is using a multiattack, split this damage across all the individual attacks for that action.</p>

				<h3 data-toc-ignore-book="true"><span class="h3__highlight">4</span>Spell DCs</h3>
				<p>Spell DCs contain a primary ("I'm good at this") and secondary ("I'm not so good at this") DC variant for your monster's spells/effects.</p>
				<p>Use the primary DC for anything related to your monster's best attribute, and the secondary DC for everything else.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM creates a monster with spell DCs of 18 and 15. DEX happens to be this monster's best attribute, so any spell/effect that uses DEX has DC 18—everything else uses DC 15.</p>
					</section>
				</example>

				<h3 data-toc-ignore-book="true"><span class="h3__highlight">5</span>Saving Throws</h3>
				<p>Saving throws come in three grades—best, ok, and bad. Use the highest bonus for your monster's best attribute, the second bonus for it's 2nd and 3rd best attributes, and the worst bonus for the 3 worst attributes.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM is creating a ML 5 Elite Supporter with attributes in CON/WIS/CHA/STR/INT/DEX priority. They set the saving throws as Con +8, Wis/Cha +5, and Str/Int/Dex +2.</p>
					</section>
				</example>
		</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<h2 class="layout--hidden" id="monster-templates">Monster Templates</h2>
				<list class="panel panel--list" data-type="monster-templates" data-level="-3" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="-2" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="-1" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="0" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="1" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="2" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="3" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="4" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="5" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="6" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="7" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="8" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="9" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="10" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="11" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="12" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="13" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="14" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="15" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="16" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="17" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="18" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="19" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="20" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="21" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="22" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="23" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="24" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="25" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="26" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="27" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="28" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="29" data-resize=75></list>
			</page>
			<page class="page page--generic page--monster-templates page--columns-1">
				<list class="panel panel--list" data-type="monster-templates" data-level="30" data-resize=75></list>
			</page>
		</book>
	</body>
</html>
