<html>
	<body>
		<book class="book">
			<page class="page page--generic page--overkill-attacks" data-header-icon="ice">
				<h1 id="overkill-attacks">Overkill Attacks</h1>
				<p>The biggest, scariest monsters need the biggest, scariest attacks to match. When the party's on the verge of thwarting your plans—or suddenly put themselves in a vulnerable position—that's when it's time to unleash your full power and go into overkill. Take no prisoners, and leave no adventurer alive.</p>
				<p>This chapter introduces <i>overkill attacks</i> for your monsters and how to use them in your encounters.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>A red dragon takes in a deep breath, fire burning in its chest, as it prepares to melt flesh, stone, and steel. Storm clouds boil above a mad sorcerer as she charges a cataclysmic lightning bolt. A werewolf howls, its bloody teeth shining in the moonlight, ready to tear open the jugular of its grabbed victim...</p>
					</section>
				</example>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Storm of Chaos</h4>
						<ul class="panel__tags">
							<li>Overkill Attack (Extreme)</li>
							<li>5th-level Controller (Solo)</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>With foul runes and hellish words, you begin to pull the demonic energies of the Abyss into this world. Glowing red veins tear across your skin as the Abyss pours into you, and black storm clouds—crackling with vicious, red lightning—gather above.</p>
							<p>On your next turn, as your action, the abyssal energy erupts from you in a burning wave of chaos.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Requirement</strong> You are bloodied (50% hit points).</li>
							<li><strong class="feature__title">Target</strong> 30 ft area around you.</li>
							<li><strong class="feature__title">Hit</strong> Any non-demonic creature within range of this attack takes <monster-info data-field="damage" data-level=5 data-role="Controller" data-type="Solo" data-multiplier=4></monster-info> fire damage.</li>
							<li><strong class="feature__title">Extreme</strong> If a creature is reduced to 0 hit points by this attack, it is immediately killed and reanimates after one turn as a possessed, demonic vessel.</li>
						</ul>
					</section>
				</attack>

				<col-break></col-break>

				<h2>Going Into Overkill</h2>
				<p>An <i>overkill attack</i> is a huge, devastating, and almost certainly fatal attack that a monster can unleash against the party. These are your biggest, most cinematic monster attacks—an ultimate technique that can destroy PCs, NPCs, and scenery alike.</p>
				<p>Overkill attacks take a full round to charge up, but—when unleashed—hit anyone in range <i>automatically</i> and deal a massive amount of damage in the process.</p>
				<p>There are 6 steps to creating an overkill attack:</p>
				<ol>
					<li><strong>Pick a trigger:</strong> Decide what type of event triggers the start of the overkill attack. You take a lot of damage? Players destroy all your minions? You grab a PC?</li>
					<li><strong>Choose the area:</strong> Overkill attacks automatically hit anything within a target area. Choose the area and range—as well as any possible safe spots.</li>
					<li><strong>Calculate the damage:</strong> Overkill attacks do four times the damage of normal attacks—calculate just how devastating the attack will be to your players.</li>
					<li><strong>Telegraph the attack:</strong> Take an action to start the attack. Let your players know what the monster is doing and where it's dangerous—or safe—to be.</li>
					<li><strong>Charge up power:</strong> Your monster spends a full round—and it's full attention—charging up the attack.</li>
					<li><strong>Attack:</strong> The attack happens during the monster's next turn—anyone still in its range is hit automatically.</li>
				</ol>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Cinematic Spectacle</h4>
					</header>
					<section class="panel__body">
						<p>Overkill attacks are a great way to add some cinematic spectacle to your battles. Use plenty of over-the-top description to make your overkill attacks big, loud, and exciting as you highlight the deadly powers of your monster.</p>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--overkill-attacks">
				<h3><span class="h3__highlight">1</span>Pick a Trigger</h3>
				<p>Your first step in creating an <i>overkill attack</i> is to decide exactly when your monster can start using it. Does it go into overkill when bloodied? Or when it's grabbed a player? Or once the players disrupt a sacred ritual circle?</p>
				<p>Pick a triggering event from the list below—or create one that better suits your monster. When the event happens, your monster's overkill attack is unlocked.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Overkill Triggers</h4>
					</header>
					<section class="panel__body">
						<table class="table table--overkill-triggers">
							<thead>
								<tr>
									<th>Type</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Bloodied</td>
									<td>Your monster is reduced to 50% or fewer hit points.</td>
								</tr>
								<tr>
									<td>Event</td>
									<td>The players do something that disrupts the monster's plans—release a prisoner, disrupt a ritual, destroy a power crystal, etc.</td>
								</tr>
								<tr>
									<td>Free</td>
									<td>No restriction—the monster can perform this attack whenever they like.</td>
								</tr>
								<tr>
									<td>Peril</td>
									<td>A player is in a specific position or dangerous condition—grappled, restrained, stunned, etc.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM wants to create an overkill attack for a new 9th-level solo striker—Kaladax, a vainglorious red dragon with a fiery temperament.</p>
						<p>To get started, the GM picks the "Bloodied" trigger. When Kaladax is hurt, he's going to get <i>very</i> angry...</p>
					</section>
				</example>

				<h3><span class="h3__highlight">2</span>Choose the Area</h3>
				<p>Next, decide the range and area of the attack. Overkill attacks originate from your monster, striking out at anyone unfortunate enough to still be in range. Pick a basic template from the list below to get started:</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Overkill Area</h4>
					</header>
					<section class="panel__body">
						<table class="table table--overkill-area">
							<thead>
								<tr>
									<th>Type</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Character</td>
									<td>Hits a specific target—such as a grabbed or stunned player within reach.</td>
								</tr>
								<tr>
									<td>Area</td>
									<td>Hits everyone within a certain area—such as "everyone within 30 ft of the monster".</td>
								</tr>
								<tr>
									<td>Cone</td>
									<td>The attack hits everyone in a cone originating from the monster.</td>
								</tr>
								<tr>
									<td>Line</td>
									<td>The attack hits everyone in a line originating from the the monster.</td>
								</tr>
								<tr>
									<td>Zone</td>
									<td>The attack fills an entire zone or arbitrary region of the map.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>In his rage, Kaladax's overkill attack will flood the entire chamber with searing dragonbreath.</p>
						<p>Instead of a traditional dragonbreath cone, the GM chooses an area template (centered on Kaladax) with a 40 ft radius—the party will have to run for their lives to escape the dragon's hellish flames...</p>
					</section>
				</example>

				<col-break></col-break>

				<h4>The Danger Zone</h4>
				<p>Make sure that it's possible for your players (at least, <i>most</i> of them) to get out of range of the attack in only one turn—even if it means dashing.</p>
				<p>If your players can only move 30 ft with a move action, for example, avoid using a 70 ft area for your overkill attack unless the players have (a) a clear means of escape or (b) safe spots to take cover in.</p>

				<h4>Safe Spots</h4>
				<p>When you build an encounter Add some interesting scenery that players can use in creative ways to protect themselves—pillars to hide behind, tables to flip over for cover, pools of water to dive into, dead magic zones that nullify magical overkill, etc.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM adds a couple of stone pillars to the encounter scenery as possible cover—but not enough for every player. They'll have to decide who gets to hide and who gets to run—fast.</p>
					</section>
				</example>

				<h3><span class="h3__highlight">3</span>Determine the Damage</h3>
				<p>Now, it's time to see how much damage your attack will do. Overkill attacks do <i>four times</i> the damage of a monster's normal attack—damage enough to kill a healthy adventurer in one hit. Overkill shouldn't be taken lightly, so make sure to highlight the grave danger.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>As a 9th-level solo striker, Kaladax can deal around 29 damage per attack action. This means his overkill attack will deal 116 fire damage—almost <i>certain</i> to kill any unfortunate creature caught in the blast.</p>
					</section>
				</example>

				<h4 class="option">Variant: Extreme Overkill</h4>
				<p>If you want to make players <i>really</i> afraid of your overkill attacks, consider this <i>Extreme Overkill</i> variant.</p>
				<p>If a player is reduced to 0 hit points by an overkill attack, they are killed outright—any remaining death saves automatically fail.</p>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Watch the World Burn</h4>
						<ul class="panel__tags">
							<li>Overkill Attack (Extreme)</li>
							<li>9th-level Striker (Solo)</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>Your chest starts to swell with raging dragonfire. Your body becomes burning hot to the touch—so hot that stone begins to melt beneath you from the scorching heat as steam hisses loudly from your skin.</p>
							<p>On your next turn, as your action, you breathe scorching hot dragonfire all around to melt stone, steel, and flesh.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Requirement</strong> You are bloodied (50% hit points).</li>
							<li><strong class="feature__title">Target</strong> 40 ft area around you.</li>
							<li><strong class="feature__title">Hit</strong> Any creature within range of this attack takes <monster-info data-field="damage" data-level=9 data-role="Striker" data-type="Solo" data-multiplier=4></monster-info> fire damage.</li>
							<li><strong class="feature__title">Extreme</strong> If a creature is reduced to 0 hit points by this attack, it is disintegrated.</li>
						</ul>
					</section>
				</attack>
			</page>
			<page class="page page--generic page--overkill-attacks">
				<h3><span class="h3__highlight">4</span>Telegraph the Attack</h3>
				<p>Once you've unlocked an overkill attack, it's time to put it to use. Take an action to start your attack and telegraph the impending danger—your players should know what's coming up so they have a chance to avoid it.</p>
				<p>Clearly describe <i>what</i> is happening, <i>where</i> it will happen, and <i>when</i> it will happen. Make it clear that anyone in range and not in adequate cover will be hit <i>automatically</i> by this fearsome attack—the only defense is to be out of the attack's reach.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Inside <i>Redstone Volcano</i>, Valiant, Krazak, and Clanda battle Kaladax, the wild red dragon. After it has been bloodied, the GM activates an overkill attack.</p>
						<ul class="chat">
							<li>
								<p><span class="chat__speaker">GM:</span><span>The red dragon Kaladax starts to draw in breath. Valiant, you can see its chest swell with dangerous power—an incredible amount of heat is radiating from the dragon already as it goes into <i>overkill</i>.</span></p>
								<p>"Insolent mortals! Now watch this world burn!" roars the dragon.</p>
							</li>
							<li><span class="chat__speaker">Valiant:</span><span>Can I see where Kaladax is aiming?</span></li>
							<li><span class="chat__speaker">GM:</span><span>Yes—Kaladax isn't being subtle. You think he's going to flood this entire chamber with searing, deadly flame in just six seconds.</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>Uh, everyone? <i>We should probably run</i>.</span></li>
						</ul>
					</section>
				</example>

				<h3><span class="h3__highlight">5</span>Charge up Power</h3>
				<p>Once your monster has started an overkill attack, it begins to gather up whatever energy it needs until the start of its <i>next</i> turn—at which point, the attack is fully charged and the monster <i>must</i> use its action to unleash it (even if it might want to do something else instead).</p>
				<p>While the monster is charging up the attack, it can't take reactions nor use <i>Paragon Actions</i>. It also won't try to move—though it can still be moved by player actions.</p>

				<h4>Disrupting Overkill</h4>
				<p>While the monster is charging its attack, it's vulnerable. Players—with some clever use of roleplay, powers, and effects—might just have a chance to disrupt the overkill attack and cancel it outright.</p>
				<p>If your monster is stunned, incapacitated, or otherwise put in a position where the overkill attack no longer makes sense, the action fizzles to no effect.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The heat from Kaladax is intense as the dragonfire builds. What do you do, Krazak?</span></li>
							<li><span class="chat__speaker">Krazak:</span><span>Dragon can't breathe fire if it's stunned. And my <i>Stormbreaker</i> axe has a chance to stun on crit...</span></li>
							<li><span class="chat__speaker">GM:</span><span>You attack the dragon?</span></li>
							<li><span class="chat__speaker">Krazak:</span><span>Damn right I attack the dragon! I charge Kaladax with Stormbreaker drawn. Ancestors, if ever I needed a critical it's now... <span class="chat__action">(rolls 1)</span> ...<i>son of a</i>.</span></li>
							<li><span class="chat__speaker">GM:</span><span>The heat throws your swing off badly, Krazak. You skid to a halt in front of a grinning Kaladax...</span></li>
						</ul>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">6</span>Attack</h3>
				<p>Finally, once fully charged, the monster unleashes the overkill attack using their turn action—anyone in range is automatically hit for the full damage. Make sure to describe this with cinematic spectacle.</p>
				<p>Once the attack has occurred, the monster can act as normal—taking reactions, <i>Paragon Actions</i>, movement, etc.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>"You will all burn!" roars Kaladax as he breathes searing, volcanic dragonfire into the chamber.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>We're all safe behind this pillar, right?</span></li>
							<li><span class="chat__speaker">GM:</span><span>You and Valiant are—but Krazak isn't. The dwarf, standing his ground, is hit full force by the extreme attack. He takes <monster-info data-field="damage" data-level=9 data-role="Striker" data-type="Solo" data-multiplier=4></monster-info> points of fire damage.</span></li>
							<li><span class="chat__speaker">Krazak:</span><span>...That's 0 hit points. Damn. I stand defiant, my charred arm holding aloft a melted axe. "That. All. You. Got?" And then I fall.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Krazak's burnt body disintegrates into ash as it hits the ground—the dwarf is no more. Kaladax laughs. "Such is the fate of all who would defy me!"</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>...<i>WHAT</i>.</span></li>
						</ul>
					</section>
				</example>

				<h2>A Weak Point</h2>
				<p>When a monster starts to charge an overkill attack, it might expose a <i>weak point</i>—a loose scale, a glowing red core, a fragile crystal, etc. Do enough damage to this weak point and you might just stop the overkill attack altogether, stunning the monster in the process.</p>
				<p>If you want to bait players into staying within your monster's overkill range, give it an exposed weak point.</p>

				<h3>Adding a Weak Point</h3>
				<p>To add a weak point to your monster, first decide what it looks like and how difficult it is to spot. Then, give it a pool of hit points equal to 1/10 of the monster's max HP.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM creates another solo creature—a 12th-level mechanical construct with <monster-info data-field="hp-max" data-level=12 data-role="Striker" data-type="Solo"></monster-info> total HP and a ground-shattering overkill attack. To give players a way to interrupt this attack, the GM adds a <i>weak point</i>.</p>
						<p>While charging the energy for its <i>Earthquake Strike</i>, the construct reveals a fragile power core inside its thick armor. The core glows bright blue, has <monster-info data-field="hp-max" data-level=12 data-role="Striker" data-type="Solo" data-multiplier=0.1></monster-info> HP, and can be noticed with a DC 12 perception check.</p>
					</section>
				</example>

				<p>If a player can see the weak spot, they can attack it—using the same defense values as the monster itself.</p>
				<p>If the weak point is reduced to 0 hit points, the monster immediately takes damage equal to the weak point's max HP and is also <i>Stunned</i> until the end of its next turn. This effect can't be circumvented by <i>Legendary Resistances</i> or with <i>Paragon Actions</i>.</p>
				<p>A weak point can only be seen or attacked while the monster is charging an overkill attack.</p>
			</page>
			<page class="page page--generic page--overkill-attacks">
				<h2>Examples</h2>
				<p>To get you started with overkill attacks, here are some basic examples you can give to your monsters.</p>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Snap Neck</h4>
						<ul class="panel__tags">
							<li>Overkill Attack</li>
							<li>3rd-level Lurker (Elite)</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You wrap your hands firmly around the head of a grappled creature, despite their struggles.</p>
							<p>On your next turn, as your action, you sharply twist the head of your victim with a sickening crunch.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Requirement</strong> You are next to a grabbed creature.</li>
							<li><strong class="feature__title">Target</strong> A grabbed creature.</li>
							<li><strong class="feature__title">Hit</strong> The creature takes <monster-info data-field="damage" data-level=3 data-role="Lurker" data-type="Elite" data-multiplier=4></monster-info> bludgeoning damage.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Devour</h4>
						<ul class="panel__tags">
							<li>Overkill Attack</li>
							<li>4th-level Controller (Solo)</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You unhinge your jaw, teeth glistening, and prepare to devour a nearby stunned creature.</p>
							<p>On your next turn, as your action, you bite into your victim with bone-crushing force.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Requirement</strong> You are next to a stunned creature.</li>
							<li><strong class="feature__title">Target</strong> A stunned creature.</li>
							<li><strong class="feature__title">Hit</strong> The creature takes <monster-info data-field="damage" data-level=4 data-role="Controller" data-type="Solo" data-multiplier=4></monster-info> piercing damage. If the creature is reduced to 0 hit points, you swallow it.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Whispers of Azatoth</h4>
						<ul class="panel__tags">
							<li>Overkill Attack (Extreme)</li>
							<li>5th-level Supporter (Elite)</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>With eldritch words, you tear open a rift into the Far Realm and draw on its unknowable power.</p>
							<p>On your next turn, as your action, you unleash a blast of psychic energy that tears apart living minds.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Requirement</strong> Your minions have been killed.</li>
							<li><strong class="feature__title">Target</strong> A 30 ft cone originating from you.</li>
							<li><strong class="feature__title">Hit</strong> Any creature within range of this attack takes <monster-info data-field="damage" data-level=5 data-role="Supporter" data-type="Elite" data-multiplier=4></monster-info> psychic damage.</li>
							<li><strong class="feature__title">Extreme</strong> If a creature is reduced to 0 hit points by this attack, it is disintegrated.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Reptile Spray</h4>
						<ul class="panel__tags">
							<li>Overkill Attack</li>
							<li>6th-level Scout (Solo)</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You swallow a vial of reptile acid and mix it with your own digestive juices.</p>
							<p>On your next turn, as your action, you spew a thick spray of corrosive acid to melt stone, steel, and flesh.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Requirement</strong> You consume a vial of reptile acid.</li>
							<li><strong class="feature__title">Target</strong> A 30 ft cone originating from you.</li>
							<li><strong class="feature__title">Hit</strong> Any creature within range of this attack takes <monster-info data-field="damage" data-level=6 data-role="Scout" data-type="Solo" data-multiplier=4></monster-info> acid damage.</li>
						</ul>
					</section>
				</attack>

				<col-break></col-break>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Thunder Lance</h4>
						<ul class="panel__tags">
							<li>Overkill Attack (Extreme)</li>
							<li>7th-level Sniper (Elite)</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You overcharge your thunder cannon to create a massive, deadly surge of raw lighting energy.</p>
							<p>On your next turn, as your action, you fire a blast of lighting that pierces everyone and everything in a line.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Requirement</strong> Your minions have been killed.</li>
							<li><strong class="feature__title">Target</strong> A 40 ft by 10 ft line, originating from you.</li>
							<li><strong class="feature__title">Hit</strong> Any creature within range of this attack takes <monster-info data-field="damage" data-level=7 data-role="Sniper" data-type="Elite" data-multiplier=4></monster-info> lightning damage.</li>
							<li><strong class="feature__title">Extreme</strong> If a creature is reduced to 0 hit points by this attack, it is killed outright by the shock.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Spirit Bomb</h4>
						<ul class="panel__tags">
							<li>Overkill Attack (Extreme)</li>
							<li>8th-level Striker (Solo)</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You draw spirit energy from nearby living creatures and channel it into a glowing ball of radiant power.</p>
							<p>On your next turn, as your action, you launch the ball into the ground where it explodes in radiant fire.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Requirement</strong> You are bloodied.</li>
							<li><strong class="feature__title">Target</strong> A 50 ft area around you.</li>
							<li><strong class="feature__title">Hit</strong> Any creature within range of this attack takes <monster-info data-field="damage" data-level=8 data-role="Striker" data-type="Solo" data-multiplier=4></monster-info> radiant damage.</li>
							<li><strong class="feature__title">Extreme</strong> If a creature of evil alignment is reduced to 0 hit points by this attack, it is disintegrated.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">You're Already Dead</h4>
						<ul class="panel__tags">
							<li>Overkill Attack</li>
							<li>9th-level Striker (Elite)</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>With necrotic power drawn from a nearby <i>Font of Decay</i>, you summon soul-hungry wraiths from the Shadowfell to do your bidding.</p>
							<p>On your next turn, as your action, you send the wraiths out in a deadly wave to feed on the living.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Requirement</strong> You consume a Font of Decay.</li>
							<li><strong class="feature__title">Target</strong> A 60 ft by 15 ft line, originating from you.</li>
							<li><strong class="feature__title">Hit</strong> Any creature within range of this attack takes <monster-info data-field="damage" data-level=9 data-role="Striker" data-type="Elite" data-multiplier=4></monster-info> necrotic damage.</li>
						</ul>
					</section>
				</attack>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Ice Age</h4>
						<ul class="panel__tags">
							<li>Overkill Attack (Extreme)</li>
							<li>10th-level Defender (Solo)</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You pull cold energy from the Elemental Chaos with arcane runes, becoming a Herald of Winter.</p>
							<p>On your next turn, as your action, you unleash a frozen vortex that turns everything  to ice and snow.</p>
						</div>
						<ul class="features features--compact">
							<li><strong class="feature__title">Requirement</strong> You are bloodied.</li>
							<li><strong class="feature__title">Target</strong> A 50 ft area around you.</li>
							<li><strong class="feature__title">Hit</strong> Any creature within range of this attack takes <monster-info data-field="damage" data-level=10 data-role="Defender" data-type="Solo" data-multiplier=4></monster-info> cold damage.</li>
							<li><strong class="feature__title">Extreme</strong> If a creature is reduced to 0 hit points by this attack, it is petrified and turned into an ice statue.</li>
						</ul>
					</section>
				</attack>
			</page>
		</book>
	</body>
</html>
