<html>
	<body>
		<book class="book">
			<page class="page page--generic page--paragon-actions" data-header-icon="temporary-shield">
				<h1 id="paragon-actions">Paragon Actions</h1>
				<p>In battle, the action economy is kingmaker—the side with the most people is usually the side that wins. But what if you want to run a combat encounter with a small number of monsters—elites and solos—and still put some real pressure on the players? How do you make limited monster turns compete against a full party of player actions?</p>
				<p>To help you put some bite into your boss monsters, this chapter introduces <i>Paragon Actions</i>—what they are and how you can use them on the battlefield.</p>

				<h2>Going Paragon</h2>
				<p><i>Paragon Actions</i> let your monsters act multiple times per round, helping them to even the odds and be a much bigger threat in combat—essential for elite and solo monsters who often find themselves outnumbered.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Mortanius, an elite 3rd-level necromancer, takes his turn. He fires a bolt of foul necrotic energy at Chansi, hitting her for 6 points of damage, and then moves back 20ft behind his horde of skeleton minions.</p>
						<p>On Chansi's turn, she fires an arrow back at the necromancer—but misses. At the end of her turn, Mortanius opts to use his <i>paragon action</i>.</p>
						<p>"The grave summons you, ranger," cackles the necromancer as he uses his single action to attack, firing another bolt of energy at Chansi to strike her for 6 additional points of damage.</p>
					</section>
				</example>

				<p>Elite monsters have one paragon action per round, while solo monsters have one per player (minus one) per round—this helps to balance the action economy and give your boss monsters a major boost of fighting power.</p>

				<col-break></col-break>

				<h3>Using Paragon Actions</h3>
				<p>A paragon action can be used at the end of any other creature's turn to do one of the following:</p>

				<ul>
					<li><strong>Move:</strong> The monster can move up to its base speed if it is free to do so. This movement may trigger opportunity attacks and reactions as normal from your enemies.</li>
					<li><strong>Perform an Action:</strong> The monster can perform a single action—such as Attack, Dodge, or Help.</li>
				</ul>

				<p>In addition, whenever a monster uses a paragon action it regains its reaction and can make saving throws against any ongoing damage or effect—such as <i>Hold Person</i>, <i>Ray of Enfeeblement</i>, <i>Phantasmal Killer</i>, etc—as if it were the end of its normal turn.</p>
				<p>A monster regains any spent paragon actions at the start of its turn, so make the most of your actions each round to keep the players in danger.</p>

				<h3>Ongoing Effects</h3>
				<p>Taking a paragon action does not count as a full turn. If your monster would normally suffer an effect at the start or end of its turn—such as ongoing damage, status effects, etc—these effects <i>don't</i> trigger during a paragon action.</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Action Variety</h4>
					</header>
					<section class="panel__body">
						<p>It can be tempting to use <i>Paragon Actions</i> to relentlessly attack the nearest character for a whole round—but this can lead to some very dull and predictable combat.</p>
						<p>Avoid repeating the same action too often, and try to keep the combat dynamic. Use your extra actions to move across the battlefield, push characters around, taunt, apply conditions, and put pressure on unsuspecting players.</p>
					</section>
				</aside>
			</page>
		</book>
	</body>
</html>
