<html>
	<body>
		<book class="book">
			<page class="page page--reference page--quick-reference">
				<h1 id="quick-reference" data-toc-ignore="true">Quick Reference</h1>

				<div class="reference-block">
					<h4>Building a Monster<span class="page-detail--page-number" data-target="building-your-monster"></span></h4>
					<ol>
						<li><strong>Pick a Level:</strong> Decide how dangerous your monster should be—the higher the level, the bigger the threat it will be to your players.</li>
						<li><strong>Assign a Role:</strong> Choose how your monster will function in combat—different roles confer different benefits.</li>
						<li><strong>Add some Traits:</strong> Add some quick racial or class-based flavor with a few basic traits.</li>
						<li><strong>Choose some Powers:</strong> Add some combat powers to make your monster stand out.</li>
						<li><strong>Personalization:</strong> Tweak the stats if necessary to better suit your group of players.</li>
					</ol>
				</div>

				<div class="reference-block">
					<h4>Monster Roles<span class="page-detail--page-number" data-target="step-2-apply-a-role"></span></h4>
					<ul>
						<li><strong>Controller:</strong> Disorientates their enemies, moving them around and applying conditions.</li>
						<li><strong>Defender:</strong> Shields their allies and blocks enemy attacks with high defense.</li>
						<li><strong>Lurker:</strong> Hides out of sight until they see a weak point, then attack for massive damage.</li>
						<li><strong>Scout:</strong> Moves around to outmaneuver foes.</li>
						<li><strong>Sniper:</strong> Fire at enemies from a distance.</li>
						<li><strong>Striker:</strong> Forgo defense and hit the enemy hard.</li>
						<li><strong>Supporter:</strong> Aid and support their allies.</li>
					</ul>
				</div>

				<div class="reference-block">
					<h4>Minions<span class="page-detail--page-number" data-target="minions"></span></h4>
					<p>A minion is worth 1/4 of a standard monster, and should (usually) be defeated after one good hit.</p>
				</div>

				<div class="reference-block">
					<h4>Elites<span class="page-detail--page-number" data-target="elites"></span></h4>
					<p>An elite monster is worth 2 standard monsters and has 1 paragon action per round.</p>
				</div>

				<div class="reference-block">
					<h4>Solos<span class="page-detail--page-number" data-target="solos"></span></h4>
					<p>A solo monster is worth a party of adventurers. It has 1 paragon action per player per round.</p>
					<ul>
						<li><strong>Phases:</strong> When the solo takes enough damage (66% and 33% hit points), it immediately removes any on-going effects and triggers a transition to a new phase of battle.</li>
						<li><strong>Hit Dice:</strong> During a phase transition, any player character that is conscious and bloodied may spend one hit dice to heal.</li>
					</ul>
				</div>

				<div class="reference-block">
					<h4>Paragon Actions<span class="page-detail--page-number" data-target="paragon-actions"></span></h4>
					<p>You can spend a Paragon Action to:</p>
					<ul>
						<li><strong>Move:</strong> Move up to your speed (if free to do so). This movement may trigger opportunity actions and reactions as per normal.</li>
						<li><strong>Perform an Action:</strong> Perform a single action, such as attack, dodge, or help an ally.</li>
					</ul>
				</div>

				<div class="reference-block">
					<h4>Freeform Attacks<span class="page-detail--page-number" data-target="freeform-attacks"></span></h4>
					<p>To do an improvised attack using your new monster, pick an attack type from the list below:</li>
					<ul>
						<li><strong>Standard Attack:</strong> Make a regular attack.</li>
						<li><strong>Multiattack:</strong> Split your attack across multiple enemies—e.g. <i>cleave</i>.</li>
						<li><strong>Condition Attack:</strong> Inflict a condition.</li>
						<li><strong>Ongoing Damage:</strong> Put some ongoing damage onto an enemy.</li>
						<li><strong>Area Attack:</strong> Attack everyone within an area.</li>
						<li><strong>Magic:</strong> Tweak the stats if necessary to better suit your group of players.</li>
						<li><strong>Overkill Attack:</strong> A monstrous, charged attack.</li>
					</ul>
				</div>

				<col-break></col-break>

				<div class="reference-block">
					<h4>Conditions<span class="page-detail--page-number" data-target="condition-attacks"></span></h4>
					<table class="table">
						<thead>
							<tr>
								<th>Condition</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Blinded</td>
								<td>You can't see anything.</td>
							</tr>
							<tr>
								<td>Charmed</td>
								<td>You can't attack your charmer.</td>
							</tr>
							<tr>
								<td>Deafened</td>
								<td>You can't hear anything.</td>
							</tr>
							<tr>
								<td>Frightened</td>
								<td>You can't move towards your terror.</td>
							</tr>
							<tr>
								<td>Grappled</td>
								<td>You can't move.</td>
							</tr>
							<tr>
								<td>Incapacitated</td>
								<td>You can't take actions/reactions.</td>
							</tr>
							<tr>
								<td>Paralyzed</td>
								<td>You can't move or speak.</td>
							</tr>
							<tr>
								<td>Petrified</td>
								<td>You are turned to stone.</td>
							</tr>
							<tr>
								<td>Poisoned</td>
								<td>You have disadvantage on attacks and checks.</td>
							</tr>
							<tr>
								<td>Prone</td>
								<td>You are lying on the ground.</td>
							</tr>
							<tr>
								<td>Restrained</td>
								<td>You can't move.</td>
							</tr>
							<tr>
								<td>Stunned</td>
								<td>You can't move/act/speak.</td>
							</tr>
							<tr>
								<td>Unconscious</td>
								<td>You fall unconscious.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Magic Themes<span class="page-detail--page-number" data-target="using-magic"></span></h4>
					<table class="table">
						<thead>
							<tr>
								<th>Theme</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Restoration</td>
								<td>Heal and mend.</td>
							</tr>
							<tr>
								<td>Decay</td>
								<td>Erode, poison, and corrupt.</td>
							</tr>
							<tr>
								<td>Shadow</td>
								<td>Create darkness and manipulate shadows.</td>
							</tr>
							<tr>
								<td>Light</td>
								<td>Create light and illusions.</td>
							</tr>
							<tr>
								<td>Death</td>
								<td>Sever souls from bodies, talk to the dead, animate dead.</td>
							</tr>
							<tr>
								<td>Life</td>
								<td>Restore a soul to a body, tie souls to inanimate objects.</td>
							</tr>
							<tr>
								<td>Destruction</td>
								<td>Destroy and obliterate.</td>
							</tr>
							<tr>
								<td>Protection</td>
								<td>Shield and defend.</td>
							</tr>
							<tr>
								<td>War</td>
								<td>Enflame emotions.</td>
							</tr>
							<tr>
								<td>Peace</td>
								<td>Dampen emotions, cause calm.</td>
							</tr>
							<tr>
								<td>Earth</td>
								<td>Control over earth and rock.</td>
							</tr>
							<tr>
								<td>Air</td>
								<td>Control over air and wind.</td>
							</tr>
							<tr>
								<td>Fire</td>
								<td>Control over fire and heat.</td>
							</tr>
							<tr>
								<td>Water</td>
								<td>Control over water and ice.</td>
							</tr>
							<tr>
								<td>Strength</td>
								<td>Control physical power, muscle mass, and endurance.</td>
							</tr>
							<tr>
								<td>Knowledge</td>
								<td>Divination, learn secrets.</td>
							</tr>
							<tr>
								<td>Body</td>
								<td>Transmute flesh, change physical appearance, polymorph, petrify.</td>
							</tr>
							<tr>
								<td>Mind</td>
								<td>Telepathy, domination, read thoughts, and sense truth.</td>
							</tr>
							<tr>
								<td>Metal</td>
								<td>Detect/shape/create/move metal.</td>
							</tr>
							<tr>
								<td>Lightning</td>
								<td>Create/channel lightning, electricity.</td>
							</tr>
							<tr>
								<td>Sound</td>
								<td>Create sounds, silence, long range communication, change voice.</td>
							</tr>
							<tr>
								<td>Sight</td>
								<td>Truesight, perception, alter vision, sight-beyond-sight, scrying.</td>
							</tr>
							<tr>
								<td>Plants</td>
								<td>Control/communicate with plants.</td>
							</tr>
							<tr>
								<td>Beasts</td>
								<td>Control/communicate animals.</td>
							</tr>
							<tr>
								<td>Fear</td>
								<td>Create fear and nightmares.</td>
							</tr>
							<tr>
								<td>Resolve</td>
								<td>Reinforce willpower / create geas.</td>
							</tr>
							<tr>
								<td>Time</td>
								<td>Alter the flow of time.</td>
							</tr>
							<tr>
								<td>Space</td>
								<td>Teleportation, size, dimensions.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Encounter Difficulty<span class="page-detail--page-number" data-target="step-1-set-the-difficulty"></span></h4>
					<table class="table">
						<thead>
							<tr>
								<th>Difficulty</th>
								<th>Total Monster Points (MP)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Easy</td>
								<td>Number of players x 0.5</td>
							</tr>
							<tr>
								<td>Normal</td>
								<td>Number of players</td>
							</tr>
							<tr>
								<td>Hard</td>
								<td>Number of players x 1.5</td>
							</tr>
							<tr>
								<td>Extreme</td>
								<td>Number of players x 2</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Monster Value<span class="page-detail--page-number" data-target="step-2-add-monsters"></span></h4>
					<table class="table">
						<thead>
							<tr>
								<th>Type</th>
								<th>MP Cost</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Minion</td>
								<td>1/4</td>
							</tr>
							<tr>
								<td>Standard</td>
								<td>1</td>
							</tr>
							<tr>
								<td>Elite</td>
								<td>2</td>
							</tr>
							<tr>
								<td>Solo</td>
								<td>1&nbsp;per&nbsp;player</td>
							</tr>
						</tbody>
					</table>
				</div>

				<col-break></col-break>

				<div class="reference-block">
					<h4>Monster Statistics by Level<span class="page-detail--page-number" data-target="monster-stats-by-level"></span></h4>
					<table class="table">
						<thead>
							<tr>
								<th>Lvl</th>
								<th>AC</th>
								<th>HP</th>
								<th>Atk</th>
								<th>DMG</th>
								<th>Spell</th>
								<th>Save</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>-3</td>
								<td>13</td>
								<td>4</td>
								<td>+1</td>
								<td>1</td>
								<td>10</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>-2</td>
								<td>13</td>
								<td>8</td>
								<td>+1</td>
								<td>1</td>
								<td>10</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>-1</td>
								<td>13</td>
								<td>12</td>
								<td>+1</td>
								<td>1</td>
								<td>10</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>0</td>
								<td>14</td>
								<td>16</td>
								<td>+2</td>
								<td>1</td>
								<td>10</td>
								<td>+2</td>
							</tr>
							<tr>
								<td>1</td>
								<td>14</td>
								<td>26</td>
								<td>+3</td>
								<td>2</td>
								<td>11</td>
								<td>+3</td>
							</tr>
							<tr>
								<td>2</td>
								<td>14</td>
								<td>30</td>
								<td>+3</td>
								<td>4</td>
								<td>11</td>
								<td>+3</td>
							</tr>
							<tr>
								<td>3</td>
								<td>14</td>
								<td>33</td>
								<td>+3</td>
								<td>5</td>
								<td>11</td>
								<td>+3</td>
							</tr>
							<tr>
								<td>4</td>
								<td>15</td>
								<td>36</td>
								<td>+4</td>
								<td>8</td>
								<td>12</td>
								<td>+3</td>
							</tr>
							<tr>
								<td>5</td>
								<td>16</td>
								<td>60</td>
								<td>+5</td>
								<td>10</td>
								<td>13</td>
								<td>+4</td>
							</tr>
							<tr>
								<td>6</td>
								<td>16</td>
								<td>64</td>
								<td>+5</td>
								<td>11</td>
								<td>13</td>
								<td>+4</td>
							</tr>
							<tr>
								<td>7</td>
								<td>16</td>
								<td>68</td>
								<td>+5</td>
								<td>13</td>
								<td>13</td>
								<td>+4</td>
							</tr>
							<tr>
								<td>8</td>
								<td>17</td>
								<td>72</td>
								<td>+6</td>
								<td>17</td>
								<td>14</td>
								<td>+5</td>
							</tr>
							<tr>
								<td>9</td>
								<td>18</td>
								<td>102</td>
								<td>+7</td>
								<td>19</td>
								<td>15</td>
								<td>+5</td>
							</tr>
							<tr>
								<td>10</td>
								<td>18</td>
								<td>107</td>
								<td>+7</td>
								<td>21</td>
								<td>15</td>
								<td>+5</td>
							</tr>
							<tr>
								<td>11</td>
								<td>18</td>
								<td>111</td>
								<td>+7</td>
								<td>23</td>
								<td>15</td>
								<td>+5</td>
							</tr>
							<tr>
								<td>12</td>
								<td>18</td>
								<td>115</td>
								<td>+8</td>
								<td>28</td>
								<td>15</td>
								<td>+6</td>
							</tr>
							<tr>
								<td>13</td>
								<td>19</td>
								<td>152</td>
								<td>+9</td>
								<td>30</td>
								<td>16</td>
								<td>+7</td>
							</tr>
							<tr>
								<td>14</td>
								<td>19</td>
								<td>157</td>
								<td>+9</td>
								<td>32</td>
								<td>16</td>
								<td>+7</td>
							</tr>
							<tr>
								<td>15</td>
								<td>19</td>
								<td>162</td>
								<td>+9</td>
								<td>35</td>
								<td>16</td>
								<td>+7</td>
							</tr>
							<tr>
								<td>16</td>
								<td>20</td>
								<td>167</td>
								<td>+10</td>
								<td>41</td>
								<td>17</td>
								<td>+7</td>
							</tr>
							<tr>
								<td>17</td>
								<td>21</td>
								<td>210</td>
								<td>+11</td>
								<td>43</td>
								<td>18</td>
								<td>+8</td>
							</tr>
							<tr>
								<td>18</td>
								<td>21</td>
								<td>216</td>
								<td>+11</td>
								<td>46</td>
								<td>18</td>
								<td>+8</td>
							</tr>
							<tr>
								<td>19</td>
								<td>21</td>
								<td>221</td>
								<td>+11</td>
								<td>48</td>
								<td>18</td>
								<td>+8</td>
							</tr>
							<tr>
								<td>20</td>
								<td>22</td>
								<td>226</td>
								<td>+12</td>
								<td>51</td>
								<td>19</td>
								<td>+9</td>
							</tr>
							<tr>
								<td>21</td>
								<td>22</td>
								<td>276</td>
								<td>+13</td>
								<td>53</td>
								<td>20</td>
								<td>+9</td>
							</tr>
							<tr>
								<td>22</td>
								<td>22</td>
								<td>282</td>
								<td>+13</td>
								<td>56</td>
								<td>20</td>
								<td>+9</td>
							</tr>
							<tr>
								<td>23</td>
								<td>22</td>
								<td>288</td>
								<td>+13</td>
								<td>58</td>
								<td>20</td>
								<td>+9</td>
							</tr>
							<tr>
								<td>24</td>
								<td>23</td>
								<td>294</td>
								<td>+14</td>
								<td>61</td>
								<td>20</td>
								<td>+10</td>
							</tr>
							<tr>
								<td>25</td>
								<td>24</td>
								<td>350</td>
								<td>+15</td>
								<td>63</td>
								<td>21</td>
								<td>+11</td>
							</tr>
							<tr>
								<td>26</td>
								<td>24</td>
								<td>357</td>
								<td>+15</td>
								<td>66</td>
								<td>21</td>
								<td>+11</td>
							</tr>
							<tr>
								<td>27</td>
								<td>24</td>
								<td>363</td>
								<td>+15</td>
								<td>68</td>
								<td>21</td>
								<td>+11</td>
							</tr>
							<tr>
								<td>28</td>
								<td>25</td>
								<td>369</td>
								<td>+16</td>
								<td>71</td>
								<td>22</td>
								<td>+11</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Monster Roles<span class="page-detail--page-number" data-target="monster-roles"></span></h4>
					<table class="table">
						<thead>
							<tr>
								<th>Role</th>
								<th>AC</th>
								<th>Save</th>
								<th>HP</th>
								<th>Atk</th>
								<th>DMG</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Controller</td>
								<td>−2</td>
								<td>−1</td>
								<td>—</td>
								<td>—</td>
								<td>—</td>
							</tr>
							<tr>
								<td>Defender</td>
								<td>+2</td>
								<td>+1</td>
								<td>—</td>
								<td>—</td>
								<td>—</td>
							</tr>
							<tr>
								<td>Lurker</td>
								<td>−4</td>
								<td>−2</td>
								<td>x0.5</td>
								<td>+2</td>
								<td>x1.5</td>
							</tr>
							<tr>
								<td>Scout</td>
								<td>−2</td>
								<td>−1</td>
								<td>—</td>
								<td>—</td>
								<td>x0.75</td>
							</tr>
							<tr>
								<td>Sniper</td>
								<td>—</td>
								<td>—</td>
								<td>x0.75</td>
								<td>—</td>
								<td>x1.25</td>
							</tr>
							<tr>
								<td>Striker</td>
								<td>−4</td>
								<td>−2</td>
								<td>x1.25</td>
								<td>+2</td>
								<td>x1.25</td>
							</tr>
							<tr>
								<td>Supporter</td>
								<td>−2</td>
								<td>−1</td>
								<td>x0.75</td>
								<td>—</td>
								<td>x0.75</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Monster Types<span class="page-detail--page-number" data-target="minions-elites-solos"></span></h4>
					<table class="table">
						<thead>
							<tr>
								<th>Type</th>
								<th>AC</th>
								<th>Save</th>
								<th>HP</th>
								<th>Atk</th>
								<th>DMG</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Minion</td>
								<td>−2</td>
								<td>−2</td>
								<td>x0.2</td>
								<td>−2</td>
								<td>−2</td>
							</tr>
							<tr>
								<td>Standard</td>
								<td>—</td>
								<td>—</td>
								<td>—</td>
								<td>—</td>
								<td>—</td>
							</tr>
							<tr>
								<td>Elite</td>
								<td>+2</td>
								<td>+2</td>
								<td>x2</td>
								<td>+2</td>
								<td>x1.1</td>
							</tr>
							<tr>
								<td>Solo</td>
								<td>+2</td>
								<td>+2</td>
								<td>xPlyr</td>
								<td>+2</td>
								<td>x1.2</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>CR to Monster Level<span class="page-detail--page-number" data-target="challenge-rating-to-monster-level"></span></h4>
					<tables class="tables">
						<table class="table">
							<thead>
								<tr>
									<th>CR</th>
									<th>So</th>
									<th>E</th>
									<th>St</th>
									<th>M</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>0</td>
									<td>−3</td>
									<td>−2</td>
									<td>−1</td>
									<td>0</td>
								</tr>
								<tr>
									<td>⅛</td>
									<td>−2</td>
									<td>−1</td>
									<td>0</td>
									<td>1</td>
								</tr>
								<tr>
									<td>¼</td>
									<td>−1</td>
									<td>0</td>
									<td>1</td>
									<td>2</td>
								</tr>
								<tr>
									<td>½</td>
									<td>0</td>
									<td>1</td>
									<td>2</td>
									<td>3</td>
								</tr>
								<tr>
									<td>1</td>
									<td>1</td>
									<td>2</td>
									<td>3</td>
									<td>7</td>
								</tr>
								<tr>
									<td>2</td>
									<td>2</td>
									<td>3</td>
									<td>5</td>
									<td>11</td>
								</tr>
								<tr>
									<td>3</td>
									<td>3</td>
									<td>4</td>
									<td>7</td>
									<td>14</td>
								</tr>
								<tr>
									<td>4</td>
									<td>4</td>
									<td>6</td>
									<td>8</td>
									<td>17</td>
								</tr>
								<tr>
									<td>5</td>
									<td>5</td>
									<td>8</td>
									<td>11</td>
									<td>21</td>
								</tr>
								<tr>
									<td>6</td>
									<td>6</td>
									<td>9</td>
									<td>13</td>
									<td>22</td>
								</tr>
								<tr>
									<td>7</td>
									<td>7</td>
									<td>10</td>
									<td>14</td>
									<td>23</td>
								</tr>
								<tr>
									<td>8</td>
									<td>8</td>
									<td>12</td>
									<td>16</td>
									<td>24</td>
								</tr>
								<tr>
									<td>9</td>
									<td>9</td>
									<td>13</td>
									<td>18</td>
									<td>25</td>
								</tr>
								<tr>
									<td>10</td>
									<td>10</td>
									<td>14</td>
									<td>19</td>
									<td>26</td>
								</tr>
								<tr>
									<td>11</td>
									<td>11</td>
									<td>16</td>
									<td>20</td>
									<td>28</td>
								</tr>
							</tbody>
						</table>
						<table class="table">
							<thead>
 								<tr>
 									<th>CR</th>
 									<th>So</th>
 									<th>E</th>
 									<th>St</th>
 									<th>M</th>
 								</tr>
	 						</thead>
	 						<tbody>
 								<tr>
 									<td>12</td>
 									<td>12</td>
 									<td>17</td>
 									<td>21</td>
 									<td>29</td>
 								</tr>
								<tr>
 									<td>13</td>
 									<td>13</td>
 									<td>18</td>
 									<td>22</td>
 									<td>—</td>
 								</tr>
								<tr>
 									<td>14</td>
 									<td>14</td>
 									<td>19</td>
 									<td>23</td>
 									<td>—</td>
 								</tr>
								<tr>
 									<td>15</td>
 									<td>15</td>
 									<td>20</td>
 									<td>24</td>
 									<td>—</td>
 								</tr>
								<tr>
 									<td>16</td>
 									<td>16</td>
 									<td>21</td>
 									<td>25</td>
 									<td>—</td>
 								</tr>
								<tr>
 									<td>17</td>
 									<td>17</td>
 									<td>22</td>
 									<td>26</td>
 									<td>—</td>
 								</tr>
								<tr>
 									<td>18</td>
 									<td>18</td>
 									<td>23</td>
 									<td>27</td>
 									<td>—</td>
 								</tr>
								<tr>
 									<td>19</td>
 									<td>19</td>
 									<td>24</td>
 									<td>28</td>
 									<td>—</td>
 								</tr>
								<tr>
 									<td>20</td>
 									<td>20</td>
 									<td>25</td>
 									<td>29</td>
 									<td>—</td>
 								</tr>
								<tr>
 									<td>21</td>
 									<td>21</td>
 									<td>26</td>
 									<td>30</td>
 									<td>—</td>
 								</tr>
								<tr>
 									<td>22</td>
 									<td>22</td>
 									<td>27</td>
 									<td>—</td>
 									<td>—</td>
 								</tr>
								<tr>
 									<td>23</td>
 									<td>23</td>
 									<td>28</td>
									<td>—</td>
 									<td>—</td>
 								</tr>
								<tr>
 									<td>24</td>
 									<td>24</td>
 									<td>29</td>
									<td>—</td>
 									<td>—</td>
 								</tr>
								<tr>
 									<td>25</td>
 									<td>25</td>
 									<td>30</td>
									<td>—</td>
 									<td>—</td>
 								</tr>
								<tr>
 									<td>26</td>
 									<td>26</td>
 									<td>—</td>
									<td>—</td>
 									<td>—</td>
 								</tr>
 							</tbody>
						</table>
					</tables>
				</div>
			</page>
		</book>
	</body>
</html>
