<html>
	<body>
		<book class="book">
			<page class="page page--generic page--randomizing-damage" data-header-icon="random">
				<h1 id="randomizing-damage">Randomizing Damage</h1>
				<p>The monster tables and stat blocks listed in this supplement use static damage values by default for simplicity's sake.</p>
				<p>But if you want to add some variety to your monster damage, this chapter will help you to convert your static damage values into randomized damage.</p>

				<h2>Static to Random</h2>
				<p>Once you have a monster—be it minion, standard, elite, or solo—it's easy to convert your static damage into randomized damage. Simply follow these three steps:</p>

				<ol>
					<li><strong>Get the static damage:</strong> Find your monster's base static damage value from their profile.</li>
					<li><strong>Choose an attack type:</strong> Decide just how accurate or unpredictable the attack's damage should be—the wilder the attack, the bigger the die you roll.</li>
					<li><strong>Randomize the damage:</strong> Replace the static damage with a dice roll from the <i>Randomized Damage</i> table.</li>
				</ol>

				<h3><span class="h3__highlight">1</span>Get the Static Damage</h3>
				<p>First, find your monster's normal static damage for their attacks—this is typically listed as part of the monster profile or in the monster template tables.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM is creating <i>Gannimor Strax</i>, a ferocious orc pit-fighter who, in battle, dual-wields a battle axe and dagger. As a 5th-level elite striker, the orc deals 14 static damage on a successful hit.</p>
						<p>For variety, and to emphasis the different weaponry, the GM wants to use two randomized damage values—one for an axe attack, and one for a dagger attack.</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">2</span>Choose an Attack Type</h3>
				<p>Next, decide how unpredictable you want the damage to be—the more careless the attack, the bigger the damage die and the wider the range of possible damage.</p>
				<p>There are 7 categories of damage: accurate (d4), predictable (d6), reliable (d8), irregular (d10), volatile (d12), wild (d20), and chaotic (d100). Choose the type that best suits your particular attack.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Gannimor is reckless with his axe and precise with his dagger. To reflect this, the GM chooses to use <i>volatile (d12)</i> axe damage and <i>accurate (d4)</i> dagger damage.</p>
					</section>
				</example>

				<h3><span class="h3__highlight">3</span>Randomize the Damage</h3>
				<p>Finally, look through the <i>Randomized Damage</i> table to find a suitable value based on your chosen damage types.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM finds two randomized damage options that are a good fit. Gannimor's profile is updated to replace the static 14 damage with two attack options:</p>
						<ul>
							<li><strong>Attack (Axe):</strong> 2d12 + 1 <i>(14 - 13)</i></li>
							<li><strong>Attack (Dagger):</strong> 4d4 + 4 <i>(14 - 10)</i></li>
						</ul>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Wild Swings</h4>
					</header>
					<section class="panel__body">
						<p>Rolling big dice for your damage (d10s, d12s, etc) can be exciting, but may lead to some very swingy combat. Make sure to use a variety of dice options to keep things interesting and control the tempo of your monsters.</p>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--randomizing-damage page--columns-1">
				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Randomized Damage</h4>
					</header>
					<section class="panel__body">
						<table class="table table--random-damage">
							<thead>
								<tr>
									<th>Dice</th>
									<th>Min/Max</th>
									<th>Mean</th>
									<th>Deviation</th>
									<th>Common Range</th>
									<th>Randomized Damage</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
							<tfoot>
								<tr>
									<th>Dice</th>
									<th>Min/Max</th>
									<th>Mean</th>
									<th>Deviation</th>
									<th>Common Range</th>
									<th>Randomized Damage</th>
								</tr>
							</tfoot>
						</table>
					</section>
				</list>
			</page>
		</book>
	</body>
</html>
