<html>
	<body>
		<book class="book">
			<page class="page page--generic page--ratings-and-levels" data-header-icon="swap">
				<h1 id="ratings-and-levels">Ratings & Levels</h1>
				<p>This supplement uses <i>Monster Levels</i> as a fast and easy way to gauge a monster's power. However, there is another alternative—<i>challenge ratings</i>.</p>
				<p>If you want to mix-and-match monster levels (ML) with challenge ratings (CR) in your encounters—or you just want to give your existing CR monsters a little boost with some new tricks and abilities—this chapter will help guide you through the conversion process.</p>

				<h2>Conversions</h2>
				<p>To mix CR and ML monsters in your encounters, you first need a way to compare challenge ratings with monster levels—this will help you to balance your creatures and encounters more easily.</p>
				<p>For simplicity's sake, we do this by comparing XP values—matching the XP of a CR monster to the level XP values listed in the <i>Monster Templates</i> (<span class="page-detail--page-number" data-target="monster-templates"></span>).</p>

				<h3>Ratings (CR) to Levels (ML)</h3>
				<p>If you have a CR monster, it's easy to find the equivalent <i>monster level</i>—simply take your monster's CR value and look through the <i>Challenge Rating to Monster Level</i> table (<span class="page-detail--page-number" data-target="challenge-rating-to-monster-level"></span>) until you find a matching level and rank.</p>
				<p>For example, to find the equivalent ML of a CR 11 remorhaz (5e Monster Manual, p258):</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>A remorhaz <i></i> is a CR 11 monster worth 7,200 XP. It has 17 AC / 195 HP, and can deal around 50 damage per round with a +11 attack bonus.</p>
						<p>From the conversion table, we see that this CR 11 remorhaz may be used in place of a ML 11 Solo, a ML 16 Elite, a ML 20 Standard, or a ML 28 Minion.</p>
					</section>
				</example>

				<col-break></col-break>

				<p>As another example, here we try to find the ML of a CR 17 dragon turtle (5e Monster Manual, p119):</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>A dragon turtle is a CR 17 monster worth 18,000 XP. It has 20 AC / 341 HP, and can deal around 58 damage per round with a +13 attack bonus.</p>
						<p>From the conversion table, we see that this monster (CR 17) may be used in place of a ML 17 Solo, a ML 22 Elite, or a ML 26 Standard. It is too strong, however, to be used as a minion.</p>
					</section>
				</example>

				<p>This isn't an exact system—monster threat varies greatly depending on traits, powers, and the abilities of your adventuring party—but it should give you a rough idea as to your monster's rank on the battlefield.</p>

				<h3>Levels (ML) to Ratings (CR)</h3>
				<p>To get an idea of your ML monster's <i>challenge rating</i>, follow the same conversion steps—take your monster's level and rank and find the equivalent CR in the <i>Challenge Rating to Monster Level</i> table. CR reference values can also be found in the <i>Monster Templates</i> (<span class="page-detail--page-number" data-target="monster-templates"></span>).</p>
				<p>As with other conversions, keep an eye on your ML monster's attack / defense attributes to make sure they're not out of place in their new CR role.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM has created a new monster—an orc berserker—for their adventure. The orc is an ML 12 Standard Striker with 14 AC, 144 HP, and it deals 35 damage with a +10 attack bonus.</p>
						<p>From the table, we can see that this orc (standard ML 12) may be used in place of a CR 5 monster.</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--ratings-and-levels">
				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title" id="challenge-rating-to-monster-level">Challenge Rating to Monster Level</h4>
					</header>
					<section class="panel__body">
						<table class="table table--challenge-ratings">
							<thead>
								<tr>
									<th>Challenge Rating</th>
									<th colspan="4">
										<div class="spacer">
											Monster Level (ML)
										</div>
									</th>
								</tr>
								<tr>
									<th></th>
									<th>Solo</th>
									<th>Elite</th>
									<th>Standard</th>
									<th>Minion</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>CR 0</td>
									<td>-3</td>
									<td>-2</td>
									<td>-1</td>
									<td>0</td>
								</tr>
								<tr>
									<td>CR ⅛</td>
									<td>-2</td>
									<td>-1</td>
									<td>0</td>
									<td>1</td>
								</tr>
								<tr>
									<td>CR ¼</td>
									<td>-1</td>
									<td>0</td>
									<td>1</td>
									<td>2</td>
								</tr>
								<tr>
									<td>CR ½</td>
									<td>0</td>
									<td>1</td>
									<td>2</td>
									<td>3-6</td>
								</tr>
								<tr>
									<td>CR 1</td>
									<td>1</td>
									<td>2</td>
									<td>3-4</td>
									<td>7-10</td>
								</tr>
								<tr>
									<td>CR 2</td>
									<td>2</td>
									<td>3</td>
									<td>5-6</td>
									<td>11-13</td>
								</tr>
								<tr>
									<td>CR 3</td>
									<td>3</td>
									<td>4-5</td>
									<td>7</td>
									<td>14-16</td>
								</tr>
								<tr>
									<td>CR 4</td>
									<td>4</td>
									<td>6-7</td>
									<td>8-10</td>
									<td>17-20</td>
								</tr>
								<tr>
									<td>CR 5</td>
									<td>5</td>
									<td>8</td>
									<td>11-12</td>
									<td>21</td>
								</tr>
								<tr>
									<td>CR 6</td>
									<td>6</td>
									<td>9</td>
									<td>13</td>
									<td>22</td>
								</tr>
								<tr>
									<td>CR 7</td>
									<td>7</td>
									<td>10-11</td>
									<td>14-15</td>
									<td>23</td>
								</tr>
								<tr>
									<td>CR 8</td>
									<td>8</td>
									<td>12</td>
									<td>16-17</td>
									<td>24</td>
								</tr>
								<tr>
									<td>CR 9</td>
									<td>9</td>
									<td>13</td>
									<td>18</td>
									<td>25</td>
								</tr>
								<tr>
									<td>CR 10</td>
									<td>10</td>
									<td>14-15</td>
									<td>19</td>
									<td>26-27</td>
								</tr>
								<tr>
									<td>CR 11</td>
									<td>11</td>
									<td>16</td>
									<td>20</td>
									<td>28</td>
								</tr>
								<tr>
									<td>CR 12</td>
									<td>12</td>
									<td>17</td>
									<td>21</td>
									<td>29-30</td>
								</tr>
								<tr>
									<td>CR 13</td>
									<td>13</td>
									<td>18</td>
									<td>22</td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 14</td>
									<td>14</td>
									<td>19</td>
									<td>23</td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 15</td>
									<td>15</td>
									<td>20</td>
									<td>24</td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 16</td>
									<td>16</td>
									<td>21</td>
									<td>25</td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 17</td>
									<td>17</td>
									<td>22</td>
									<td>26</td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 18</td>
									<td>18</td>
									<td>23</td>
									<td>27</td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 19</td>
									<td>19</td>
									<td>24</td>
									<td>28</td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 20</td>
									<td>20</td>
									<td>25</td>
									<td>29</td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 21</td>
									<td>21</td>
									<td>26</td>
									<td>30</td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 22</td>
									<td>22</td>
									<td>27</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 23</td>
									<td>23</td>
									<td>28</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 24</td>
									<td>24</td>
									<td>29</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 25</td>
									<td>25</td>
									<td>30</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 26</td>
									<td>26</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 27</td>
									<td>27</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 28</td>
									<td>28</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 29</td>
									<td>29</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>CR 30</td>
									<td>30</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>A GM is running a pre-made 5th-level adventure for 4 players which features a standard CR gnoll encounter:</p>
						<ul>
							<li>4 gnolls (CR 1/2)</li>
							<li>1 gnoll pack lord (CR 2)</li>
							<li>4 gnoll fang of Yeenoghu (CR 4)</li>
						</ul>
						<p>The GM wants to use <i>monster levels</i> and stat blocks in their adventure—they change the encounter to:</p>
						<ul>
							<li>4 gnolls (minion, ML 5)</li>
							<li>1 gnoll pack lord (standard, ML 5)</li>
							<li>4 gnoll fang of Yeenoghu (elite, ML 6)</li>
						</ul>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">More Art Than Science</h4>
					</header>
					<section class="panel__body">
						<p>Converting monsters isn't an exact science. Use this process as a rough guide to get started and tweak your conversions to better suit your party's strengths.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h2>Modifications</h2>
				<p>You may find that your CR monsters don't pack enough punch—especially as an elite or solo—or that your ML monsters are a little too strong as a CR counterpart.</p>
				<p>When converting monsters, compare the CR monster's basic stats against the corresponding ML template. You may wish to:</p>

				<ul>
					<li>Adjust AC / HP to give your monster staying power.</li>
					<li>Add <i>Paragon Actions</i> to Elite and Solo monsters.</li>
					<li>Add a trait or power for variety.</li>
					<li>Boost damage to keep your players on edge.</li>
				</ul>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>A GM wants to use a CR 17 dragon turtle as a ML 17 Solo Defender versus 4 players. They replace the turtle's 20 AC / 341 HP with 25 AC /	1,050 HP, give the turtle 3 <i>Paragon Actions</i>, and add the "Heavy Defense" defender trait. They leave the turtle's attacks as RAW—58 damage can still pack a punch, especially when multiplied across the new <i>Paragon Actions</i>.</p>
						<p>With 27 AC and 1,050 hit points, the dragon turtle is now ready to fight four 17th-level adventurers.</p>
					</section>
				</example>

				<h3 data-toc-ignore-book="true">Example: Dragon Turtle</h3>

				<p>Below is a stat block for a partially-converted CR dragon turtle. The monster use ML armor class, hit points, and traits—but continues to use the original CR attack bonus, damage, spell DCs, saving throws, and skills.</p>
				<p>In this way, you can make quick, minor adjustments to your existing CR monsters without first having to do a complete overhaul of the monster profile.</p>

				<monster class="panel panel--monster solo premade">
					<header class="panel__header">
						<div class="panel__header__upper">
							<h4 class="panel__title">Dragon Turtle</h4>
							<span class="monster__level">Level 17 Defender</span>
						</div>
						<div class="panel__header__lower">
							<span class="monster__description">
								<ul class="panel__tags">
									<li>Gargantuan dragon, neutral</li>
								</ul>
							</span>
							<span class="monster__xp">Solo vs 4 (18,000 XP)</span>
						</div>
					</header>
					<section class="panel__body">
						<ul class="monster__attributes">
							<li><strong>Armor Class</strong>25</li>
							<li><strong>Attack Bonus</strong>+12</li>
							<li><strong>Hit Points</strong>1,050 (3 x 350)</li>
							<li><strong>Damage</strong>58</li>
							<li><strong>Speed</strong>20 ft</li>
							<li><strong>Spell DCs</strong>20, 18</li>
						</ul>
						<div class="monster__abilities">
							<div class="monster__ability">
								<span class="monster__ability__name">Str</span>
								<span class="monster__ability__modifier">+7</span>
							</div>
							<div class="monster__ability">
								<span class="monster__ability__name">Dex</span>
								<span class="monster__ability__modifier">+0</span>
							</div>
							<div class="monster__ability">
								<span class="monster__ability__name">Con</span>
								<span class="monster__ability__modifier">+5</span>
							</div>
							<div class="monster__ability">
								<span class="monster__ability__name">Int</span>
								<span class="monster__ability__modifier">+0</span>
							</div>
							<div class="monster__ability">
								<span class="monster__ability__name">Wis</span>
								<span class="monster__ability__modifier">+1</span>
							</div>
							<div class="monster__ability">
								<span class="monster__ability__name">Cha</span>
								<span class="monster__ability__modifier">+1</span>
							</div>
						</div>
						<div class="monster__saves"><strong>Saving Throws</strong> Con +10, Wis +6, Dex +5</div>
						<div class="monster__skills"><strong>Skills</strong> Initiative +0, Perception +1, Stealth +0</div>
					  <div class="monster__traits">
							<div class="monster__trait">
						    <p class="monster__trait__title"><strong>Paragon Actions</strong></p>
								<p class="monster__trait__description">You may take 3 Paragon Actions per round to either move or perform an action.</p>
							</div>
							<div class="monster__trait">
						    <p class="monster__trait__title"><strong>Phase Transition</strong></p>
								<p class="monster__trait__description">When reduced to 66% and 33% hit points, you may remove all on-going effects on yourself and trigger your next phase transition.</p>
							</div>
							<div class="monster__trait">
						    <p class="monster__trait__title"><strong>Heavy Defense</strong></p>
								<p class="monster__trait__description">You may spend a bonus action to gain +2 AC until the start of your next turn.</p>
							</div>
					  </div>
					</section>
				</monster>
			</page>
		</book>
	</body>
</html>
