<html>
	<body>
		<book class="book">
			<page class="page page--generic page--court-of-bones" data-header-icon="skull-crown">
				<h1 id="the-court-of-bones">The Court of Bones</h1>
				<p>Deep beneath the earth lies an ancient evil, long buried and forgotten—but forgotten no more, for a sinister necromancer now plots to resurrect the <i>Skeleton Queen</i> and unleash her dark powers upon the world. Can you save the kingdom from the <i>Court of Bones</i>?</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>100 years ago, Queen Celestine of Reinburg—dying from an incurable sickness—made a desperate pact with a death god to save her life and prevent a war of succession from tearing her kingdom apart.</p>
						<p>The pact was accepted and her sickness healed, but at a terrible cost—a hunger for souls. Though she tried to resist, Celestine soon began to feast on her aides. As a grim reward for their 'sacrifice', she raised their bodies as undead puppets—her <i>Court of Bones</i>.</p>
						<p>When the hunger grew, her unholy appetites turned to the rest of her kingdom. But before she could complete a ritual that would turn the entire kingdom to undeath, four brave heroes fought their way into the palace and defeated her. Celestine's spirit was torn from her body and her corrupt palace—the Dreadvault—sank deep into the earth, never to rise again.</p>
						<p>Some say that the Queen's ravenous soul still haunts the Dreadvault, seeking a way back into our world. Nobody knows for sure, and none have been brave—or foolish—enough to find out. Until today...</p>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">A Sample Adventure</h4>
					</header>
					<section class="panel__body">
						<p>The Court of Bones is a <strong>5th-level adventure</strong> outline for 4 players, demonstrating how you can use this supplement to build encounters. This adventure is left deliberately open-ended—use it as a starting point and expand the scenario with your own monsters, encounters, and loot.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h2>Your Quest</h2>
				<p>The necromancer Mortanius wants to <strong>raise the Skeleton Queen</strong> and bind her to his will, using her formidable necromantic powers (and the Court of Bones) for his own purpose—the conquest of the mortal realms.</p>
				<p>To achieve this, Mortanius has stolen the <i>Tome of Awakening</i> (a powerful book of forbidden necromantic knowledge) and entered the sunken <strong>Dreadvault</strong>. His ritual of resurrection has already begun leeching life from the land above—if you don't stop him, the lifeforce of the entire kingdom will be bled dry.</p>
				<p>The party, following Mortanius' trail through the twisting undercaverns, discover the gates of the Dreadvault. Already, the air crackles with magical energy...</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p><strong>Quest:</strong> Find Mortanius and stop his resurrection ritual—or kill the Skeleton Queen once and for all.</p>
					</section>
				</example>

				<h3>A Ticking Clock</h3>
				<p>Time is a factor—the party must stop Mortanius before he can resurrect the Skeleton Queen at full strength. Upon entering the Dreadvault, if the party take a long rest at any point before defeating Mortanius:</p>
				<ul>
					<li>Mortanius' resurrection ritual completes, killing all plant-life in the kingdom above and poisoning the earth with necrotic energy.</li>
					<li>The Skeleton Queen becomes a gargantuan monster and gains +10 levels (ML 13 instead of ML 3). She kills Mortanius and shatters the roof of the Dreadvault, ascending into the world to wage war against the living and reclaim the throne of Reinburg.</li>
				</ul>
			</page>
			<page class="page page--image page--court-of-bones">
				<img src="../images/maps/court-of-bones.png">
				<img src="../images/maps/court-of-bones-pf.png" class="pf">
			</page>
			<page class="page page--generic page--court-of-bones">
				<h2>The History</h2>
				<p>100 years ago, the kingdom of Reinburg was ruled by the accomplished Queen Celestine and her husband, Prince Beregor. Their rule was prosperous and Reinburg grew strong under their care. With much celebration, the Queen gave birth to a daughter—Princess Sophia—and all was well—until a day came when everything changed.</p>
				<p>A terrible, magical plague swept through the kingdom, killing peasant and noble alike. Prince Beregor and Princess Sophia both died, while Celestine was left terminally ill.</p>

				<h3>A Desperate Pact</h3>
				<p>As Celestine lay near death, her two younger brothers—the royal twins, Rayner and Remus—each stepped forward to claim the throne for himself. Celestine feared their greed for Reinburg's crown would start a war of succession and tear her beloved kingdom apart.</p>
				<p>And so on her deathbed, the Queen turned to the gods for aid. When the gods ignored her pleas, Celestine—in desperation—reached out to darker powers.</p>
				<p>One reached back.</p>
				<p>"Feed me."</p>
				<p>The command was overwhelming. And though every fiber of her being screamed to refuse, Celestine was desperate to safeguard her kingdom. She accepted. At once her sickness quickly burned away as new, otherworldly power flowed through her veins.</p>
				<p>Celestine was cured, and Reinburg was safe.</p>

				<h3>A Sinister Hunger</h3>
				<p>It wasn't until some weeks later that Celestine noticed her appetite for food was gone. With dawning horror, she discovered a hunger for something much darker—living souls. She tried to resist it, but day by day the hunger grew and the command grew louder: <i>Feed me!</i></p>
				<p>When Celestine first touched the arm of her chambermaid and accidentally drained the maid's soul, she was inconsolable. When a courtier kissed Celestine's hand and she fed on his soul, she was upset. When she devoured the souls of her knight protectors in one hungry outburst, she was finally resolved.</p>
				<p>"This is for the future of Reinburg," justified the Queen. "This realm is nothing without its queen—I do this for the sake of my people. But I won't let their noble sacrifice go unrewarded. Through me, they will know life eternal."</p>
				<p>And thus began the reign of Celestine and her undead guardians—the Court of Bones.</p>

				<h3>Pactbreaker</h3>
				<p>As time passed, Celestine's realized that her patron's hunger could not be sated. With growing fear for her kingdom's safety, Celestine sought to escape her pact. Perhaps, if she consumed enough souls, she would gain the power to fight and overthrow her benefactor?</p>
				<p>And so, with grim resolve, she prepared a ritual that would drain all Reinburg of its spiritual lifeforce.</p>

				<col-break></col-break>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>"Better that Reinburg should lose its soul to its rightful Queen than lose everything to <i>Him</i>."</p>
					</section>
				</example>

				<p>But when all hope seemed lost, four brave heroes fought their way into the Queen's sanctum and battled her in the throne room. At the last second, before the ritual could be completed, one of the heroes impaled the Queen with a greatsword, pinning her to the black throne.</p>
				<p>With a bloody hand on the sword, surreptitiously etching out eldritch runes in blood, Celestine laughed one final time. "I won't let Him have my soul. Not yet..."</p>
				<p>With her final breath, her palace—the Dreadvault—began to sink into the earth. Some people claim to have seen tentacles wrapped around the building, pulling it down—whatever the truth, the Dreadvault and Skeleton Queen were thought lost for all time...</p>

				<h2>The Villains</h2>
				<p>There are two primary villains the party will face during this adventure: <strong>Mortanius</strong>—a powerful necromancer with megalomanical aspirations—and <strong>Celestine Reinburg</strong>—a ruthless, soul-eating Skeleton Queen.</p>

				<h3>Mortanius, the Necromancer</h3>
				<p>Mortanius is a man who wants to rule the world, and he is not in the least bit subtle about this. Arrogant, flamboyant, and utterly convinced that <i>only he</i> can bring order to chaos, Mortanius has devoted his life—and his family fortune—to this pursuit of world domination.</p>
				<p>But after three failed schemes—thwarted each time by <i>persistent</i> adventurers—and having spent the last gold piece of his family fortune, Mortanius has come to one conclusion: a conqueror needs an army.</p>
				<p>For this reason, Mortanius has come to Reinburg. With the <i>Tome of Awakening</i> in his possession, the necromancer plans to raise the Skeleton Queen and, through her, control the undead <i>Court of Bones</i>—an army with which to start conquering the living.</p>
				<p>Today, Reinburg. Tomorrow, the world!</p>

				<h3>Celestine, the Skeleton Queen</h3>
				<p>In life, Celestine was the accomplished—if stern—ruler of Reinburg. But when a magical plague swept through the kingdom and nearly killed her, Celestine made a pact with an unknown power and became a soul reaver.</p>
				<p>Celestine wants to protect her beloved Reinburg, and she believes that the best way to do that is by killing her gluttonous patron—even at the cost of every living soul in the kingdom. Better to lose a soul than lose all existence, in her cold opinion.</p>

				<h4>The Court of Bones</h4>
				<p>The broken bones of Celestine's undead court can be found throughout the Dreadvault. Should the Skeleton Queen arise and resurrect her Court of Bones, she will have upwards of 300 undead soldiers at her command.</p>
			</page>
			<page class="page page--generic page--court-of-bones">
				<h2>The Dreadvault</h2>
				<p>Formerly the beautiful gothic marble Palace of Reinburg, the Dreadvault is now little more than a ruined charnel house sunk deep beneath the earth—the final resting place of the Skeleton Queen and her Court of Bones.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The Dreadvault is a grim, hostile place.</p>
						<ul>
							<li>
								<p><strong>You see:</strong> There is no natural light in the Dreadvault—the dead have no need of it. But if you light a torch, you see thick, black, necrotic veins running throughout the walls, pulsing as if to some almighty heartbeat. Ghostly shadows seem to move on the edge of your vision.</p>
								<p>All around you are the rotted remains of the former palace—decayed furniture, torn paintings, blocked doorways, collapsed ceilings, and broken bones.
							</li>
							<li><strong>You hear:</strong> The faint whistle of wind and the far-off echo of bone clattering on stone. Sometimes, it sounds as if someone is whispering unintelligence words right into your ear—words that set a chill throughout your body.</li>
							<li><strong>You smell:</strong> The air here has been undisturbed for nearly a century. You smell dust, mold, and decay.</li>
							<li><strong>You feel:</strong> It is cold and sinister. At times, you feel an almost overwhelming pressure to flee—as if the Dreadvault itself is trying to break your spirit.</li>
						</ul>
					</section>
				</example>

				<p>The living are not welcome in the Dreadvault. Linger here at your peril...</p>

				<h3><span class="h3__highlight">A1</span>The Vestibule</h3>
				<p>Once a greeting chamber to the palace, this ruined chamber now serves as a warning to those who would dare enter the Dreadvault. Eight skeletons—recently raised by Mortanius—stand guard here.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The heavy door opens slowly with a screech of rusted hinges. Inside, eight skeletal heads turn towards you, blue light burning in their empty eye sockets.</p>
					</section>
				</example>

				<p>The skeletons attack any intruder that comes within 60 ft. By Mortanius' command, they attack to kill.</p>
				<p>Once the intruders have been dealt with, the skeletons drag any corpses to the Halls of Dust (A2) to be later raised as undead zombies.</p>

				<encounter class="panel panel--encounter">
					<header class="panel__header">
						<h4 class="panel__title">The Vestibule</h4>
						<ul class="panel__tags">
							<li>Eight skeleton minions guard the entrance.</li>
							<li>2 MP</li>
						</ul>
						<span class="encounter__level">Easy vs 4</span>
					</header>
					<section class="panel__body">
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Monster</th>
									<th>Level</th>
									<th>MP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>4</td>
									<td>Soldier (Minion Defender)</td>
									<td>5</td>
									<td>1</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Archer (Minion Sniper)</td>
									<td>5</td>
									<td>1</td>
								</tr>
							</tbody>
						</table>
					</section>
				</encounter>

				<col-break></col-break>

				<monster data-name="Skeleton Soldier" data-description="Medium humanoid, undead" data-level=5 data-role="Defender" data-powers="got your back" data-type="minion" data-priorities="STR|CON|DEX|WIS|INT|CHA" data-vulnerabilities="Bludgeoning" data-immunities="Exhaustion, Poison, Poisoned" data-senses="Darkvision 60 ft" data-languages="Understands Common, can't speak" data-class="minimum">
					<div class="monster__actions">
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Slash</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 5 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] slashing damage.</p>
						</div>
					</div>
					<div class="monster__equipment">
						<p>Rotted leather armor and a rusted sword.</p>
					</div>
				</monster>

				<monster data-name="Skeleton Archer" data-description="Medium humanoid, undead" data-level=5 data-role="Sniper" data-powers="hold still" data-type="minion" data-priorities="DEX|CON|STR|WIS|INT|CHA" data-vulnerabilities="Bludgeoning" data-immunities="Exhaustion, Poison, Poisoned" data-senses="Darkvision 60 ft" data-languages="Understands Common, can't speak" data-class="minimum">
					<div class="monster__actions">
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Shoot</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Ranged 60 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] piercing damage.</p>
						</div>
					</div>
					<div class="monster__equipment">
						<p>An old bow and some arrows.</p>
					</div>
				</monster>
			</page>
			<page class="page page--generic page--court-of-bones">
				<h3><span class="h3__highlight">A2</span>The Halls of Dust</h3>
				<p>Once an elaborate dining hall, the only thing the Halls of Dust now serve is death. Four risen skeletons can be found here, guarding a dangerous necromantic device.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The wooden door turns to ash as you push on it, revealing a ruined dining hall. Time and necrotic magic have destroyed the room's banquet table, leaving only scant fragments of corrupted wood.</p>
						<p>Above, three chandeliers line the ceiling, bereft of candles. Their metal chains are rusted with age.</p>
					</section>
				</example>

				<p>In the center of the hall is a <strong>necrotic conduit</strong>, a magical device created by Mortanius to harvest the latent necrotic energies of the Dreadvault and raise the dead.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>In the center of the hall, dark purple light shines from a black crystal shard that floats 5 ft above a large ritual circle. Black mist spreads from the crystal's core.</p>
						<p>You see a bolt of purple lightning arc out from the crystal and strike a nearby pile of broken bones and armor. With a clatter, the bones quickly knit together with necrotic power and rise—a new boneknight, rusted sword in skeletal hand, now stands ready to defend the sinister conduit.</p>
					</section>
				</example>

				<p>Mortanius has created this conduit—and many others—to help raise the <i>Court of Bones</i>. If left active, the conduit will raise a new skeleton every hour. There are enough remains in the <i>Halls of Dust</i> to raise at least 16 more boneknights, flamecasters, and dragoons.</p>
				<p>The necrotic conduit is guarded by <strong>four skeletons</strong> that attack any intruder to come within 60 ft.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Surrounding the crystal, four risen skeletons stand guard. These undead seem to be in much better condition than those you faced in the Vestibule, the energy of the conduit still fresh in their bones.</p>
						<p>As you enter the hall, they turn their heads towards you and stare with empty eyes...</p>
					</section>
				</example>

				<p>A search of the room (Investigate DC 15) will reveal 25 gp of old coinage, an intricately carved figurine of a dragon in red stone, and what appears to be a potion of healing (though it is, in fact, a potion of poison).</p>

				<encounter class="panel panel--encounter">
					<header class="panel__header">
						<h4 class="panel__title">The Halls of Dust</h4>
						<ul class="panel__tags">
							<li>Four skeletons guard a conduit of dark power.</li>
							<li>4 MP</li>
						</ul>
						<span class="encounter__level">Normal vs 4</span>
					</header>
					<section class="panel__body">
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Monster</th>
									<th>Level</th>
									<th>MP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2</td>
									<td>Boneknight (Standard Defender)</td>
									<td>5</td>
									<td>2</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Flamecaster (Standard Sniper)</td>
									<td>5</td>
									<td>1</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Dragoon (Standard Striker)</td>
									<td>5</td>
									<td>1</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Conduit (Hazard Supporter)</td>
									<td>5</td>
									<td>0</td>
								</tr>
							</tbody>
						</table>
					</section>
				</encounter>

				<col-break></col-break>

				<h4>Necrotic Conduit</h4>
				<p>A necrotic conduit is an arcane device that harvests negative energy from its surroundings, using this fuel to power a <i>"Raise Dead"</i> ritual. These conduits have been created by Mortanius and placed throughout the Dreadvault to feed on its latent power.</p>
				<p>A necrotic conduit can be deactivated with three successful Arcana or Religion (if your character serves an appropriate deity) skill checks. Alternatively, if the conduit suffers either (a) <monster-info data-field="damage" data-level=5 data-role="Supporter" data-type="Standard" data-multiplier=2></monster-info> damage or (b) two failed deactivation skill checks, it explodes and releases a damaging blastwave of necrotic energy.</p>

				<hazard class="panel panel--hazard">
					<header class="panel__header">
						<div class="panel__header__upper">
							<h4 class="panel__title">Necrotic Conduit</h4>
							<span class="hazard__level">Level 5 Supporter</span>
						</div>
						<div class="panel__header__lower">
							<ul class="panel__tags">
								<li>Large hazard</li>
								<li>Magical</li>
							</ul>
						</div>
					</header>
					<section class="panel__body">
						<div class="hazard__description">
							<p>A large, black crystal surrounded by a powerful ritual circle. Purple lightning arcs out periodically, and a black mist spreads from the crystal's core.</p>
							<p>The conduit harvests necrotic energy and emits a dangerous aura that hurts the living and heals the dead. Given enough time, it can even raise the dead.</p>
						</div>
						<div class="hazard__traits">
							<div class="hazard__trait">
								<p class="hazard__trait__title"><strong>Necrotic Aura</strong></p>
								<p class="hazard__trait__description">The conduit emits a 15 ft necrotic aura. Any living creature that enters the aura or starts its turn within it takes 5 necrotic damage. Any undead creature that starts its turn within the aura regains 5 hit points.</p>
							</div>
							<div class="hazard__trait">
								<p class="hazard__trait__title"><strong>Raise Dead</strong></p>
								<p class="hazard__trait__description">A dead creature left within the aura will be raised as an undead skeleton or zombie. The conduit can raise 1 medium-sized creature per hour (halve the time required for each smaller size category, and double it for each larger size). </p>
							</div>
							<div class="hazard__trait">
								<p class="hazard__trait__title"><strong>Regeneration</strong></p>
								<p class="hazard__trait__description">At the start of each round, the conduit regains 5 hit points.</p>
							</div>
						</div>
						<div class="hazard__actions">
							<div class="hazard__action hazard__action--common">
								<p class="hazard__action__title"><strong>Dark Lightning</strong> <i>(common)</i></p>
								<p class="hazard__action__description"><i>Ranged 20 ft:</i> <monster-info data-field="attack" data-level=5 data-role="Supporter" data-type="Standard" data-multiplier=1></monster-info> vs Dexterity. <i>Hit:</i> <monster-info data-field="damage" data-level=5 data-role="Supporter" data-type="Standard" data-multiplier=1></monster-info> necrotic damage.</p>
							</div>
						</div>
						<div class="hazard__countermeasures">
							<div class="hazard__countermeasure">
								<p class="hazard__countermeasure__title"><strong>Deactivate</strong></p>
								<p class="hazard__countermeasure__description">You can deactivate the conduit with 3 successful Arcana or Religion skill checks—two DC 10, and one DC 15. If you fail twice, however, the conduit overloads and explodes (see <i>Destroy</i>).</p>
							</div>
							<div class="hazard__countermeasure">
								<p class="hazard__countermeasure__title"><strong>Destroy</strong></p>
								<p class="hazard__countermeasure__description">The conduit has <monster-info data-field="hp-max" data-level=5 data-role="Supporter" data-type="Standard" data-multiplier=1></monster-info> hit points and is immune to magical damage. When reduced to 0 hit points, the crystal explodes and releases a blast of necrotic energy—any living creature within 30 ft takes <monster-info data-field="damage" data-level=5 data-role="Supporter" data-type="Standard" data-multiplier=2></monster-info> points of necrotic damage.</p>
							</div>
						</div>
						<div class="hazard__salvage">
							<p>If the conduit was safely deactivated, the crystal shatters into 100 gp of arcane dust. You can use this dust in place of any costed spellcasting component.</p>
						</div>
					</section>
				</hazard>
			</page>
			<page class="page page--generic page--court-of-bones">
				<h4>Skeleton Boneknights</h4>
				<p>As former guards of Reinburg, boneknights wear rusted plate armor and carry a broken, metal shield bearing the crest of their old kingdom.</p>
				<p>Skeleton boneknights try to defend their allies by harrying the enemy. Then, with their <i>Maneuvering Strike</i>, they try to move their enemy into a disadvantageous position. Whenever possible, they try to move living creatures into the damaging aura of the necrotic conduit to be corrupted by its necrotic power.</p>
				<p>Periodically, a boneknight can suffuse its sword with necrotic energy to leave a painful, decaying wound on living flesh.</p>

				<monster data-name="Skeleton Boneknight" data-description="Medium humanoid, undead" data-level=5 data-role="Defender" data-traits="relentless" data-powers="don't look away" data-type="standard" data-priorities="STR|CON|DEX|WIS|INT|CHA" data-vulnerabilities="Bludgeoning" data-immunities="Exhaustion, Poison, Poisoned" data-senses="Darkvision 60 ft" data-languages="Understands Common, can't speak">
					<div class="monster__actions">
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Slash</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 5 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] slashing damage.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Maneuvering Strike</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 5 ft:</i> DC [dc-primary] vs Dexterity. <i>Hit:</i> You force the target to move 5ft in a direction of your choosing, and you can move 5 ft afterwards. This movement does not trigger opportunity attacks.</p>
						</div>
						<div class="monster__action monster__action--limited">
							<p class="monster__action__title"><strong>Black Blade of Decay</strong> <i>(cooldown 2)</i></p>
							<p class="monster__action__description"><i>Melee 5 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] slashing damage and [damage] ongoing necrotic damage, save ends (Constitution vs DC [dc-secondary]).</p>
						</div>
					</div>
					<div class="monster__equipment">
						<p>Rusted plate armor, a chipped longsword, and a broken, metal shield bearing the crest of Reinburg.</p>
					</div>
				</monster>

				<col-break></col-break>

				<h4>Skeleton Flamecaster</h4>
				<p>Red veins of fire magic run through the charred bones of these flamecasters. Once dragonborn—as evident from the huge skeletal horns—these skeletons can still wield the fire magic of their former life.</p>
				<p>A skeleton flamecaster prefers to say out of reach, throwing orbs of explosive fire at the enemy—it's dangerous to stay clustered in groups with a flamecaster around. They use <i>Flare</i> to blind living creatures so that their allies can attack with advantage. And, if any enemy ventures too close, the skeleton uses its dragonbreath.</p>
				<p>When a flamecaster is reduced to 0 hit points, the necrotic power that animates it become dangerously unstable—the flamecaster's skeleton body explodes in a blast of searing flame.</p>

				<monster data-name="Skeleton Flamecaster" data-description="Medium humanoid, undead" data-level=5 data-role="Sniper" data-traits="explosive" data-powers="scattershot" data-type="standard" data-priorities="CON|DEX|STR|WIS|INT|CHA" data-vulnerabilities="Bludgeoning, Cold" data-immunities="Exhaustion, Fire, Poison, Poisoned" data-senses="Darkvision 60 ft" data-languages="Understands Common/Draconic, can't speak">
					<div class="monster__actions">
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Firebolt</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Ranged 60 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] fire damage.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Flare</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>15x15 ft area within 60 ft (living creatures only):</i> DC [dc-primary] vs Constitution. <i>Hit:</i> The target is <i>Blinded</i> until the end of its next turn.</p>
						</div>
						<div class="monster__action monster__action--limited">
							<p class="monster__action__title"><strong>Dragonbreath</strong> <i>(recharge 5/6)</i></p>
							<p class="monster__action__description"><i>20 ft cone:</i> DC [dc-secondary] vs Dexterity. <i>Hit:</i> [damage,0.75] fire damage and [damage,0.75] ongoing fire damage, save ends (Constitution vs DC [dc-primary]).</p>
						</div>
					</div>
					<div class="monster__equipment">
						<p>Decayed robes from a far away land, and a gold tooth.</p>
					</div>
				</monster>
			</page>
			<page class="page page--generic page--court-of-bones">
				<h4>Skeleton Dragoon</h4>
				<p>The skeletal dragoons—tieflings in their prior life—bear two curved horns and wield a long, sharp spear that remains surprisingly intact despite the ravages of time.</p>
				<p>The dragoons were famed fighters of Reinburg, leaping into battle with <i>Dragoon Leap</i> and using their metal spears to pierce their prone enemies. Dragoons likes to attack from a distance, using their long reach and sharp spear to great advantage. They are surprisingly fast for an undead skeleton, able to parry attacks and stab out at multiple foes in quick succession.</p>
				<p>If an enemy gets too close, dragoons try to push them back with a <i>Whirlwind Knockback</i>. They use this to push living creatures into the aura of the necrotic conduit, whenever possible.</p>

				<monster data-name="Skeleton Dragoon" data-description="Medium humanoid, undead" data-level=5 data-role="Striker" data-traits="parry" data-powers="press the attack" data-type="standard" data-priorities="DEX|CON|STR|WIS|INT|CHA" data-vulnerabilities="Bludgeoning" data-immunities="Exhaustion, Poison, Poisoned" data-senses="Darkvision 60 ft" data-languages="Understands Common/Infernal, can't speak">
					<div class="monster__actions">
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Pierce</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 10 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] piercing damage.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Rapid Stab</strong> <i>(common, multiattack 2)</i></p>
							<p class="monster__action__description"><i>Melee 10 ft:</i> [attack] vs AC. <i>Hit:</i> [damage,0.5] piercing damage.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Whirlwind Knockback</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>10 ft area:</i> DC [dc-primary] vs Dexterity. <i>Hit:</i> The target is pushed back 10 ft.</p>
						</div>
						<div class="monster__action monster__action--limited">
							<p class="monster__action__title"><strong>Dragoon Leap</strong> <i>(limited 3)</i></p>
							<p class="monster__action__description"><i>15x15 ft area within 30 ft (you leap to the center of the area):</i> DC [dc-secondary] vs Strength. <i>Hit:</i> [damage,0.75] piercing damage and the target is knocked prone.</p>
						</div>
					</div>
					<div class="monster__equipment">
						<p>A rusted dragon helmet and a metal spear.</p>
					</div>
				</monster>

				<col-break></col-break>

				<h3><span class="h3__highlight">A3</span>The Infernal Gallery</h3>
				<p>The Infernal Gallery was the waiting chamber for those seeking an audience with Queen Celestine. Now, </p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The walls of the gallery are lined with portraits and statues of Reinburg's former rulers. Cracked from decay and necrotic corruption, you can't help but feel that the eyes are following you around the room...</p>
					</section>
				</example>

				<p>Mortanius sits here, humming to himself and reading a book while his ritual to raise Celestine progresses in the Throne Room (A4). When he sees an intruder, he looks up with irritation.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>"More brave heroes?" says Mortanius with a tired sigh. "How very original. So you've come all this way to try and stop me? Very well. We still have time before Celestine is awake. I'll drain your memories, and then your souls. You'll make good puppets for my army..."</p>
					</section>
				</example>

				<p>Mortanius closes his book, raises eight skeleton minions to his defense, and attacks.</p>
				<p>When Mortanius is reduced to 0 hit points, he is not knocked unconscious—instead, he begins to teleport into the Throne Room (A4).</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>"Damn your eyes," spits Mortanius. "You're not as weak as you look. No matter—I'll just wake the Queen a little earlier than expected!"</p>
					</section>
				</example>

				<p>As he teleports, Mortanius drops the key to the Throne Room (A4) and his <i>Ioun Stone of Intellect</i>. A further search of the room (Investigate DC 15) will reveal 4 onyx gemstones in one of the gallery statues.</p>

				<encounter class="panel panel--encounter">
					<header class="panel__header">
						<h4 class="panel__title">The Infernal Gallery</h4>
						<ul class="panel__tags">
							<li>Face Mortanius and his undead protectors.</li>
							<li>4 MP</li>
						</ul>
						<span class="encounter__level">Normal vs 4</span>
					</header>
					<section class="panel__body">
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Monster</th>
									<th>Level</th>
									<th>MP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Mortanius (Elite Controller)</td>
									<td>5</td>
									<td>2</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Guardian (Minion Defender)</td>
									<td>5</td>
									<td>1</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Volatile Skeleton (Minion Striker)</td>
									<td>5</td>
									<td>1</td>
								</tr>
							</tbody>
						</table>
					</section>
				</encounter>

				<h4>Mortanius, the Necromancer</h4>
				<p>An egotistical necromancer with megalomaniacal delusions, Mortanius commands the unliving and bends them to his will.</p>
				<p>In battle, the necromancer surrounds himself with guardians as volatile skeletons swarm the enemy, exploding in a burst of necrotic energy. Mortanius drains life from his enemies and steals memories from the living. When his minions start to fall, the necromancer can bring them back to unlife with <i>Raise Dead</i>. His most powerful attack—<i>Doom</i>—curses an enemy with rapid, fatal decay.</p>
			</page>
			<page class="page page--generic page--court-of-bones">
				<monster data-name="Mortanius" data-description="Medium humanoid" data-level=5 data-role="Controller" data-traits="Aura: Damaging, Escape" data-powers="knockback" data-type="elite" data-priorities="INT|CHA|CON|DEX|WIS|STR" data-immunities="Necrotic" data-senses="Darkvision 60 ft" data-languages="Common, Draconic, Deep Speech">
					<div class="monster__actions">
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Shadowbolt</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Ranged 60 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] necrotic damage.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Steal Memories</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 5 ft:</i> DC [dc-primary] vs Intelligence. <i>Hit:</i> [damage] psychic damage.</p>
						</div>
						<div class="monster__action monster__action--limited">
							<p class="monster__action__title"><strong>Fear</strong> <i>(cooldown 2)</i></p>
							<p class="monster__action__description"><i>10x10 ft area within 30 ft:</i> DC [dc-secondary] vs Wisdom. <i>Hit:</i> The target is <i>Frightened</i> until the end of its next turn.</p>
						</div>
						<div class="monster__action monster__action--limited">
							<p class="monster__action__title"><strong>Life Drain</strong> <i>(limited 3)</i></p>
							<p class="monster__action__description"><i>Ranged 60 ft:</i> DC [dc-secondary] vs Constitution. <i>Hit:</i> The target takes [damage] necrotic damage and loses one unspent hit die (or gains a level of exhaustion if they have no remaining hit dice).</p>
						</div>
						<div class="monster__action monster__action--rare">
							<p class="monster__action__title"><strong>Raise Dead</strong> <i>(rare)</i></p>
							<p class="monster__action__description"><i>Self, 60 ft area:</i> You raise the bodies of up to 4 skeleton guardian minions that have been reduced to 0 hit points. The raised minions act immediately after your turn.</p>
						</div>
						<div class="monster__action monster__action--rare">
							<p class="monster__action__title"><strong>Doom</strong> <i>(rare)</i></p>
							<p class="monster__action__description"><i>Melee 5 ft:</i> DC [dc-secondary] vs Constitution. <i>Hit:</i> The target takes [damage,3] ongoing necrotic damage, save ends (Constitution vs DC [dc-secondary]).</p>
						</div>
					</div>
					<div class="monster__equipment">
						<p>Exquisite black and purple robes, an encrypted spellbook, and an <i>Ioun stone of Intellect</i>.</p>
					</div>
				</monster>

				<col-break></col-break>

				<monster data-name="Skeleton Guardian" data-description="Medium humanoid, undead" data-level=5 data-role="Defender" data-powers="got your back" data-type="minion" data-priorities="STR|CON|DEX|WIS|INT|CHA" data-vulnerabilities="Bludgeoning" data-immunities="Exhaustion, Necrotic, Poison, Poisoned" data-senses="Darkvision 60 ft" data-languages="Understands Common, can't speak" data-class="minimum">
					<div class="monster__actions">
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Slash</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 5 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] slashing damage.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Slam</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 5 ft:</i> DC [dc-secondary] vs Strength. <i>Hit:</i> The target falls prone.</p>
						</div>
					</div>
					<div class="monster__equipment">
						<p>Rusted plate armor and a hooked blade.</p>
					</div>
				</monster>

				<div>
					<monster data-name="Volatile Skeleton" data-description="Medium humanoid, undead" data-level=5 data-role="Scout" data-traits="explosive" data-type="minion" data-priorities="DEX|WIS|STR|CON|INT|CHA" data-vulnerabilities="Bludgeoning" data-immunities="Exhaustion, Necrotic, Poison, Poisoned" data-senses="Darkvision 60 ft" data-languages="Understands Common, can't speak" data-class="minimum">
						<div class="monster__actions">
							<div class="monster__action monster__action--common">
								<p class="monster__action__title"><strong>Claw Slash</strong> <i>(common)</i></p>
								<p class="monster__action__description"><i>Melee 5 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] slashing damage.</p>
							</div>
						</div>
					</monster>
				</div>
			</page>
			<page class="page page--generic page--court-of-bones">
				<h3><span class="h3__highlight">A4</span>The Throne Room</h3>
				<p>The door to the throne room is locked tight, and can be opened using Mortanius' key—alternatively, the lock can be picked (DC 15) or the door forced open (DC 20).</p>
				<p>Once opened, a large throne room is revealed, lit by a ring of magical blue fire burning all around the room's edge. Two <strong>necrotic conduits</strong> are active here, filling the room with a black mist.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The throne room is dark, decayed, and cold. Thick veins of necrotic energy line the walls, and the floor is almost hidden beneath a sea of bones. 10 ft up, a ring of magical blue fire bathes the room in spectral light.</p>
						<p>On either side of a raised dais, two necrotic conduits fill the room with sinister black mist.</p>
					</section>
				</example>

				<p>Mortanius stands in front of a large, inanimate skeleton—<strong>Celestine, the Skeleton Queen</strong>—hurriedly trying to complete his raising ritual.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Atop a flight of steps, a large and inanimate skeleton clad in royal garb sits atop a black throne. A huge greatsword sticks through the skeleton's chest, pinning it to the throne.</p>
						<p>Mortanius takes hold of the greatsword with both hands. "Rise, Queen Celestine! It's time to meet your new King." He pulls the sword free from the body.</p>
					</section>
				</example>

				<p>As the greatsword is removed, it crumbles to black ash. Removing the weapon allows Celestine's soul—trapped within the Dreadvault—to reclaim her body.</p>
				<p><strong>Hero's Greatsword:</strong> If anyone other than Mortanius should touch the greatsword, they immediately take 40 points of necrotic damage.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>You hear tortured, ghostly screams all around as a sudden vortex of wind fills the room. You feel like your own soul is being pulled towards the large skeleton.</p>
						<p>With a crackle of purple lighting, you see the skeleton start to rise. Blue fire burns in its eye sockets.</p>
					</section>
				</example>

				<p>With the Skeleton Queen revived, Mortainus laughs maniacally in victory and turns to face the party.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>"At last, the Court of Bones!" laughs Mortanius. "This kingdom, this world, it will all be mine!"</p>
						<p>The Queen looks down at the necromancer. "No," echoes her voice from beyond the grave.</p>
						<p>Mortanius freezes, the blood suddenly running cold in his veins. "I revived you, I control you!" he shouts in growing fear.</p>
						<p>"...You bore me," says Celestine. She reaches down, grabs hold of Mortanius, and sucks out his soul.</p>
					</section>
				</example>

				<col-break></col-break>

				<p>Celestine throws the corpse of Mortanius across the room, where it hits the wall with a sickening crunch.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Celestine is much taller than a normal human, her bones swollen and twisted with necrotic power. Black veins run through her skeleton, pulsing to the same beat as the Dreadvault. Atop her head sits a golden crown with a glistening sapphire. Her robes and cloak have remained uncorrupted by the decay of time.</p>
						<p>Flickering in and out of vision, you can see the glowing blue spectral outline of her spirit.</p>
					</section>
				</example>

				<p>As she looks down at the party, a spectral scythe forms in Celestine's hand. Ice starts to form on the ground beneath her skeletal feet.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>"The throne of Reinburg is MINE," proclaims Celestine. "I have sacrificed everything for my realm, and only <i>I</i> can protect it from what lies below."</p>
						<p>She points at the party with her scythe.</p>
						<p>"Submit to your Queen, brave heroes. Join my Court of Bones. Your souls will become a part of me, and I will carry your memory forward. Your bodies will live on forever as my elite vanguard. Together, we will destroy the Unknown!"</p>
					</section>
 				</example>

				<p>If the party refuse Celestine's offer, she responds with cold fury.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>"It is bad manners to refuse a queen," says Celestine coldly. "I won't tolerate bad manners in my court."</p>
					</section>
				</example>

				<encounter class="panel panel--encounter">
					<header class="panel__header">
						<h4 class="panel__title">The Throne Room</h4>
						<ul class="panel__tags">
							<li>Defeat Celestine, the Skeleton Queen.</li>
							<li>4 MP</li>
						</ul>
						<span class="encounter__level">Normal vs 4</span>
					</header>
					<section class="panel__body">
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Monster</th>
									<th>Level</th>
									<th>MP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Celestine the Skeleton Queen (Solo Defender, Controller, and Striker)</td>
									<td>5</td>
									<td>4</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Conduit (Hazard Supporter)</td>
									<td>5</td>
									<td>0</td>
								</tr>
							</tbody>
						</table>
					</section>
				</encounter>

				<h4>Celestine, The Skeleton Queen</h4>
				<p>Celestine is a powerful and intelligent undead skeleton. Recently revived—and not yet at her full power—she seeks to drain her enemies of their health and souls.</p>
				<p>Celestine has three notable forms during combat:</p>

				<ul>
					<li><strong>First Form:</strong> With high defenses to protect her from harm, Celestine pulls her enemies close and attacks them with her scythe.</li>
					<li><strong>Second Form:</strong> Celestine uses some of her power to summon skeleton minions into the fight whilst terrifying her enemies with <i>Undying Terror</i>.</li>
					<li><strong>Third Form:</strong> Her bones begin to crack and leak necrotic power, creating a dangerous aura. As a final gambit, Celestine tries to devour everyone's soul.</li>
				</ul>
			</page>
			<page class="page page--generic page--court-of-bones">
				<monster data-name="The Skeleton Queen (1/3)" data-description="Large humanoid, undead" data-level=5 data-role="Defender" data-traits="Indominable" data-powers="you can't leave" data-type="solo" data-priorities="STR|CHA|CON|DEX|INT|WIS" data-phase=1 data-immunities="Necrotic, Cold" data-senses="Darkvision 60 ft" data-languages="Common, Deep Speech">
					<div class="monster__actions">
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Scythe</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 10 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] slashing damage.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Grim Harvest</strong> <i>(common, multiattack 2)</i></p>
							<p class="monster__action__description"><i>Melee 10 ft:</i> [attack] vs AC. <i>Hit:</i> [damage,0.5] necrotic damage.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Frozen Soul</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Ranged 60 ft:</i> DC [dc-primary] vs Constitution. <i>Hit:</i> The target is <i>Restrained</i> until the end of its next turn.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Death's Grasp</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Ranged 60 ft:</i> DC [dc-secondary] vs Dexterity. <i>Hit:</i> You pull the target to an adjacent space.</p>
						</div>
						<div class="monster__action monster__action--limited">
							<p class="monster__action__title"><strong>Reap the Living</strong> <i>(recharge 5/6)</i></p>
							<p class="monster__action__description"><i>30x10 ft line:</i> [attack] vs AC. <i>Hit:</i> The target loses one unspent hit die and takes [damage,0.75] ongoing necrotic damage, save ends (Constitution vs DC [dc-secondary]).</p>
						</div>
						<div class="monster__action monster__action--limited">
							<p class="monster__action__title"><strong>Leap</strong> <i>(cooldown 2)</i></p>
							<p class="monster__action__description"><i>20x20 ft area within 30 ft (you leap to the center of the area):</i> DC [dc-primary] vs Strength. <i>Hit:</i> [damage,0.75] bludgeoning damage and the target falls prone.</p>
						</div>
						<div class="monster__action monster__action--rare">
							<p class="monster__action__title"><strong>Soul Sickness</strong> <i>(rare)</i></p>
							<p class="monster__action__description"><i>20 ft cone:</i> DC [dc-secondary] vs Charisma. <i>Hit:</i> The target is <i>Poisoned</i> and takes [damage,1.5] ongoing necrotic damage, save ends both (DC [dc-secondary] vs Charisma).</p>
						</div>
					</div>
				</monster>

				<col-break></col-break>

				<monster data-name="The Skeleton Queen (2/3)" data-description="Large humanoid, undead" data-level=5 data-role="Controller" data-powers="sidestep" data-type="solo" data-priorities="DEX|CHA|CON|STR|INT|WIS" data-phase=2 data-traits="Indominable" data-immunities="Necrotic, Cold" data-senses="Darkvision 60 ft" data-languages="Common, Deep Speech">
					<div class="monster__actions">
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Scythe</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 10 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] slashing damage.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Grim Harvest</strong> <i>(common, multiattack 2)</i></p>
							<p class="monster__action__description"><i>Melee 10 ft:</i> [attack] vs AC. <i>Hit:</i> [damage,0.5] necrotic damage.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Frozen Soul</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Ranged 60 ft:</i> DC [dc-primary] vs Constitution. <i>Hit:</i> The target is <i>Restrained</i> until the end of its next turn.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Knockback</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 10 ft:</i> DC [dc-secondary] vs Strength. <i>Hit:</i> The target is knocked back up to 15 ft. If it hits another creature, both creatures take [damage] bludgeoning damage and fall prone.</p>
						</div>
						<div class="monster__action monster__action--limited">
							<p class="monster__action__title"><strong>Raise Dead</strong> <i>(limited 2 MP)</i></p>
							<p class="monster__action__description"><i>15x15 ft area:</i> You spend some of your 2 MP to summon a number of skeletons. The skeletons act using one of your Paragon Actions.</p>
						</div>
						<div class="monster__action monster__action--limited">
							<p class="monster__action__title"><strong>Death's Chill</strong> <i>(recharge 5/6)</i></p>
							<p class="monster__action__description"><i>20x20 ft area within 30 ft:</i> DC [dc-primary] vs Dexterity. <i>Hit:</i> [damage,0.75] cold damage and the target is <i>Restrained</i>, save ends (Strength vs DC [dc-secondary]).</p>
						</div>
						<div class="monster__action monster__action--rare">
							<p class="monster__action__title"><strong>Undying Terror</strong> <i>(rare)</i></p>
							<p class="monster__action__description"><i>20 ft aura:</i> DC [dc-secondary] vs Wisdom. <i>Hit:</i> The target is <i>Frightened</i> and takes [damage,1] ongoing psychic damage, save ends both (DC [dc-secondary] vs Wisdom). <i>Miss:</i> The target takes [damage,0.5] psychic damage.</p>
						</div>
					</div>
				</monster>
			</page>
			<page class="page page--generic page--court-of-bones">
				<monster data-name="The Skeleton Queen (3/3)" data-description="Large humanoid, undead" data-level=5 data-role="Striker" data-traits="indominable, aura (damaging)" data-powers="press the attack" data-type="solo" data-priorities="CHA|STR|CON|DEX|INT|WIS" data-phase=3 data-immunities="Necrotic, Cold" data-vulnerabilities="Radiant" data-senses="Darkvision 60 ft" data-languages="Common, Deep Speech">
					<div class="monster__actions">
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Scythe</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 10 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] slashing damage.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Grim Harvest</strong> <i>(common, multiattack 2)</i></p>
							<p class="monster__action__description"><i>Melee 10 ft:</i> [attack] vs AC. <i>Hit:</i> [damage,0.5] necrotic damage.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Frozen Soul</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Ranged 60 ft:</i> DC [dc-primary] vs Constitution. <i>Hit:</i> The target is <i>Restrained</i> until the end of its next turn.</p>
						</div>
						<div class="monster__action monster__action--common">
							<p class="monster__action__title"><strong>Spear of Death</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>15x10 ft line:</i> DC [dc-secondary] vs Constitution. <i>Hit:</i> [damage] necrotic damage.</p>
						</div>
						<div class="monster__action monster__action--limited">
							<p class="monster__action__title"><strong>Wither Flesh</strong> <i>(cooldown 2)</i></p>
							<p class="monster__action__description"><i>20 ft cone:</i> <i>Hit:</i> The target takes [damage] necrotic damage and gains a level of exhaustion.</p>
						</div>
						<div class="monster__action monster__action--limited">
							<p class="monster__action__title"><strong>Rend Spirit</strong> <i>(limited 3)</i></p>
							<p class="monster__action__description"><i>10 ft area:</i> DC [dc-primary] vs Charisma. <i>Hit:</i> The target falls prone, takes [damage,0.75] psychic damage, and loses one unspent hit die (or gains a level of exhaustion if they have no remaining hit dice).</p>
						</div>
						<div class="monster__action monster__action--rare">
							<p class="monster__action__title"><strong>Devour Souls</strong> <i>(rare, overkill)</i></p>
							<p class="monster__action__description"><i>30 ft area:</i> <i>Hit:</i> [damage,4] psychic damage. If the target is reduced to 0 hit points, you consume its soul and regain hit points equal to the target's max HP. While charging this attack, you expose a weak point (32 HP, DC 14 perception) in your ribcage.</p>
						</div>
					</div>
				</monster>

				<col-break></col-break>

				<h4>Fall of the Skeleton Queen</h4>
				<p>When Celestine's final form is reduced to 0 hit points, she falls to one knee as her body starts to crumble into black ash. She drops a <i>Ring of Necrotic Resistance</i> and the historic <i>Crown of Reinburg</i>.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>"This... Cannot... Be!" hisses Celestine as necrotic power spills from her cracked body. One by one, her bones turn to ash until all that is left standing is her soul. "You fools, you don't understand what you've done here!" shouts the specter in terror.</p>
						<p>Suddenly, black spectral tentacles lash up from the ground and wrap around Celestine's ghost. She struggles in vain as they pull her down.</p>
						<p>"I tried to keep Reinburg safe, but now you've given <i>Him</i> the power to break free. The <i>Unknown</i> will consume everything, you've doomed us all!" she screams as the tentacles drag her out of mortal sight.</p>
						<p>Celestine's spectral screams are cut short. After a few seconds silence, an inhuman voice resonates throughout the chamber, shaking the very walls.</p>
						<p><i>"FEED ME."</i></p>
						<p>And then, for a few moments, all is suddenly quiet. That is, until the rumbling begins...</p>
					</section>
				</example>

				<p>Without Celestine's presence, the Dreadvault begins to collapse in on itself. The party have <strong>10 minutes to escape</strong> the Dreadvault before they are crushed to death by the rapidly collapsing ceiling.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Behind you, an almighty rumble shakes the cavern as the Dreadvault finally collapses. The Court of Bones is no more, and Reinburg is safe. For now...</p>
					</section>
				</example>

				<h2>What Next?</h2>
				<p>The <i>Court of Bones</i> is an adventure outline that you can customize, edit, and expand to suit your own table and story. There are many unanswered questions and unexplored areas for you to experiment with, such as:</p>
				<ul>
					<li>Who, or what, was Celestine so afraid of?</li>
					<li>How did Mortanius get the <i>Tome of Awakening</i>?</li>
					<li>Have the players met Mortanius before in a previous adventure or encounter?</li>
					<li>How did the players discover the Dreadvault?</li>
					<li>What's in the Dreadvault's other rooms?</li>
					<li>Who wants the <i>Crown of Reinburg</i>?</li>
					<li>Does Celestine allow the players to walk away instead of forcing a fight?</li>
					<li>Are there any complications/skill checks required to escape the collapsing Dreadvault?</li>
					<li>Who were the four heroes who killed Celestine the first time with a greatsword?</li>
				</ul>

				<p>Add plot hooks and story expansions as you see fit to turn this single adventure into a full campaign.</p>
			</page>
		</book>
	</body>
</html>
