.page--mm-combat-roles {

	.panel--combat-roles table {
    @include column-width(1, auto);
		@include column-width(2, 40px);
		@include column-width(3, 40px);
		@include column-width(4, 40px);
		@include column-width(5, 40px);
		@include column-width(6, 40px);
		@include column-width(7, 40px);
		@include column-width(8, 65px);
		@include column-width(9, auto);

    th,
    td {
      text-align: center;

      &:nth-child(1),
      &:nth-child(9) {
        text-align: left;
      }
    }
	}

  .panel--role-template {
		--color-header-bg: #275189;
		--color-skills-border: #{mix(#275189, white, 20%)};

    ul {
			list-style: none;
			padding: 0;
			column-count: 2;
			column-gap: 15px;
			column-rule: 1px solid var(--color-skills-border);

			strong {
				color: var(--color-header-bg);
				font-weight: bold;
				flex-grow: 1;
				display: flex;

        &.empty::after {
          margin-left: 0;
          margin-right: 0;
        }

        em {
          margin-left: 2px;
        }

        i {
          margin-right: 4px;
          width: 15px;
          line-height: 15px;
        }

				&::after {
					content: '';
					display: block;
					flex-grow: 1;
					border-bottom: 1px dotted var(--color-skills-border);
					margin: 0 4px 4px;
					align-self: flex-start;
					padding-top: 10px;
					min-width: 1px;
				}
			}

			li {
				display: flex;

        &::before {
          display: none;
        }
			}
		}

		.trait {
			padding-left: 19px;
			border-top: 1px solid var(--color-skills-border);
			margin-top: 7px;
      position: relative;
			padding-top: 7px;

      + .trait {
        border-top: none;
        padding-top: 0;
        margin-top: 0;

        p strong::before {
          top: 0;
        }
      }

			> ol {
				margin-top: 0;
			}

			p strong {
				font-variant-numeric: lining-nums;

        &::before {
          background: var(--color-header-bg);
          width: 15px;
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          top: 7px;
          border-radius: 10px;
          content: '\f0da';
          font-family: "Font Awesome 6 Pro";
          font-weight: 900;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 9px;
        }
			}
		}
	}

	.role--powers {
		height: 615px;
		column-span: all;
		margin-top: 30px;
    border-top: 1px solid #d8b89773;
    padding-top: 14px;

    &::before {
      top: 15px;
    }

		.banner {
			--color-header-bg: #275189;
			--color-heading-border: #275189;
			--banner-height-bottom: 40px;
			width: 210px;

			.banner__body {
        counter-reset: trait;

        p {
          counter-increment: trait;

          strong::before {
            content: counter(trait, upper-alpha);
            background: var(--color-header-bg);
            color: white;
            width: 15px;
            display: inline-block;
            text-align: center;
            margin-right: 4px;
            border-radius: 10px;
          }
        }

        strong {
          color: var(--color-header-bg);
        }

        p + p {
          margin-top: 15px;
          text-indent: 0;
        }
      }
		}
	}
}