.theme--pf {

	.page--monster-templates {

		.table--monster-templates {
		
			tbody tr:not(:first-child).section {
		
				td {
					border-top-color: rgba(grayscale($panel--list__header--bg), 0.5);
				}
			}
		
			thead tr:first-of-type th:nth-child(4),
			thead tr:last-of-type th:nth-child(2),
			tfoot tr:first-of-type th:nth-child(2),
			tfoot tr:last-of-type th:nth-child(4),
			tbody td:nth-child(4),
			thead tr:first-of-type th:nth-child(5),
			thead tr:last-of-type th:nth-child(4),
			tfoot tr:first-of-type th:nth-child(4),
			tfoot tr:last-of-type th:nth-child(5),
			tbody td:nth-child(6),
			thead tr:first-of-type th:nth-child(8),
			tfoot tr:last-of-type th:nth-child(8),
			tbody td:nth-child(9),
			thead tr:first-of-type th:nth-child(11),
			tfoot tr:last-of-type th:nth-child(11),
			tbody td:nth-child(12) {
				border-left-color: grayscale($panel--list__header--bg);
			}
		}
	}

	.page--faq {

		a:not(.button) {
			color: inherit;
		}
	}
}