.page--ratings-and-levels {

  .table--challenge-ratings {
    @include table-column(1, center, 20%);
    @include table-column(2, center, 20%);
    @include table-column(3, center, 20%);
    @include table-column(4, center, 20%);
    @include table-column(5, center, 20%);

    thead tr:first-of-type th:nth-of-type(2) {
      width: 80%;
      font-size: smaller;
    }

    thead tr:not(:first-of-type) {
      margin-top: -22.5px;
    }
  }
}