// Styles for making attacks pages.

.page--making-attacks {

  .table--monster-multiattacks {
    @include table-column(1, center, 26%);
    @include table-column(2, center, 24%);
    @include table-column(3, center, 25%);
    @include table-column(4, center, 25%);

    th:first-child {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .table--monster-conditions {
    @include table-column(1, left, 25%);
    @include table-column(2, left, 75%);
  }

  .table--monster-area-templates {
    @include table-column(1, left, 20%);
    @include table-column(2, left, 80%);
  }

  .table--monster-area-damage {
    @include table-column(1, left, 43%);
    @include table-column(2, left, 57%);
  }

  .table--monster-movement-types {
    @include table-column(1, left, 16%);
    @include table-column(2, left, 84%);
  }

  .table--monster-resource-types {
    @include table-column(1, left, 24%);
    @include table-column(2, left, 76%);

    td:nth-child(1) {
      padding-right: 0;
    }
  }

  .table--monster-magic-themes {
    @include table-column(1, left, 25%);
    @include table-column(2, left, 75%);
  }

  .tables--monster-summoning-costs .table {
    @include table-column(1, left, 50%);
    @include table-column(2, left, 50%);
  }
}